section.literature
	h6 Литература
	ol
		ul: a(href="https://www.youtube.com/watch?v=E72DWgKP_1Y") Linear programming introduction
		ul: a(href="https://www.whitman.edu/Documents/Academics/Mathematics/lewis.pdf") Linear Programming: Theory and Applications Catherine Lewis May 11, 2008
		ul: a(href="https://math.mit.edu/~goemans/18310S15/lpnotes310.pdf") 18.310A lecture notes March 17, 2015; Linear programming; Lecturer: Michel Goemans
		ul: a(href="https://www.uky.edu/~dsianita/300/online/LP.pdf") Linear programming
article: include introduction
ul #[dt Виды решений ЗЛП]
	dl
		dt #[abbr(term="Вырожденное решение") ВР]
		dd БР содержащее базисную переменную равную нулю
article: include simplex_method
