extends ../_layout

block content
    a(href="https://institutes.mai.ru/robotics/707b/#")
    p Кафедра 707Б «Внешнее проектирование и эффективность авиационных комплексов». 
        strong И. о. заведующего кафедрой — старший преподаватель Мария Илларионовна Топорова.
    p Кафедра 707Б «Внешнее проектирование и эффективность авиационных комплексов» готовит специалистов в по направлению подготовки «Специальные организационно-технические системы». Учебный процесс на кафедре построен по «физтеховской модели». Первые два курса студенты обучаются на базе МАИ (кафедра  располагает учебным компьютерным классом). Начиная с 3-го курса учебный процесс по специальным предметам переносится на базу ГосНИИАС, что предусматривает использование в обучении студентов теоретического материала и технических возможностей предприятия. Постоянное тесное общение студентов с преподавателями, являющимися ведущими специалистами ГосНИИАС, совместное обсуждение различных научных проблем развивают научный интеллект студентов, закладывают фундамент для развития высокого творческого потенциала будущих научных работников.
    p Широкая математическая подготовка и свободное владение вычислительной техникой, а также глубокие знания в области проектирования сложных систем, методов исследования операций позволяют выпускникам кафедры заниматься разработками в области функционирования и проектирования сложных систем: авиационных комплексов на различных предприятиях авиационной отрасли.
    p На кафедре ведутся научно-исследовательские работы, посвящённые вопросам внешнего проектирования и эффективности авиационных комплексов различного назначения, в которых активное участие принимают студенты.
    ul Научные направления работы кафедры:
        li исследование проблем внешнего проектирования и эффективности авиакомплексов различного назначения;
        li математическое моделирование различных этапов жизненного цикла авиакомплексов;
        li математическое моделирование операций применения авиакомплексов различного назначения.
