hgroup 
	h1 МЕТОДЫ ОДНОМЕРНОЙ ОПТИМИЗАЦИИ
	+source(links=['http://dit.isuct.ru/IVT/sitanov/Literatura/M171/Pages/Glava1_3.htm'])
p При построении процесса оптимизации стараются сократить объем вычислений и время поиска. Этого достигают обычно путем сокращения количества вычислений значений целевой функции #[+m f(x)]. 
dl
	dt: dfn Метод золотого сечения
	dd
		p.intro Одним из наиболее эффективных методов, в которых при ограниченном количестве вычислений #[+m f(x)] достигается наилучшая точность.
		p Если известно, что функция #[+m f(x)] унимодальная на отрезке #[+m= String.raw`[a,b]`], то положение точки минимума можно уточнить, вычислив #[+m f(x)] в двух внутренних точках отрезка. При этом возможны две ситуации:
		figure
			img(src='http://dit.isuct.ru/IVT/sitanov/Literatura/M171/Pages/Glava1_3.files/image002.jpg')
			figcaption: ol 
				li #[+m f(x_1)<f(x_2)] - Минимум реализуется на отрезке #[+m= String.raw`[a,x_2]`]. 
				li #[+m f(x_1)>f(x_2)] - Минимум реализуется на отрезке #[+m= String.raw`[x_1,b]`].
		p В методе золотого сечения каждая из точек #[+m x, x_2] делит исходный интервал на две части так, что отношение целого к большей части равно отношении большей части к меньшей, т.е. равно так называемому "золотому отношению". Это соответствует следующему простому геометрическому представлению:
		figure
			img(src='http://dit.isuct.ru/IVT/sitanov/Literatura/M171/Pages/Glava1_3.files/image004.jpg')
			figcaption: +m.block \frac y{y_2} = \frac {y_2}{y_1} \Leftrightarrow \frac y{y-y_1} = \frac {y-y_1}{y_1} \Longrightarrow \\ \frac {y_1}y = z: \frac 1{1-z} = \frac {1-z}z \Rightarrow z = \frac {3-\sqrt 5}2 \approx 0.382
		p Итак, длины отрезков #[+m= String.raw`[a,x_1]`] и #[+m= String.raw`[x_2,b]`] одинаковы и составляют 0.382 от длины #[+m() (a,b)]. Значениям #[+m f(x_1)] и #[+m f(x_2)] определяется новей интервал #[+m() (a,x_2)] или #[+m() (x_1,b)], в котором локализован минимум. Найденный интервал снова делится двумя точками в том же отношении, причем одна из новых точек деления совпадает с уже использованной на предыдущем шаге.
		p Взаимное расположение точек первых трех вычислений можно показать следующим образом:
		ol
			li: figure 
				figcaption: +m.block f(x_1)<f(x_2)
				img(src='http://dit.isuct.ru/IVT/sitanov/Literatura/M171/Pages/Glava1_3.files/image015.gif')
			li: figure 
				figcaption: +m.block f(x_1)≥f(x_2)
				img(src='http://dit.isuct.ru/IVT/sitanov/Literatura/M171/Pages/Glava1_3.files/image016.gif')
		p Таким образом, длина интервала неопределенности на каждом шаге сжимается с коэффициентом #[+m 0.618]. На первом шаге необходимы два вычисления функции, на каждом последующем - одно.
		p Длина интервала неопределенности после #[+m S] вычислений значений #[+m f(x)] составляет: #[+m l=0.618^{S-1}(b-a)]
		figure
			ol
				li Вычисляется значение функции #[+m x_1=a+0.382(b-a): f(x_1)].
				li Вычисляется значение функции #[+m x_2=b-0.382(b-a): f(x_2)].
				li Определяется новый интервал #[+m (a,x2)] или #[+m (x1,b)], в котором локализован минимум.
				li Внутри полученного интервала находится новая точка #[+m x_1] в случае 1 или #[+m x_2] в случае 2, отстоящая от его конца на расстоянии, составляющем 0.382 от его длины. В этой точке рассчитывается значение #[+m f(x)]. Затем вычисления повторяются, начиная с пункта 3, до тех пор, пока величина интервала неопределенности станет меньше или равна ε, где ε - заданное сколь угодно малое положительное число.
			figcaption Алгоритм метода золотого сечения для минимизации функции #[+m f(x)] складывается из следующих этапов:
		figure
			img(src='http://dit.isuct.ru/IVT/sitanov/Literatura/M171/Pages/Glava1_3.files/image020.jpg')
			figcaption Блок-схема алгоритма поиска минимума функции #[+m f(x)] методом золотого сечения
		details.example
			summary Используя метод золотого сечения, минимизировать функцию #[+m f(х)=x^2+2х] на интервале (-3,5). Длина конечного интервала не­определенности не должна превосходить 0.2.
			ol
				li: +m.block.
					\begin{aligned}a=-3 \\ b= 5 \\ b-a= 8\end{aligned}:
					\begin{cases}
					x_1= -3 + 0,362∙8 = 0,056 \\ x_2 = 5 - 0.382∙8 = 1,944 \\
					f(x_1)= 0,056 +2∙0,056 =0,115 \\ f(x_2)= 1,944 + 2∙1,944=7,667 \\
					\end{cases} \\ \Downarrow \\ f(x_1)\lt f(x_2) \Rightarrow \text{ Новый отрезок } [-3; 1,944]
				li: +m.block.
					\begin{aligned}a=-3 \\ b= 1.944 \\ b-a=4.944 \end{aligned}:
					\begin{cases}
					x_1= -3+ 0.382∙4.944 = -1.112 \\ x_2 = 0.056 \\
					f(x_1)= (-1.112) + 2∙(-1.112) = -0.987 \\ f(x_2)= 0.115 \\
					\end{cases} \\ \Downarrow \\ f(x_1)\lt f(x_2) \Rightarrow \text{ Новый отрезок } [-3; 0.056]
			p Дальнейшие вычисления оформим в виде таблицы. Значения функции f(x_2). вычисленные на каждом шаге. помечены звездочкой.
			table
				tr
					td: p № шага
					td: p a
					td: p b
					td: p b-a
					td: p x
					td: p x
					td: p f(x)
					td: p f(x)
				tr
					td: p 1
					td: p -3,000
					td: p 5,000
					td: p 8,000
					td: p 0,056
					td: p 1,944
					td: p 0,115
					td: p 7,667
				tr
					td: p 2
					td: p -3,000
					td: p 1,944
					td: p 4,944
					td: p -1,112
					td: p 0,056
					td: p -0,987
					td: p 0,115
				tr
					td: p 3
					td: p -3,000
					td: p 0,056
					td: p 3,056
					td: p -1,832
					td: p -1,112
					td: p -0,308
					td: p -0,987
				tr
					td: p 4
					td: p -1,832
					td: p 0,056
					td: p 1,888
					td: p -1,112
					td: p -0,664
					td: p -0,987
					td: p -0,887
				tr
					td: p 5
					td: p -1,832
					td: p -0,664
					td: p 1,168
					td: p -1,384
					td: p -1,112
					td: p -0,853
					td: p -0,987
				tr
					td: p 6
					td: p -1,384
					td: p -0,664
					td: p 0,720
					td: p -1,112
					td: p -0,936
					td: p -0,987
					td: p -0,996
				tr
					td: p 7
					td: p -1,384
					td: p -0,936
					td: p 0,448
					td: p -1,208
					td: p -1,112
					td: p -0,957
					td: p -0,987
				tr
					td: p 8
					td: p -1,208
					td: p -0,936
					td: p 0,272
					td: p -1,112
					td: p -1,032
					td: p -0,987
					td: p -0,999
				tr
					td: p 9
					td: p -1,112
					td: p -0,936
					td: p 0,176
			p После восьми шагов, содержащих девять вычислений функции, интервал неопределенности равен (-1,112; -0,936), его длина #[+m 0.176 < 0.2]. В качестве точки минимума может быть взята середина этого интервала -1,024; при этом f(-1,024)=-0,999. Заметим, что точкой точного минимума является -1,0; f(-1,0)=-1.
