//- <script src="https://unpkg.com/mathjs@11.8.2/lib/browser/math.js"></script>
//- script(src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8")
//- script(src="../plot_script.js") 
//- <form id="form">
//- <label for="eq">Enter an equation:</label>
//- <input type="text" id="eq" value="4 * sin(x) + 5 * cos(x/2)" />
//- <input type="submit" value="Draw" />
//- </form>

//- <div id="tester" style="width:600px;height:250px;"></div>
//- .plot(style="width:70vw; height=20vh" data-graph="x^2")
//- <p>Used plot library: <a href="https://plot.ly/javascript/">Plotly</a></p>
h5 Forms of matrices
dl
  dt trianlge
  dd
    +m.
      \begin{pmatrix}
      a_{11} & a_{12} & a_{13} & … & a_{1n} \\
      0 & a_{22} & a_{23} & … & a_{2n} \\
      0 & 0 & a_{33} & … & a_{3n} \\
      \vdots & \vdots & \vdots & \ddots & \vdots \\
      0 & 0 & 0 & … & a_{mn}
      \end{pmatrix}
  dt(lang="en") Row echelon form
  dt Прямоугольный вид 
  dd
    +m(where={"p_i":""}).
      \begin{pmatrix}
      0 & … & 0 & a_{1p_1} & a_{1p_1+1} & a_{1,p_1+2} & a_{1,p_1+3} & … & a_{1n} \\
      0 & … & 0 & 0 & a_{2,p_2} & a_{2,p_2+1} & a_{2,p_2+2} & … & a_{2n} \\
      \vdots & \ddots & \vdots & \vdots & \vdots & \vdots & \ddots & \vdots \\
      0 & … & 0 & 0 & 0 & 0 & a_{3,p_r} & … & a_{3r} \\
      \vdots & \ddots & \vdots & \vdots & \vdots & \vdots & \ddots & \vdots \\
      0 & … & 0 & 0 & 0 & 0 & … & 0
      \end{pmatrix}
    dl.where
      dt #[+m i=\overline{1,r},p_{i+1}&lt;p_i, \forall a_{i,p_i}\ne 0,\forall a_{i,p_i + \const} \in \mathbb{R}: p_i]
      dd число обозначающее столбец с которого в #[+m i] строке начинается не нулевое значение элемента #[+m a_{i,p_i}\ne 0], но после этого столбца может идти любое число #[+m a_{i,p_i + \const} \in \mathbb{R}]
dl Algoritms
  dt Gaussian elimination
  dd a systematic procedure that, given an input matrix #[+m A], performs a sequence of elementary row operations on it so that it is converted to a #[dfn row echelon form]
  dd has a fundamental theoretical and didactic significance in linear algebra, as a starting point for further developments. But in practice it has mostly been replaced by more complicated and more efficient algorithms. Similarly, the basic version of the simplex method that we discuss here is not commonly used for solving linear programs in practice. We do not put emphasis on the most efficient possible organization of the computations, but rather we concentrate on the main ideas.
article: include matrices