h2 Матрицы
	a(href="https://math1.ru/education/matrix/matrix.html")
dl
	dt Матрица 
	dd прямоугольная таблица из $m\in \N$ строк и $n\in \N$ столбцов, содержащая $m\times n$ элементов расположенных на пересечении этих строк и столбцов.
	dd 
		ul #[strong Обозначения] 
			li Строчное: $A_{m\times n}=\qty(i=\overline{1,m},j=\overline{1,n}:a_{ij}=\begin{cases}\if{f(i,j)} g(i,j)\\…\\\else e(i,j)\end{cases})$, где $A$ - имя матрицы - любая заглавная латинская буква #[small #[em очень часто] буква $A$]; $m,n \in \N$ - порядки матрицы - количество строк и столбцов соответсвенно; $m\times n$ - размер матрицы; $f(i,j)$ - функция условие, при выполнение которого элемент $a_{ij}$ приминает значение функции $g(i,j)$; $g(i,j)$ - функция возвращающая значение элемента $a_{ij}$ на пересечение $i$ строки и $j$ столбца, это #[strong значение может быть элементом #[em другой матрицы] и с помощью этого можно собрать матрицу из разных матриц]; $\begin{cases}\if{f(i,j)} g(i,j)\\…\\\else 0\end{cases}$ - система условий которая определяет значение элемента $c_{ij}$ в $i$ строке и $j$ столбце, чаще всего имеет такую форму $\begin{cases}\if{\forall i,\forall j} a_{ij}\end{cases} \Leftrightarrow a_{ij}$ и значение элементов задаются в развернутой записи матрицы.
			li Развернутое: $A_{m\times n} = \begin{pmatrix}a_{11} & a_{12} & … & a_{1n} \\a_{21} & a_{22} & … & a_{2n} \\\vdots & \vdots & … & \vdots \\ a_{m1} & a_{m2} & … & a_{mn} \\\end{pmatrix}$, где $A$ - имя матрицы - любая заглавная латинская буква #[small #[em очень часто] буква $A$]; $m,n \in \N$ - порядки матрицы - количество строк и столбцов соответсвенно; $m\times n$ - размер матрицы; $\{i=\overline{1,m},j=\overline{1,n}:a_{ij}\}$ - множество элементов матрицы которые могуть быть равны любому числу, выражению, переменной или элементу другой матрицы;
		ol.example
			li $A_{2\times 3} = (i=\overline{1,2},i=\overline{1,3}:a_{ij}) = \begin{pmatrix} a_{11} & a_{12} \\  a_{21} & a_{22} \\  a_{31} & a_{32} \end{pmatrix}$ - Матрица $A$ 2 на 3 состоящая из элементов $a$ с 1 первой строки по 2 и 1 столбца по 3
			li $C_{5\times 4} = \qty(i=\overline{1,m},j=\overline{1,n}:c_{ij}=\begin{cases}\if{i \le 3 \lor j \lt 4} a_{ij}\\\else b_{ij}\end{cases})=\begin{pmatrix} a_{11} & a_{12} & a_{13} & a_{14} \\  a_{21} & a_{22} & a_{23} & a_{24} \\  a_{31} & a_{32} & a_{33} & b_{34} \\  a_{41} & a_{42} & a_{43} & b_{44} \\  a_{51} & a_{52} & a_{53} & b_{54} \end{pmatrix}$ - Матрица $C$ 5 на 4 состоящая из элементов $a$ с 1 строки по 2 и 1 столбца по 3 и элементов $b$ с 3 строки по 5 и 4 столбца

	dt Элемент матрицы
		a(href="https://www.cuemath.com/algebra/elements-of-matrix/")
	dd число, переменная или выражение. Количество элементов матрицы равно произведению ее порядков. 
p Запись матрицы:
p Сокращенная  |  ℹ️  - указывает на то что элементы матрицы обозначаются как 
p Развернутая 
p Матрицы равны 
p Нумерация: • Строк - сверху вниз; • Столбцов – слева направо
p Ведущий элемент ненулевой строки - первый (слева направо) ненулевой элемент
p Элементы главной диагонали (Главные диагональные элементы) 
p Элементы второстепенной(побочной) диагонали (Второстепенные(побочные) диагональные элементы)  
p ℹ️ Диагональные элементы есть в неквадратных матрицах ◁, главные диагональные элементы: 
p След матрицы  ()  сумма главных диагональных элементов
p Виды матриц: -матрица(-ы)
p Вырожденная 
p Эквивалентные  - матрицы, полученные одна из другой путём элементарных преобразований
p В зависимости от размера:
p Прямоугольная матрица 
p Матрица-строка  - матрица состоящая из одной строки
p Матрица-столбец  - матрица состоящая из одного стобца
p Квадратная  
p В зависимости от значения элементов:
p Нулевая 
p Ортогональная  ℹ︎ Определитель ортогональной матрицы равен 
p Диагональная матрица - квадратная матрица, у которой все элементы, кроме стоящих на главной диагонали, равны нулю ◁  ℹ︎ Диагональная матрица - ортогональная ⟽ ее диагональные элементы равны  ⇤
p Союзная (Присоединенная) матрица   матрицы  - матрица  состоящая из  алгебраических дополнений  к соотвествующим элементам матрицы 
p Единичная  - квадратная матрица со значением элементов: На главной диагонали - 1; В остальных - 0
p Треугольная 
p Cтупенчатая  - матрица у которой нулевые строки, если есть, расположены ниже всех ненулевых строк и номера ведущих элементов ненулевых строк образуют строго возрастающую последовательность
p Симметричная   - матрица, элементы которой симметричны относительно главной диагонали ℹ️ Имеет действительные собственные значения и ее собственные векторы, соответствующие разным собственным значениям, ортогональны друг другу: 
p Согласованные 
p Операции над матрицами
p Линейные операции
p Сумма матриц одинаковых порядков 
p Произведение матрицы на вещественное число 
p Свойства линейных операций:
p Коммутативность (Переместительный закон) сложения 
p Ассоциативность (Сочетательный закон) сложения  
p Транспонирование
p Транспонирование  - переход от изначальной матрицы к матрице, в которой строки | столбцы изначальной матрицы становятся столбцами | строками. Свойства:
p Произведение матриц
p Произведение двух согласованых матриц - произведение каждого элемента каждой строки первой матрицы на каждый элемент столбца второй матрицы
p Свойства:
p Ассоциативность умножения 
p Элементарные преобразования
p Элементарные преобразование - операции над строками/стобцами матрицы, которые не влияют на ранг матрицы. В них входит:
p Менять строки | столбцы со строками | столбцами местами
p Умножение строки/столбца на любое число
p Прибавить к элементам строки | столбца соответсвующие элементы другой строки | столбца умноженной на любое число, отличное от нуля
p ❖ Приведение к треугольному/ступенчатому виду
p Записываем матрицу 
p Для каждого элемента на главной диагонали 
p Обнуляете элементы под этим элементом с помощью элементарных преобразований 
p Получилась нулевая строка ⟾ ее можно вычеркнуть 
p В результате должна получиться треугольная/ступенчатая матрица
p Обратная матрица
p Обратная матрица  - матрица которая при умножении на исходную матрицу даёт в результате единичную матрицу. 
p Методы нахождения при условие : 
p Союзной матрицей  
p ❖ Поиск с помощью элементарных преобразований строк
p Записать расширенную матрицу 
p Привести расширенную матрицу к виду  посредством элементарных преобразований
p С помощью СЛАУ
p Квадратичные формы
p 2. Метод Якоби.
p Квадратичная форма  переменных  - однородный многочлен  второй степени от переменных, в котором  каждое слагаемое содержит либо квадрат переменной, либо парное произведение переменных
p Например: квадратичная форма двух переменных : 
p Виды записи:
p Многочлен: 
p Краткая: 
p Матричная: 
p 	- столбец(вектор) неизвестных
p - транспонированый столбец(вектор) неизвестных
p 	- матрица квадратичной формы (Симметричная)
p Дискриминант квадратичной формы - определитель матрицы квадратичной формы 
p Ранг квадратичной формы - ранг матрицы квадратичной формы 
p Квадратичная форма определена:
p Положительно: если для любого ненулевого вектора  : , 
p Отрицательно: если для любого ненулевого вектора : 
p Виды квадратичной формы:
p Канонический - квадратный многочлен  имеющий только переменные в квадрате, , образуется если матрица  диагональна
p Нормальный - квадратный многочлен  имеющий только переменные в квадрате с коэффицентами  равными , 
p Метод Лагранжа приведения квадратичной формы к каноническому виду
p Ведущая переменная - переменная входящящая в квадратичную форму во второй и в первой степени одновременно
p Выделить полный квадрат по ведущей переменной - собрать в квадратичной форме все члены с ведущей переменной, дополнить сумму этих членов до полного квадрата (разумеется, добавленные члены нужно также и вычесть, чтобы не изменилась сумма)
p Для приведения  квадратичной формы  переменных  к каноническому виду нужно выполнить следующие действия:
p Выбрать ведущую переменную и перейти к пункту 2, если:
p Ведущих переменных нет, то выбрать пару переменных, произведение которых входит в квадратичную форму с отличным от нуля коэффициентом, и перейти к пункту 3
p Отсутствуют произведения различных переменных, то никаких преобразований делать не надо, так как она уже имеет канонический вид
p По ведущей переменной выделить полный квадрат. Получаем сумму полного квадрата линейной формы (с  ведущей переменной) и квадратичной формы, в которую ведущая переменная не входит. Дальше:
p Сделать замену переменных: линейную форму, содержащую ведущую переменную, принять за одну из новых переменных, а все старые переменные, за исключением ведущей, принять за соответствующие новые
p Продолжить преобразования с пункта 1
p Выбранную пару переменных заменить на разность и сумму двух новых переменных, а остальные старые переменные принять за соответствующие новые переменные. При этом произведение пары выбранных переменных преобразуется к разности квадратов двух новых переменных, т.е. в новой квадратичной форме  будут квадраты переменных с отличными от нуля коэффициентами. Продолжить преобразования новой квадратичной формы с пункта 1
p Идея метода Лагранжа - п.2 (выделение полного квадрата), исключает одну переменную из числа ведущих. Например, если переменная  - ведущая (т.е.  и хотя бы один из коэффициентов  отличен от нуля), то выделяем полный квадрат по переменной  (собираем все члены с  и дополняем их сумму до полного квадрата): 
p Выражение, стоящее в квадратных скобках, есть полный квадрат. Поэтому 
p где  - квадратичная форма, в которую не входит ведущая переменная  
p 	- линейная форма, содержащая ведущую переменную . Обозначим , или, что то же самое, сделаем линейную замену переменных:
p 