h2 Complex numbers

h4 Imaginary Numbers
  a(href="http://www.milefoot.com/math/complex/imagnumbers.htm")
p.intro What is #[+m \sqrt{-1}] ? A symbol thrust upon earthlings by an alien culture? Well, not quite... (unless you view mathematics as representative of an alien culture... but we won't go there). The "usual" numbers "normal" people work with are called #[em real numbers]. They include whole numbers, fractions, decimals, negative numbers, square roots of positive numbers, and numbers like #[+m \pi]. 
dl
  dt Imaginary number #[+m i = \sqrt{-1}]
  dd Mathematicians usually use one of two statements as the definition of #[+m i], either #[+m i = \sqrt{-1}] or #[+m i^2 = -1]. (Some electrical engineers will use #[+m j] instead of #[+m i], because they use #[+m i] to represent inductive force, alias current. But the idea is the same.)
  dd The number that not real. #[mark Real numbers are complex numbers. So are imaginary numbers. Just like a whole number is also a fraction.]
  dd.intro 
    p The real numbers include basically anything that a calculator will turn into a decimal, or anything that has a position on the number line. But #[+m \sqrt{-1}] does not have a position on the number line. There is no number we can square to get negative one.#[br] So we can't use a real number for #[+m \sqrt{-1}]. We must use a different kind of number. The sixteenth century mathematicians who first seriously worked with #[+m \sqrt{-1}] weren't sure what its significance was, so they called it an imaginary number #[small , a very unfortunate term cause in fact, there is nothing imaginary about #[+m \sqrt{-1}] (But it did take two centuries before mathematicians generally understood its significance)]. #[mark We don't need any other definitions for square roots of other numbers, having #[+m i] is enough. #[span.example We can write #[+m \sqrt{-9} = 3i], since the square root of 9 is 3, and the square root of a negative number will produce the number #[+m i].]]
    figure
      img(src='http://www.milefoot.com/math/complex/images/numberline.gif')
      figcaption Number line
  dd To draw them #[small when they aren't on the number line,] we need second number line to represent the pure imaginary part of the complex number, cause a one-dimensional number line will not sufficient #[eg we need a two-dimensional picture to represent complex numbers]. So the real numbers are points on the horizontal axis. #[em Imaginary numbers] are located somewhere other than the horizontal axis. #[mark #[dfn Pure imaginary numbers] are points on the vertical axis (other than the origin). #[dfn Complex numbers] include all possible points in the picture.]
    figure
      img(src='http://www.milefoot.com/math/complex/images/argand.gif')
      figcaption The number #[+m 2+3i], represented by a point.
  dt Pure imaginary numbers #[+m b \in \mathbb{R}: bi]
  dd Product of a nonzero real number #[+m b] with the imaginary number #[+m i]. The collection of numbers created by taking square roots of the negative numbers. #[mark None of the pure imaginary numbers have a position on the number line].
  dt Complex numbers #[+m a,b \in \mathbb{R}: a+bi]
  dd The collection of numbers created by adding a real number with a pure imaginary number. 
  dd #[strong Square Root of #[+m i]]
    a(href="http://www.milefoot.com/math/complex/squarerootofi.htm")
    a(href="http://www.milefoot.com/math/complex/sqrootsimag.htm")
    p.intro What about #[+m \sqrt{i}], for instance? Won't we need a #[+m j], or some other invention (er, dimension)? Well..., you can take everything to extremes, but we won't need to. #[+m() (2+3i)^2 = (2+3i)(2+3i) = 4+6i+6i+9i^2 = 4+12i-9 = -5+12i]. Therefore, the square root of #[+m -5+12i] is #[+m 2+3i]. It turns out that the Square Root of #[+m i] is another complex number. We won't need a #[+m j]. We won't need a third dimension for #[+m \sqrt{i}].
    p #[strong An algebraic derivation] Assume there is a number #[+m a+bi] which represents #[+m \sqrt{i}]. Since #[+m() (a+bi)^2 = a^2+2abi+b^2 i^2 = (a^2-b^2)+(2ab)i] and since this result should equal the number #[+m i], we obtain the following system of equations: #[+m \begin{cases} a^2-b^2 &=0 \\ 2ab &=1 \end{cases}]. When the first equation is solved for the variable #[+m a], we learn that the variables #[+m a] and #[+m b] are either equal or opposites. From the second equation, we know that the product is a positive one-half, so the variables #[+m a] and #[+m b] must be equal. (If they were opposite, the product would have been negative.) Therefore, the second equation becomes #[+m 2a^2=1], whose solution is #[+m a = \pm \frac{\sqrt{2}}{2}]. Therefore, the number #[+m i] has two square roots (just like positive numbers do). They are #[+m \frac{\sqrt{2}}{2} + \frac{\sqrt{2}}{2} i] and #[+m -\frac{\sqrt{2}}{2} - \frac{\sqrt{2}}{2} i].
    details.examples
      summary Find square roots of
      ol
        li #[span.task #[+m 3+4i]] Since #[+m() (a+bi)^2 = a^2+2abi+b^2 i^2 = (a^2-b^2)+(2ab)i] we need to solve the system of equations #[+m \begin{cases} a^2-b^2 &=3 \\ 2ab &=4 \end{cases}]. #[small We can't solve this system as quickly as we did when we found the square root of #[+m i], but it still can be done]. Solving the second equation for the variable #[+m b], we get #[+m b=\frac2a]. Substituting this quantity into the first equation, we get #[+m a^2-\frac{4}{a^2}=3]. Clearing the fractions gives #[+m a^4-3a^2-4=0]. This can be solved by factoring, so #[+m a^2=4] or #[+m a^2=-1]. But we want real values for the variable #[+m a], so we discard #[+m -1]. Therefore, #[+m a^2=4], and the values of #[+m a] are #[+m 2] and #[+m -2]. Using #[+m b=\frac2a], we find #[+m b=\pm 1]. So the two square roots of #[+m 3+4i] are #[+m 2+i] and #[+m -2-i].
        li #[span.task #[+m 2+3i]] Once again, since #[+m() (a+bi)^2 = a^2+2abi+b^2 i^2 = (a^2-b^2)+(2ab)i] we need to solve the system of equations #[+m \begin{cases} a^2-b^2 &=2 \\ 2ab &=3 \end{cases}]. Solving the second equation for the variable #[+m b], we get #[+m b=\frac{3}{2a}]. Substituting this quantity into the first equation, we get #[+m a^2 - \frac{9}{4a^2} = 2]. Clearing the fractions gives #[+m 4a^4-8a^2-9=0]. This can be solved using the quadratic formula, and we get #[+m a^2 = 1 \pm \frac{\sqrt{13}}{2}]. But we want real values for the variable #[+m a], so we discard the negative sign. Therefore, we get #[+m a = \pm \sqrt{1+\frac{\sqrt{13}}{2}} = \pm \frac12 \sqrt{4+2\sqrt{13}}]. (Messy, but true!) Using #[+m b=\frac{3}{2a}], we find #[+m b= \pm \frac{3}{\sqrt{4+2\sqrt{13}}}]. So the two square roots of #[+m 2+3i] are #[+m \frac12 \sqrt{4+2\sqrt{13}} + \frac{3}{\sqrt{4+2\sqrt{13}}} i] and #[+m -\frac12 \sqrt{4+2\sqrt{13}} - \frac{3}{\sqrt{4+2\sqrt{13}}} i].
  dd #[strong Imaginary Numbers and Trigonometry]
    a(href="http://www.milefoot.com/math/complex/imagandtrig.htm")
    figure
      img(src='http://www.milefoot.com/math/complex/images/argand2.gif')
      figcaption Graphical representation of #[+m 2+3i]. The parts of the complex number #[+m 2+3i] are shown by the horizontal and vertical sides of the triangle. The hypotenuse of the right triangle has length #[+m \sqrt{13}], found by using the Pythagorean Theorem or the distance formula.
    p In the triangle, if we use #[+m P] for the name of the angle at the origin, then we can rewrite the number #[+m 2+3i] by using its trigonometric components. The horizontal component is #[+m \sqrt{13}\cos P], the vertical component is #[+m \sqrt{13}(\sin P)i], so the number #[+m 2+3i] is the same as #[+m \sqrt{13}(\cos P + i \sin P)]. #[mark Basically, every complex number can be written in the form #[+m a + bi = r(\cos P + i\sin P)].]
    p #[span.intro There are many identities in trigonometry, and they are the key to multiplying and dividing complex numbers.] Suppose we have the two complex numbers #[+m r(\cos P + i \sin P)] and #[+m s(\cos Q + i \sin Q)]. When we multiply them using distributive property, we obtain #[+m rs (\cos P \cos Q + i \cos P \sin Q + i \sin P \cos Q - \sin P \sin Q)]. But the formulas for the sine and cosine of a sum allow us to rewrite this result as #[+m [r (\cos P + i \sin P)][s (\cos Q + i \sin Q)] = rs[\cos(P+Q)+i\sin(P+Q)]] 
    p #[+m r(\cos P + i \sin P) * s(\cos Q + i \sin Q) = rs (\cos P \cos Q + i \cos P \sin Q + i \sin P \cos Q - \sin P \sin Q) = rs[\cos(P+Q)+i\sin(P+Q)]]. In words, multiplying complex numbers involves multiplying their distances from the origin, and adding their angles.
    p We can derive a similar formula for dividing complex numbers. That formula is #[+m \frac{r (\cos P + i \sin P)}{s (\cos Q + i \sin Q)} = \frac{r}{s}[\cos(P-Q)+i\sin(P-Q)]] 
    h5 Powers and roots
    p Since exponents represent repeated multiplication, we can derive a formula for powers of complex numbers. That formula is known as #[b DeMoivre's Theorem]: #[+m \left[r(\cos P+i\sin P) \right]^n = r^n (\cos nP + i \sin nP)] 
    p We can also use this formula to do roots, by using fractions for the variable #[+m n]. However, roots are not unique, since the trigonometric functions are periodic. The formula which gives the #[+m n]th roots is #[+m= String.raw`[r (\cos P + i \sin P)]^{\frac{1}{n}} = r^\frac{1}{n} \left( \cos \frac{P+2k\pi}{n}+i\sin \frac{P+2k\pi}{n}\right)`]. #[strong This formula not only does square roots, but all kinds of roots].
    p So what is the square root of #[+m 2+3i]? In trigonometric form, the original number is #[+m \sqrt{13}(\cos P + i\sin P)], where the angle #[+m P = \arctan \frac32]. Therefore, the square roots are #[+m \sqrt{\sqrt{13}}\left( \cos\frac12\arctan\frac32+i\sin\frac12\arctan\frac32\right)] and #[+m \sqrt{\sqrt{13}}\left( \cos(\pi+\frac12\arctan\frac32)+i\sin(\pi+\frac12\arctan\frac32)\right)].

h4 Using #[+m i] as an Exponent
  a(href="http://www.milefoot.com/math/complex/exponentofi.htm")
p Since we can find the square root of #[+m i], can we do other operations with #[+m i]? For instance, can we use #[+m i] as an exponent? We sure can.
p There is a relationship between #[a(href='http://www.milefoot.com/math/complex/imagandtrig.htm') imaginary numbers and trigonometry], which produces the multiplication formula
| #[+m= String.raw`\left[r(\cos P+i\sin P)\right]\left[s(\cos Q+i\sin Q)\right]= rs\left[\cos(P+Q)+i\sin(P+Q)\right]`] 
p This formula basically states that multiplication of complex numbers is related to addition of angles.
p There is another situation in which multiplication turns into addition, which you may call from your beginning algebra days. Exponent rules have the property that #[+m a^x a^y = a^{x+y}]. So we might expect a connection between complex numbers and exponential functions. And such a connection does exist! It is not normally studied until calculus, because of the difficulties in the details. But we won't let that stop us...
h5 A definition
p In a (usually second semester) calculus course, relationships between functions and "infinite degree polynomials" are studied. Such relationships are called series representations of the functions. For our purpose, the important series representations are:
| #[+m e^x = 1+x+\frac{x^2}{2!}+\frac{x^3}{3!}+\frac{x^4}{4!}+\frac{x^5}{5!}+\ldots] #[+m \cos x = 1-\frac{x^2}{2!}+\frac{x^4}{4!}-\frac{x^6}{6!}+\ldots] #[+m \sin x = x-\frac{x^3}{3!}+\frac{x^5}{5!}-\frac{x^7}{7!}+\ldots] 
p You should immediately notice that if the terms of the sine and cosine series were combined, and certain signs changed, that the exponential series would result. In fact, by introducing the number #[+m i] into the mix, we can get the following result:
| #[+m e^{ix} = 1+ix-\frac{x^2}{2!}-\frac{ix^3}{3!}+\frac{x^4}{4!}+\frac{ix^5}{5!}-\ldots = \cos x + i\sin x] 
p This result is often used as a the beginning of a definition of complex number exponents.
h5 Some examples
p Let's substitute some numbers.
p Using a value of 1 for #[+m x], we get #[+m e^i = \cos 1 + i\sin 1 \approx 0.5403+0.8415i].
p Using #[+m \pi] for the value of #[+m x], we get #[+m e^{i\pi} = \cos\pi + i\sin\pi =-1+0i=-1]. This result is often written as #[+m e^{i\pi}+1=0]. It is considered a quite remarkable relationship between five important numbers of mathematics: the additive identity 0, the multiplicative identity 1, the imaginary unit #[+m i], and the constants #[+m e] and #[+m \pi].
h5 Different bases
p What if we want to raise other numbers to the power #[+m i]? We can use the following relationship: #[+m a^x = (e^{\ln a})^x = e^{x \ln a}].
p Using base #[+m 2] and exponent #[+m i], we get #[+m 2^i = e^{i\ln 2} = \cos\ln 2+i\sin\ln 2 \approx 0.7692+0.6390i]. (This is actually the principal value of #[+m 2] to the #[+m i] power, there are other values which are possible.)
p Using base #[+m i] and exponent #[+m i], we get: #[+m i^i = e^{i\ln i} = e^{i\ln\left(\cos\frac{\pi}{2}+i\sin\frac{\pi}{2}\right)} = e^{i\ln e^{\frac{i\pi}{2}}} = e^{\frac{-\pi}{2}}]. This is another amazing result. An imaginary number to an imaginary power is a real number! In this case, the number is approximately #[+m 0.2079]. (Although this is also the principal value, one of many possible values.)
h5 General formula
p Let's get a general formula for a complex number to a complex power. (In the process, we will see why powers can have many answers.) We begin with #[+m() (a+bi)^{c+di} = e^{(c+di)\ln(a+bi)}]. Then we can rewrite #[+m a+bi] in trigonometric form, say #[+m r(\cos P+i\sin P)]. But we found a relationship between trigonometry and complex exponentials, so this number also has a complex exponential form, #[+m re^{iP}]. Substituting this form into the exponent of our original equation, we have #[+m() (a+bi)^{c+di} = e^{(c+di)\ln re^{iP}}]. This can be simplified to obtain #[+m() (a+bi)^{c+di} = e^{(c\ln r-dP)+i(d\ln r+cP)}]. The real and imaginary parts of this exponent can be simplified separately, to obtain the result:
| #[+m() (a+bi)^{c+di} = r^c e^{-dP}\left[\cos(d\ln r+cP)+i\sin(d\ln r+cP)\right]] 
p So why can this formula give many answers? Because there are many ways to describe the angle #[+m P]. So we allow the variable #[+m P] in the above formula to vary by multiples of #[+m 2\pi]. This gives our final result:
| #[+m() (a+bi)^{c+di} = r^c e^{-dP}\left[\cos(d\ln r+cP+2ck\pi)+i\sin(d\ln r+cP+2ck\pi)\right]] 
h5 Epilogue
p Once you have mastered imaginary exponents, you can do almost any function involving imaginary numbers. Read on in #[a(href='http://www.milefoot.com/math/complex/functionsofi.htm') Functions of Complex Numbers], where you will learn how to do logarithms, trigonometric, and hyperbolic functions, and their inverses.






h4 Functions of Complex Numbers
  a(href="http://www.milefoot.com/math/complex/functionsofi.htm")
p Once we have mastered #[a(href='http://www.milefoot.com/math/complex/exponentofi.htm') using #[+m i] as an exponent], we can advance to functions of complex numbers. Exponential functions, of course, are simply functions which use #[+m i] as an exponent.
h5 Logarithm functions
p Since a complex number can be written in exponential form as #[+m re^{iP}], a logarithm is almost immediate. We get #[+m \ln re^{iP} = \ln r + \ln e^{iP} = \ln r + iP], which gives the principal value of the natural logarithm. But the angle #[+m P] is not unique, as it can vary by multiples of #[+m 2\pi]. Therefore, the formula for the natural logarithm of a complex number is #[+m \ln re^{iP} = \ln r + iP + 2k\pi i].
p For example, we can find the natural logarithm of #[+m i]. Its principal value is #[+m \ln i = \ln \left(1e^{\frac{i\pi}{2}}\right) = \frac{\pi}{2} i].
p Another interesting example is the natural logarithm of negative one. Its principal value is #[+m \ln (-1) = \ln \left(1e^{i\pi}\right) = \pi i]. (And you thought you couldn't take logarithms of negative numbers! You can, but the answers are not real numbers.)
p We can use the change-of-base formula to find other base logarithms (including complex bases). For example, #[+m \log_i{e} = \frac{\ln e}{\ln i} = \frac{1}{\frac{\pi}{2}i} = \frac{-2}{\pi} i].
h5 Trigonometric Functions
p Because of the formula #[+m e^{ix}=\cos x+i\sin x], we can immediately obtain some formulas for the sine and cosine functions, in terms of complex exponentials. These formulas are often used as definitions of the trigonometric functions for complex numbers.
| #[+m \cos{x} = \frac{e^{ix}+e^{-ix}}{2}, \qquad \sin{x} = \frac{e^{ix}-e^{-ix}}{2i}] 
p Substituting the quantity #[+m ix] in place of the variable #[+m x], we can produce formulas for pure imaginary numbers. Notice that the results are related to the hyperbolic functions.
| #[+m \cos{ix} = \frac{e^x+e^{-x}}{2} = \cosh x, \qquad \sin{ix} = \frac{e^{-x}-e^{x}}{2i} = i\sinh x] 
p Then, using the formulas for the sine and cosine of the sum of two angles, we can obtain formulas for the sine and cosine of complex numbers.
| #[+m \cos(a+bi) = \cos a \cosh b - i\sin a \sinh b] #[+m \sin(a+bi) = \sin a \cosh b + i\cos a \sinh b] 
p As an example, consider the cosine of #[+m i]. We get #[+m \cos i = \cos 0 \cosh 1 - i\sin 0 \sinh 1 = \cosh 1 = \frac{e^1+e^{-1}}{2} \approx 1.5431 ].
h5 Hyperbolic Functions
p Using the connection between hyperbolic functions and trigonometric functions, the results for hyperbolic functions are almost immediate.
| #[+m \cosh(a+bi) = \cosh a \cos b + i\sinh a \sin b] #[+m \sinh(a+bi) = \sinh a \cos b + i\cosh a \sin b] 
p As an example, consider the hyperbolic cosine of #[+m i]. We get #[+m \cosh i = \cosh 0 \cos 1 + i\sinh 0 \sin 1 = \cos 1 \approx 0.5403 ].
h5 Inverse Trigonometric Functions
p Since #[+m \cos x = \frac{e^{ix}+e^{-ix}}{2}], we can find the inverse by replacing the function with the variable #[+m y], swapping #[+m x] and #[+m y], then solving for #[+m y]. After the variable swap, we have #[+m x = \frac{e^{iy}+e^{-iy}}{2}]. Multiplying both sides by #[+m 2e^{iy}] gives the equation #[+m 0 = e^{2iy} - 2xe^{iy} + 1]. This can be solved using the quadratic formula, to get #[+m e^{iy} = \frac{2x \pm \sqrt{4x^2-4}}{2}]. After simplifying, we can take the natural logarithm of both sides and divide by #[+m i]. Then, the result is
  +m \cos^{-1} x = -i\ln\left[x\pm i\sqrt{1-x^2}\right]
p (A factor of #[+m i] typically appears as the coefficient of the square root so that the similarities between the inverse cosine and inverse sine formulas are more apparent.)
p By similar arguments, the inverse sine formula is found to be #[+m \sin^{-1} x = -i\ln\left[ix\pm \sqrt{1-x^2}\right]] and the inverse tangent formula is #[+m \tan^{-1} x = \frac{i}{2} \ln\frac{i+x}{i-x}] 
p As an example, consider the inverse cosine of #[+m i]. We shall find only one of its many values, by using the plus sign in the formula. We get: #[+m \cos^{-1} i = -i\ln\left[i+i\sqrt{1-i^2}\right\] = -i\ln\left[(1+\sqrt{2})i\right\]]. Then we use the logarithm formula to continue: #[+m -i\ln\left[(1+\sqrt{2})i\right] = -i\ln\left[(1+\sqrt{2})e^{\frac{i\pi}{2}}\right] = -i\left[\ln(1+\sqrt{2}) +\frac{\pi}{2}i \right]]. This can be simplified, and we get #[+m -i\left[\ln(1+\sqrt{2}) +\frac{\pi}{2}i \right] = \frac{\pi}{2} -i\ln(1+\sqrt{2}) \approx 1.57-0.88i].
h5 Inverse Hyperbolic Functions
p The formulas are identical to those previously found for inverse hyperbolic functions:
| #[+m \cosh^{-1} x = \ln\left[x\pm \sqrt{x^2-1}\right]] #[+m \sinh^{-1} x = \ln\left[x\pm \sqrt{x^2+1}\right]] 
p For example, one of the values of the inverse hyperbolic cosine of #[+m i] (using the plus sign in the formula) is: #[+m \cosh^{-1} x = \ln\left[i+ \sqrt{i^2-1}\right] = \ln\left[(1+\sqrt{2})i\right]]. Then using the logarithm formula, we get: #[+m \ln\left[(1+\sqrt{2})i\right] =\ln(1+\sqrt{2})+\frac{\pi}{2}i \approx 0.88+1.57i].


