h1 Дифференцируемость
h2 Таблица
ol.columns
	li #[+m \qty(\frac uv)' = \frac{u'v-v'u}{v^2}]
h2 Функций нескольких переменных #[a(href="https://gubkin.ru/faculty/faculty-of-complex-safety-of-the-fuel-and-energy-complex/kafedry-i-podrazdeleniya/ksa/files/chastnie.pdf")]
h3 Частные приращения
p Для функции #[+m z = f(х, y)] переменные #[+m х] и #[+m у] являются независимыми, их поведение не связано друг с другом, например одна может измениться, а другая при этом сохранить свое значение. Частное приращение функции по соответствующей переменной в точке #[+m() (x, у)] - приращение, которое функция #[+m z = f(х, y)] получает, когда изменяется только одна из переменных, а другая фиксируется
figure
	img.no-invert(src="Приращение.webp" height = 300)
	figcaption: h1 Приращение
p Для примера рассмотрим функцию двух переменных #[+m z = f(x, y)], определенную в некоторой окрестности #[+m М_0(х_0,y_0) \in D(f)]. Пусть #[+m \Delta х, \Delta у] настолько малы, что: #[+m M_1(x_0+\Delta x;y_0),M_2(x_0;y_0+\Delta y),M_3(x_0+\Delta x;y_0+\Delta y) \in D(f)]
dl
	dt Частное приращение #[+m \Delta_x z = f(x_0+\Delta x,y_0)-f(x_0,y_0)] по #[+m x] функции #[+m z= f (x,y)] в точке #[+m M_0(x_0;y_0)] 
	dt Частное приращение #[+m \Delta_y z = f(x_0,y_0+\Delta y)-f(x_0,y_0)] по #[+m x] функции #[+m z= f (x,y)] в точке #[+m M_0(x_0;y_0)] 
	dt Полное приращение #[+m \Delta z = f(x_0+\Delta x, y_0+\Delta y_0 - f(x_0,y_0))] функции #[+m z = f (x, y)] в ТОЧКе #[+m M_0(x_0;y_0)]

toggle(target="example")
example 
	div.
		Для функции #[+m z=xy] найти частные приращения и полное приращение в точке #[+m M_0(1;2)].
		Решение. Воспользовавшись определением, вычисляем в точке #[+m M(x; y)) приращения функции ]z=xy#[+m :
		]\Delta_x z = (x+\Delta x) y - xy = y\Delta x,\quad \Delta_y z = (y+\Delta y) x - xy = x\Delta y \\ \Delta z = (x+\Delta x)(y+\Delta y)-xy = x\Delta y + y \Delta x + \Delta x \Delta y#[+m Ответ в точке ]M_0(1;2)#[+m : ]\Delta_x z(M_0)=2\Delta x, \Delta_y z(M_0) = \Delta y,\quad \Delta z(M_0) = 2\Delta x + \Delta y + \Delta x \Delta y#[+m h3 Частные производные
dl
	dt Частная производная ]\pdv{z(x_0,y_0)}{x}\Leftrightarrow z’_x(x_0,y_0)=\lim_{\Delta x \to 0} \Delta \frac{\Delta_x z}{\Delta x} = \lim_{\Delta x\to 0} \frac{f(x_0+\Delta x, y_0)-f(x_0,y_0)}{\Delta x}#[+m ] по ]x#[+m функции ]z = f (x, у)#[+m в точке ]M_0(x_0;y_0)#[+m dd конечный предел отношения частного приращения ]\Delta_x z#[+m к приращению ]\Delta x#[+m при стремлении ]\Delta x \to 0#[+m к нулю, если этот предел существует
	dt Частная производная ]\pdv{z(x_0,y_0)}{y}\Leftrightarrow z’_y(x_0,y_0)=\lim_{\Delta y \to 0} \Delta \frac{\Delta_y z}{\Delta y} = \lim_{\Delta y\to 0} \frac{f(x_0+\Delta y, y_0)-f(x_0,y_0)}{\Delta y}#[+m ] по ]y#[+m функции ]z = f (x, у)#[+m в точке ]M_0(x_0;y_0)#[+m dd конечный предел отношения частного приращения ]\Delta_y z#[+m к приращению ]\Delta y#[+m при стремлении ]\Delta y \to 0#[+m к нулю, если этот предел существует.


p Замечание 1. Из определения частных производных непосредственно вытекает метод их вычисления: чтобы найти ]z’_x,z’_y#[+m , нужно продифференцировать выражение ]f(х, у)#[+m по ]х,y#[+m , считая величину ]y,x#[+m постоянной соответсвенно.
p Замечание 2. Понятия частных приращений, полного приращения, частных производных для функции ]u=f(x_1,…,x_n) любого числа переменных вводятся аналогично.
p Замечание 3. Процедура вычисления частных производных функции нескольких переменных сводится к вычислению обыкновенной производной этой функции по одной из переменных при условии, что остальные переменные выступают в роли параметров.
p Отсюда следует, что правила вычисления частных производных совпадают с правилами, действующими для функции одной переменной. Однако требуется каждый раз помнить, по какой переменной вычисляется производная, а какие переменные при этом мысленно фиксируются.
toggle(target="example")
example
	ol
		li Найти частные производные функции #[+m z=x\ln y+\frac{y}{x}]. Решение: Чтобы найти частную производную по #[+m х], считаем #[+m y] постоянной величиной #[+m z’_x=\ln y + y\qty(\frac 1x)’ = \ln y - \frac{y}{x^2}]. Аналогично находим #[+m z’_y=x(\ln y)’ + \frac 1x y’ = \frac xy + \frac 1x]

