extends ../_layout.pug
block content
    section 
        h1 Литература
        ol
            li #[a(href="https://engineering.purdue.edu/wcchew/ece604s20/Lecture%20Notes/" lang="En") Lectures on Electromagnetic Field Theory. Weng Cho CHEW1 Spring 2020, Purdue University]

    section
        h1 Электродинамика
        h1.wavy-text Some Text
        h3 Дивергенция векторного поля #[a(href="https://portal.tpu.ru/SHARED/k/KONVAL/Sites/Russian_sites/T_field/manual/17.htm")]
        p Рассмотрим произвольную точку $M(x,y,z)$ и опишем вокруг этой точки замкнутую поверхность $ΔS$. Составим отношение потока $\Delta \Phi$ вектора $A$ через поверхность $ΔS$ к объему $ΔV$ области, ограниченной этой поверхностью. Затем перейдем к пределу $ΔV→0$, стягивая поверхность $ΔS$ в точку.
        p Полученный предел называется дивергенцией векторного поля $A$ и обозначается символическим выражением $divA$
        p Таким образом, $\text{div} A=\nabla \cdot A= \lim_{\Delta V \to 0} \frac{\text{∯}_{\Delta S} A_n dS}{\Delta V}$
        p Определение дивергенции векторного поля $A$ можно также представить в виде $\nabla \cdot A = \lim_{\Delta V \to 0} \frac{\Delta \Phi}{\Delta V} = \frac{d\Phi}{dV}$
        p Если сопоставить определение дивергенции с определениями плотности распределения массы или плотности распределения заряда, то можно сказать, что дивергенция векторного поля $A$ представляет собой плотность распределения потока векторного поля $A$
        p Суть понятия "дивергенция векторного поля" выявляется особенно наглядно, если обратиться к уравнению Максвелла $\nabla E = \frac{\rho}{\epsilon_0}$, которое в явном виде связывает дивергенцию электрического поля $E$ с плотностью $ρ$ распределения зарядов источников электрического поля. Иначе говоря, дивергенция векторного поля представляет собой плотность распределения источников поля.Электрическое поле в диэлектриках и в проводниках
        h1 Электростатика
        h2 Электрическое поле в диэлектриках и в проводниках #[a(book="16 Ландсберг т.2 ")]
        p Электрическое поле может существовать не только в вакууме, но и внутри вещества, ибо электрические силы могут действовать и внутри различных тел. При этом, однако, надо иметь в виду существенное различие между проводниками и диэлектриками. 
        ul 
            li В проводнике имеются электрические заряды, свободно перемещающиеся под действием электрических сил. Следовательно возникновение в проводнике электрического поля, влечет приведение в движение свободных зарядов проводника под действием этого поля, т. е. через проводник будет идти электрический ток.
            li В диэлектрике же движение зарядов под действием электрических сил происходить не может.
        .definition
            span.name Равновесие зарядов в проводнике
            span.meaning состояние в котором заряды распределятся по проводнику таким образом, чтобы создаваемое ими внутри проводника электрическое поле компенсировало внешнее поле, вызвавшее перемещение зарядов
        p В опытах с зарядкой отдельных проводников мы не наблюдаем длительного тока, т. е. заряды на проводнике после некоторых перемещений приходят в состояние равновесия. Пока оно не наступило, электрические заряды, благодаря их подвижности в проводнике, будут продолжать движение. Таким образом, при равновесии зарядов напряженность электрического поля в проводнике равна нулю, т. е. электрическое поле в проводнике отсутствует. В диэлектрике наличие электрического поля не препятствует равновесию зарядов. Сила, действующая на заряды в диэлектрике со стороны электрического поля, уравновешивается внутри молекулярными силами, удерживающими заряды в пределах молекулы диэлектрика, так что в диэлектрике возможно равновесие зарядов, несмотря на наличие электрического поля. #[span.note Конечно разделение тел на проводники и диэлектрики условно. При достаточно большой напряженности поля и в диэлектрике возможно заметное перемещение зарядов, ведущее к пробою диэлектрика. Однако при общепринятом разделении тел на проводники и диэлектрики мы можем сказать, что в случае равновесия зарядов электрическое поле внутри проводника (например, металла) отсутствует, а электрическое поле в диэлектрике (например, в стекле) может существовать.]
        figure
            img(src="Проводник и система зарядов.svg" height = 400)
            figcaption.title Проводник и система зарядов
            figcaption 
                ol.inline 
                    li Система зарядов с напряженностью поля $E_q$
                    li Напряженность поля между системой зарядов и проводником $E = E_q+E_i$
                    li Индукционно заряженный проводник с помощью 1 с напряженностью поля $E_i$ вокруг него и $E=0$ внутри него


        h3 Объёмная плотность энергии электрического поля
        h4 Потенциальная энергия системы неподвижных точечных зарядов #[a(href="https://edu.tltsu.ru/er/book_view.php?book_id=14d4&page_id=11944")]
        p Заряд $q$, находящийся на проводнике, можно рассматривать как систему точечных зарядов Δq. Пусть есть два неподвижных точечных зарядов: $q_1$ и $q_2$, находящиеся на расстоянии $r$ друг от друга. Так как электростатические силы консервативны, то система зарядов обладает потенциальной энергией. Тогда $W_{p1}=q_1\phi_{12}; W_{p2}=q_2\phi_{21}$ и $\phi_{12} = \frac{q_2}{4\pi \epsilon_0 r};\phi_{21} = \frac{q_1}{4\pi \epsilon_0 r}$ #[br] $W_{12}=W_{n2}=\frac{q_1q_2}{4\pi \epsilon_0 r}$ #[br] $W=\frac{W_1+W_2}{2}=\frac 12 (q_1\varphi_{12}+q_2\varphi_{21})$
        p Для системы $N$ неподвижных зарядов: $W=\frac 12 \sum_{k=1}^N q_i\varphi_{ik}=\frac 12 q_i \sum_{k=1}^N \varphi_{ik}=\frac 12 q_i\varphi_i$, где $\varphi_{ik}$- потенциал создаваемый в той точке, где находится заряд $q_i$, всеми зарядами, кроме i-го.
        h3 Диэлектрики
        .definition
            span.name Идеальные диэлектрики  
            span.meaning вещества, не содержащие свободных зарядов
        p В куске незаряженного диэлектрика, помещённого в электростатическое поле, появляются так называемые связанные заряды. В результате напряжённость поля внутри и вне диэлектрика изменяется по модулю и направлению по сравнению с тем, что было в соответствующих точках пространства до внесения диэлектрика. Природа возникновения связанных зарядов связана с явлением поляризации.
        .definition
            span.name явление поляризации
            span.meaning ориентация нейтральных молекул по полю из-за того, что молекулы были или стали под действием внешнего поля диполями
        p Связанные заряды, возникшие в поляризованном диэлектрике, создают собственное электростатическое поле, которое накладывается на внешнее, противодействуя ему и пытаясь ослабить. Результирующее поле внутри диэлектрика становится отличным от внешнего.
        .definition
            span.name диэлектрическая проницаемость $\varepsilon$ #[span.unit Ф/м]
            span.meaning характеристика однородного изотропного диэлектрика, если граница такого диэлектрика перпендикулярна внешнему электрическому полю, то напряжённость поля в диэлектрике будет в  $\varepsilon$ раз меньше, чем в вакууме
        p Напряжённость поля равномерно распределённого по сфере заряда, точечного заряда и бесконечной равномерно заряженной плоскости, помещённых в диэлектрик с диэлектрической проницаемостью  $\varepsilon$, будет в  $\varepsilon$ раз меньше, чем в вакууме. Для точечного заряда и сферы (при $r>R$) вместо (2.2) и (2.3) справедливы формулы  $ E=k{\displaystyle \frac{\left|Q\right|}{\varepsilon {r}^{2}}}, {E}_{x}=k{\displaystyle \frac{Q}{\varepsilon {r}^{2}}}. $
        p Для плоскости вместо (4.1) справедливо $$ E={\displaystyle \frac{\left|\sigma \right|}{2\varepsilon {\varepsilon }_{0}}}.$$
        p В бесконечном однородном и изотропном диэлектрике вместо формулы (2.1) закона Кулона можно записать 
        h2 Законы Кирхгофа #[a(href="https://www.asutpp.ru/pravila-zakony-kirhgofa-prostymi-slovami.html")] #[a(href="https://www.youtube.com/watch?v=RUJ5SVFCh9w")]
        p.intro Для расчёта параметров токов и напряжений в различных разветвлённых цепях используют правила(в некоторой литературе законы, хотя это не совсем корректно) Кирхгофа - одни из фундаментальных правил, которые совместно с законами Ома позволяет определять параметры независимых контуров в самых сложных цепях. Учёный Густав Киргхоф сформулировал два правила, для понимания которых введено понятие узла, ветви, контура.
        ul
            li.definition
                span.name Ветвь
                span.meaning участок, по которому протекает один и тот же ток
            li.definition
                span.name Узел
                span.meaning точка соединения ветвей
            li.definition
                span.name Контур
                span.meaning замкнутый путь, по которому течёт ток, образованный ветвями и узлами
        h3 Первое правило Кирхгофа

        .definition
            span.name Первое правило Киргхофа
            span.meaning cумма токов #[.expression $\sum_{k=1}^nI_k=0$ #[span.meaning алгебраическая сумма токов $I_1 + I_2 + … + I_k$]] сумма токов #[span.tip сходящихся #[span ветви которые входят и исходят из узла]]  в определённом узле, равна нулю, #[span.important если считать входящие и отходящими токи противоположными по знаку]. #[span.note Распространено считать входящие в узел - положительными, а отходящими - отрицательными]. 
                span.collapse
                    span.summary Сформулировано исходя
                    span.
                        из закона сохранения заряда. Физик понимал, что заряд не может задерживаться в узле, а распределяется по ветвям контура, образующим это соединение. Кирхгоф предположил, а впоследствии обосновал на основании экспериментов, что количество зарядов зашедших в узел такое же, как и количество тока вытекающего из него.
            details
                summary.example
                div
                    figure
                        img(src="./Закон кирхгофа схема контура.webp",height=400)
                        figcaption.title Схема контура
                        figcaption Точками $A,B,C,D$ обозначены узлы контура в центре схемы. Ток $I_1$ входит в узел $A$, образованный ветвями контура. На схеме электрический заряд распределяется в двух направлениях – по ветвям $AB$ и $AD$. Согласно правилу Кирхгофа, входящий ток равен сумме выходящих: $I_1=I_2+I_3$
                    figure
                        img(src="./Закон Кирхгофа Абстрактный узел.webp")
                        figcaption.title Абстрактный узел, по ветвям которого течёт ток в разных направлениях
                        figcaption.
                            Изображено 4 разнонаправленных вектора: $i_1, i_2, i_3, i_4$. Если сложить векторы $\vec i_1,\vec i_2,\vec i_3,\vec i_4$ то, согласно правилу, векторная сумма будет равняться 0: $\vec i_1 + \vec i_2 + \vec i_3 + \vec i_4 = \theta$. Из них – два входящих $i_2, i_3$ в и два исходящих из узла $i_1, i_4$. Положительными будем считать те векторы, которые направлены в точку соединения ветвей, а остальные – отрицательными. Тогда, по формуле Кирхгофа, составим уравнение и запишем его в следующем виде: $– i_1 + i_2 + i_3 – i_4 = 0$  Ветвей может быть сколько угодно много, но равенство всегда будет справедливым, с учётом направления векторов. 
                            На практике такие узлы являются частью контуров, обходя которые можно составить ещё несколько линейных уравнений с этими же неизвестными. Количество уравнений всегда достаточно для решения задачи.

        h3 Второе правило Киргхофа
        p Из третьего уравнения Максвелла вытекает правило Кирхгофа для напряжений. Его ещё называют вторым законом.
        p Второе правило Киргхофа - в замкнутом контуре, на резистивных элементах, алгебраическая сумма напряжений (включая внутренние), равна сумме ЭДС, присутствующих в этом же замкнутом контуре. При этом токи и ЭДС, векторы которых совпадают с направлением (выбирается произвольно) обхода контура, считаются положительными, а встречные к обходу токи – отрицательными.
        figure 
            img(src="Иллюстрация второго правила Кирхгофа.webp")
            figcaption.title Иллюстрация второго правила Кирхгофа
        p Формулы, которые изображены на рисунке применяются в частных случаях для вычисления параметров простых схем.
        p Формулировки уравнений общего характера:
        p Для постоянных напряжений: $\sum_{k=1}^n=\sum_{k=1}^m U_k=\sum_{k=1}^m R_k I_k$
        p Для переменного тока: $\sum_{k=1}^n e_k=\sum_{k=1}^m u_k=\sum_{k=1}^m R_k i_k+\sum_{k=1}^m uL_k + \sum_{k=1}^m u C_k$, где $L_k$ и $C_k$ – индуктивность и ёмкость, соответственно.
        p Линейные уравнения справедливы как для линейных, так и для нелинейных линеаризованных цепей. Они применяются при любом характере временных изменений токов и напряжений, для разных источников ЭДС. При этом законы Кирхгофа справедливы и для магнитных цепей. Это позволяет выполнять вычисления для поиска соответствующие параметров.
        h3 Закон Кирхгофа для магнитной цепи
        p Применение независимых уравнений возможно и при расчётах магнитных цепей. Сформулированные выше правила Кирхгофа справедливы и для вычисления параметров магнитных потоков и намагничивающих сил.
        figure 
            img(src="Магнитные контуры цепей.webp")
            figcaption.title Магнитные контуры цепей
        p В частности: $\sum \Phi=0$.
        p Для магнитных потоков первое правило Кирхгофа - Алгебраическая сумма всевозможных магнитных потоков относительно узла магнитной цепи равняется нулю.
        p Для намагничивающих сил F сформулируем второе правило - в замкнутом магнитном контуре алгебраическая сумма намагничивающих сил приравнивается к сумме магнитных напряжений. Данное утверждение выражается формулой: $\sum F=\sum U$ или $\sum Iω = \sum НL$, где ω – количество витков, H – напряжённость магнитного поля, символ L обозначает длину средней линии магнитопровода (Условно принимается, что каждая точка этой линии совпадает с линиями магнитной индукции)
        p Второе правило, применяемое для вычисления магнитных цепей, есть не что иное, как альтернативная форма представления закона полного тока.
        p Примечание: Составляя уравнения с использованием формул, вытекающих из правил Кирхгофа, надо прежде определиться с положительным направлением потоков, функционирующих в ветвях, сопоставив их с направлением обходов существующих контуров.
        p При совпадении векторов магнитного потока с направлениями обхода (на некоторых участках), падение напряжения на этих ветвях берём со знаком « + », а встречные ему – со знаком « – ».
        details 
            summary.example Расчета цепей
            div
                figure 
                    img(src="Примеры для расчета.webp")
                    figcaption.title Примеры для расчета
                p Схема содержит 3 ветви и два узла, которые образуют три пары по два независимых контура: 1 и 2; 1 и 3; 2 и 3.
                p Запишем независимое уравнение, выполняющееся, например, в точке а. Из первого правила Кирхгофа вытекает: $I_1 + I_2 – I_3 = 0$.
                p Воспользуемся вторым правилом Кирхгофа. Для составления уравнений можно выбрать любой из контуров, но нам необходимы контуры с узлом а, так как для него мы уже составили уравнение. Это будут контуры 1 и 2.
                p Пишем уравнения: I_1R_1 + I_3 R_3 = E_1; I_2R_2 + I_3R_3 = E_2.
                p.
                    Решаем систему уравнений:
                    $\begin{cases}
                    I_1+I_2-I_3&=0 \\
                    I_1R_1+I_3R_3-E_1&=0 \\
                    I_2R_2+I_3R_3-E_2&=0 \\
                    \end{cases}$
                p.
                    Так как значения $R$ и $E$ известны из рисунка, мы придём к системе уравнений:
                    $\begin{cases}
                    I_1+I_2-I_3&=0 \\
                    I_1+3I_3-12&=0 \\
                    2I_2+3I_3-15&=0 \\
                    \end{cases}$
                p.
                    Решая эту систему, получим:
                    $\begin{cases}
                    I_1 = 1,36 \text{мА} \\
                    I_2 = 2,19 \text{мА} \\
                    I_3 = 3,55 \text{мА}
                    \end{cases}$
                p Потенциал узла а равен: $U_a = I_3R_3 = 3,55 \cdot 3 = 10,65 B$. Чтобы убедиться в верности наших расчётов, проверим выполнение второго правила по отношению к контуру 3: $E_1 – E_2 + I_1R_1+ I_2R_2 = 12 – 15 + 1,36 – 4,38 = – 0,02 ≈ 0$ (с учётом погрешностей, связанных с округлениями чисел при вычислениях)
                p Если проверка выполнения второго правила успешно завершена, то расчёты сделаны правильно, а полученные данные являются достоверными.
        div.laws
            .definition
                a(href="https://online.mephi.ru/courses/physics/electricity/data/course/1/1.1.html")
                span.name Cохранения заряда (Уравнение непрерывности)
                span.meaning В любой электроизолированной системе заряженных тел суммарный электрический заряд сохраняется $q=\sum_iq_i=q_1=q_2=…=q_n=const$ 
                //- p Полное сохранение заряда: изменение заряда внутри некоторого объема $V$, ограниченного замкнутой поверхностью S, равно потоку заряда $\approx j$ через эту поверхность $\frac{d}{dt}q+\oint_S\vec jdS=0$ 
                //-     | $$ \frac{d}{dt}q=\frac{d}{dt}\int_VdV\rho(\vec r,t)=\int_VdV\\frac{\partial}{\partial t}\rho(\vec r,t)=-\int_S\vec jdS=\int_VdV \nabla \vec j $$
        div.teorems
            .definition
                a(href="https://portal.tpu.ru/SHARED/k/KONVAL/Sites/Russian_sites/T_field/manual/18.htm")
                span.name Остроградского-Гаусса
                span.meaning Поток векторного поля $A$ через замкнутую кусочно-гладкую поверхность $S$ в направлении внешней нормали равен тройному интегралу от $\nabla \cdot A$ по области $V$, ограниченной поверхностью $S: \text{∯} A_n dS= \iiint_V \nabla \cdot A dV$
                details
                    summary.proof
                    div
                        ol
                            li Разобъем область $V$ на малые элементы $ΔV$ .
                            li Разбиение области $V$, ограниченной поверхностью $S$, на малые элементы $ΔVk$, границами которых являются поверхности $ΔSk.
                            li Согласно определению дивергенции векторного поля, поток $ΔΦ_k$ поля $A$ через поверхность $ΔSk$ малой области $ΔV_k$ можно представить в виде приближенного равенства $\Delta \Phi \approx \nabla \cdot A_k \cdot \Delta V_k$
                            li Далее выполним суммирование по всем элементам области $V$ и осуществим предельный переход, переходя к бесконечно малым элементам.
                            li Согласно свойствам потока векторного поля, сумма потоков из всех частей объема $V$ равна потоку вектора $A$ через внешнюю поверхность $S: \Phi=\sum_{k=1}^n \Delta \Phi_k = \text{∯}_S A_n dS$
                            li Сумма произведений $\nabla \cdot A_k \Delta V_k$ по всем элементам разбиения области $V$ представляет собой интегральную сумму от $divA$ по этой области и, следовательно, $\lim_{\max \Delta V \to 0}\sum_{k=1}^n \nabla \cdot A_k \cdot \Delta V_k= \iiint_V \nabla \cdot A dV$
                            li Таким образом, $\text{∯}_S A_n dS=\iiint_V \nabla \cdot A dV$

