dl 
	dt Deformable Body	
		a(href="https://scienceworld.wolfram.com/physics/DeformableBody.html")
	dd In mechanics, any body that changes its shape and/or volume while being acted upon by any kind of external force.
	dt Rigid body
		a(href="https://scienceworld.wolfram.com/physics/RigidBody.html")
	dd A body, regardless of shape and volume, with the characteristic that the relative distance between any two points of it remains constant, even if the body is acted upon by external forces. #[mark Since all real materials deform at least slightly, rigid bodies do not exist in the real world. However, in cases where #[strong a body's deformations are small and therefore #[em unimportant] for defining its mechanical status], it can be useful to #[strong approximate] the body as #[em rigid].]

include statics
