h3 Момент силы относительно точки
	a(href="https://isopromat.ru/teormeh/kratkaja-teoria/moment-sily-otnositelno-tochki")
	a(href="https://web.mit.edu/4.441/1_lectures/1_lecture5/1_lecture5.html")
	a(href="https://www.nagwa.com/en/explainers/653128293684/")
p #[em Момент силы относительно точки] (или центра) — вращательный эффект силы, характеризующий #[a(title='Вращение твердого тела' href='https://isopromat.ru/teormeh/obzornyj-kurs/vrashenie-tverdogo-tela-vokrug-nepodvizhnoj-osi') вращение твердого тела] вокруг некоторой точки под действием приложенной силы.
h4 Определение
p #[i Моментом силы относительно точки] (рисунок 1.1) называется векторное произведение радиус-вектора точки приложения силы на вектор силы.
img(alt="alt string" src='https://isopromat.ru/wp-content/uploads/moment-sily-otnositelno-tochki-1.png')
| Рисунок 1.1
p Вектор момента направлен перпендикулярно плоскости, в которой лежат сила и точка, в ту сторону, откуда поворот от действия силы виден происходящим против хода часовой стрелки.
h4 Вычисление момента
p Вектор момента характеризует положение плоскости и направление вращательного действия силы, а также дает меру этого действия: #[+m \left|\vec{M}_0\vec{F}\right|=Fr\sin \alpha = Fh], где h – #[i: a(href='https://isopromat.ru/glossary/plecho-sily') плечо силы] (кратчайшее расстояние от точки O – центра #[a(href='https://isopromat.ru/glossary/moment') момента] – до линии действия силы). Если сила проходит через точку, то ее момент относительно этой точки равен нулю.
p Момент силы относительно точки не меняется от переноса силы вдоль линии ее действия.
p Если силы расположены в одной плоскости, то используется понятие алгебраического момента силы.
p #[i Алгебраическим моментом силы относительно точки] (или центра) называется взятое #[a(href='https://isopromat.ru/tehmeh/video/pravilo-znakov-dla-momentov') со знаком плюс или минус] произведение модуля силы на плечо (рисунок 1.2).
p Наш короткий видеоурок про #[a(title='Момент силы' href='https://isopromat.ru/teormeh/obzornyj-kurs/moment-sily') момент силы] с примерами:
iframe(src='https://frontend.vh.yandex.ru/player/4b17b35645c5235eb5db0f7de56d7c9e?from=partner&mute=0&autoplay=0&tv=0&no_ad=false&loop=false&play_on_visible=false')
h4 Правило знаков
p Знак плюс выбирается в том случае, если сила стремится #[a(href='https://isopromat.ru/sopromat/teoria/pravilo-znakov/sil-i-momentov-v-uravneniah-statiki') поворачивать плоскость относительно центра момента против хода часовой стрелки].
img(alt="alt string" src='https://isopromat.ru/wp-content/uploads/moment-sily-otnositelno-tochki-4.png')
p Если сила F задана своими #[a(href='https://isopromat.ru/teormeh/obzornyj-kurs/proekcia-sily-na-os') проекциями на оси координат] F, F, F и даны координаты x, y, z точки приложения этой силы, то момент силы относительно начала координат вычисляется следующим образом:
img(alt="alt string" src='https://isopromat.ru/wp-content/uploads/moment-sily-otnositelno-tochki-5.png')
p Проекции момента силы на оси координат равны:
img(alt="alt string" src='https://isopromat.ru/wp-content/uploads/moment-sily-otnositelno-tochki-6.png')
