dl
	dt Statics
		a(href="https://scienceworld.wolfram.com/physics/Statics.html")
	dd The study of the conditions under which mechanical and other systems remain in a configuration ("state") which does #[strong not change #[em with time]]. Statics theory is based on five axioms:
		ol
			li A rigid body acted upon by two forces is in a state of static equilibrium if and only if the two forces are of the same intensity, lie along the same line of action, and are oriented in opposite directions along the line.
			li If a system of two forces in equilibrium is added to or extracted from a given system of forces, the way that the system of forces acts on a rigid body undergoes no change.
			li The resultant of two forces acting at the same material point is equal to the vector sum of the two forces. The line of the resulting force's action contains the material point. This axiom obeys the principle of vector summation.
			li Two interacting bodies react on each other with two forces of equal intensity, and along the same line of action, but in opposite directions along the line. This axiom is also known as principle of action and reaction.
			li If a deformable body is in a state of static equilibrium, it would also be in static equilibrium if the body were rigid. This axiom is also known as the principle of solidification.
	dt Static Equilibrium
		a(href="https://scienceworld.wolfram.com/physics/StaticEquilibrium.html")
	dd A system is in static equilibrium when the sum of external torques and forces is zero #[+m \sum \tau_{\text{ext}}=\sum F_{\text{ext}}=0].

















h3 Система сил
	+source(links=['https://de.ifmo.ru/bk_netra/page.php?index=4&layer=2&tutindex=29#:~:text=Две%20системы%20сил%20называются%20эквивалентными,движения%2C%20в%20котором%20находится%20тело.'])
img(src='https://de.ifmo.ru/bk_netra/image.php?img=p-fsys.gif&bn=29')
dl
	dt: dfn Система сил
	dd 
		p Совокупность сил #[+m F_1,F_2,…,F_n], приложенных к рассматриваемому материальному объекту ( в частности к твердому телу).
		p В зависимости от расположения линий действия сил систему сил называют:
		ul
			li #[dfn плоской], если линии действия всех сил лежат в одной плоскости;
			li #[dfn пространственной], если линии действия сил не лежат в одной плоскости;
			li #[dfn системой сходящихся сил], если линии действия всех сил пересекаются в одной точке;
			li #[dfn системой параллельных сил], если линии действия всех сил параллельны друг другу.
		p Две #[dfn эквивалентные] системы сил, если одну систему сил, приложенных к свободному твердому телу, можно заменить другой системой, не изменяя при этом состояния покоя или движения, в котором находится тело.
		p Система сил называется #[em уравновешенной ( эквивалентной нулю )], если в результате ее приложения к покоящемуся телу она не сообщает телу никакого движения.
		p Если система сил эквивалентна одной силе, то эта сила называется #[em равнодействующей силой] данной системы сил. Сила, равная по модулю равнодействующей силе, противоположная ей по направлению и действующая вдоль той же прямой, называется #[em уравновешивающей силой].
		img(src='https://de.ifmo.ru/bk_netra/image.php?img=p-rf1f2.gif&bn=29')
		p #[b Закон параллелограмма сил:] две силы #[+m F] и #[+m F], приложенные к телу в одной точке, имеют равнодействующую силу #[b R] , приложенную в той же точке и являющуюся диагональю параллелограмма, построенного на этих силах, как на сторонах.
		p Вектор #[b R] называют геометрической суммой векторов #[+m F] и #[+m F] : #[b R] =F+F. Модуль равнодействующей может быть вычислен с использованием теоремы косинусов по следующей формуле:
		p R=(F+F+2FFcos
			img(src='https://de.ifmo.ru/bk_netra/image.php?img=alpha.gif&bn=29')
			| );
		| где 
		img(src='https://de.ifmo.ru/bk_netra/image.php?img=alpha1.gif&bn=29')
		| - угол между силами #[+m F] и #[+m F]. 
		p #[b Принцип отвердения:] равновесие деформируемого твердого тела, находящегося под действием данной системы сил, не нарушится, если тело считать абсолютно твердым.
