	header: h3 Момент

	dt: dfn Момент
	dd
		p вращательное, скручивающее или изгибающее внешнее или внутреннее усилие, а также их комбинации, образованные парой сил.
		p Размерность момента – Ньютон на метр [Н∙м].
		p Обозначается латинскими буквами: M или m.
		p Момент от силы определяется произведением величины силы F на плечо L
		| M=F∙L
		p плечо силы — длина нормали от линии действия силы до точки приложения момента.
		p Различают частные случаи момента:
		ul
			li Крутящий (вращающий) момент создает вращательное движение твердых тел.
			li Скручивающий – крутящий м. вызывающий чистый сдвиг поперечных сечений бруса относительно друг друга.
			li Изгибающий – момент, расположенный в плоскости, проходящей через ось балки и вызывающий ее искривление.
