section
	h3 Как определить реакции опор?
	h4 Что такое реакция опоры?
	p Чтобы лучше понять, что такое реакция опоры (опорная реакция), давай рассмотрим следующий пример — балку (стержень) лежащую на опорах:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-1-1.png')
	p На балку давит нагрузка – сила, в свою очередь, балка давит на опоры. И чтобы балка лежала на опорах (никуда не проваливалась), опоры выполняют свою основную функцию — удерживают балку. А чтобы удерживать балку, опоры должны компенсировать тот вес, с которым балка давит на них. Соответственно, действие опор можно представить в виде некоторых сил, так называемых — #[strong реакций опор].
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-2-1.png')
	p Для балки, и нагрузка, и реакции опор, будут являться внешними силами, которые нужно обязательно учитывать при расчёте балки. А чтобы учесть опорные реакции, сначала нужно научиться определять их, чем, собственно, и займёмся на этом уроке.
	h4 Виды связей и их реакции
	dl
		dt: dfn Связи
		dd способы закрепления элементов конструкций. Опоры, которые я уже показывал ранее – это тоже связи.
		dt: dfn: img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-3-3.png')
		dt: dfn Жёсткая заделка
		dd 
			p Один из вариантов закрепления элементов конструкций. Этот тип связи препятствует любым перемещениям, тем самым для плоской задачи, может возникать три реакции: вертикальная (R), горизонтальная (H) и момент (M).
			img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-4-2.png')
	dt: dfn: img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-5.png')
	dt: dfn Шарнирно-подвижная и шарнирно-неподвижная опора
	dd
		p В #[strong шарнирно-неподвижной опоре] возникает две реакции: вертикальная и горизонтальная. Так как опора препятствует перемещению в этих двух направлениях. В #[strong шарнирно-подвижной опоре] возникает только вертикальная реакция.
		img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-6.png')
		p Однако, видов связей и их условных обозначений достаточно много, но в рамках этой статьи их все рассматривать не будем. Так как, изученные ранее виды связей, являются основными и практически всегда, при решении задач по сопромату, ты будешь сталкиваться именно с ними.
	dt: dfn Момент силы
	dd 
		p Произведение силы на плечо. Где плечо — это кратчайшее расстояние от точки до силы, то есть перпендикуляр.
		img(src='https://ssopromat.ru/wp-content/uploads/2016/02/1.png')
		p Также для моментов, нужно задаться каким-то правилом знаков. Я в своих уроках буду придерживаться такого правила:
		figure
			img(src='https://ssopromat.ru/wp-content/uploads/2016/02/2.png')
			figcaption 
				ul
					li если сила относительно точки стремится повернуть #[strong ПРОТИВ] часовой стрелки, то момент #[strong положительный];
					li если она стремится повернуть #[strong ПО] часовой стрелке, то момент #[strong отрицательный].
	h4 Определение реакций для двухопорной балки
	p Возьмём балку, загруженную посередине сосредоточенной силой и опирающейся на шарнирно-неподвижную и шарнирно-подвижную опору:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-7.png')
	p Введём систему координат: направим ось x вдоль балки, а ось y вертикально. Обозначим реакции в опорах как H, R и R:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-8.png')
	p Для тех, кто пришёл сюда, ещё будучи на этапе изучения теоретической механики, а я знаю, таких будет много, важно отметить, что в сопромате не принято указывать знаки векторов над силами.
	p В термехе же, в обязательном порядке, преподаватель от тебя настойчиво будет требовать указывать знак вектора над всеми силами, вот так:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-9.png')
	h5 Условия равновесия системы
	p Чтобы найти все реакции, нужно составить и решить три уравнения — #[strong уравнения равновесия]:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-1.png')
	p Данные уравнения являются #[strong условиями равновесия системы]. А так как мы предполагаем, что опоры обеспечивают это состояние равновесия (удерживают балку). То составив и решив уравнения равновесия — найдём значения опорных реакций.
	p Первое уравнение называется #[strong уравнением проекций] — суммой проекций всех сил на координатную ось, которая должна быть равна нулю. Два других уравнения называются #[strong уравнениями моментов] — суммами моментов всех сил относительно точек, которые должны быть равны нулю.
	h5 Уравнения равновесия
	p Как видишь, чтобы научиться находить реакции опор, главное — #[strong научиться правильно составлять уравнения равновесия].
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-8.png')
	h6 Уравнение проекций
	p Запишем первое уравнение — #[strong уравнение проекций]для оси x.
	p В уравнении будут участвовать только те силы, которые параллельны оси x. Такая сила у нас только одна — H. Так как H направлена против положительного направления оси x, в уравнение её нужно записать с минусом:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-2.png')
	p Тогда H будет равна:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-3.png')
	p Поздравляю, первая реакция найдена!
	h6 Уравнения моментов
	p А теперь самое интересное…запишем уравнение моментов, относительно точки A, с учётом ранее рассмотренного правила знаков для моментов.
	p Так как #[strong сила F] поворачивает #[strong ПО] часовой стрелке, записываем её со знаком «#[strong МИНУС»] и умножаем на плечо.
	p Так как #[strong сила R] поворачивает #[strong ПРОТИВ] часовой стрелки, пишем её со знаком «#[strong ПЛЮС»] и умножаем на плечо. И, наконец, всё это приравниваем к нулю:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-4.png')
	p Из полученного уравнения выражаем реакцию R:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-5.png')
	p Вторая реакция найдена! Третья реакция находится аналогично, но только теперь уравнение моментов записываем относительно другой точки:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-6.png')
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-7.png')
	h5 Проверка правильности найденных опорных реакций
	p Чем хороши задачи на определение реакций, так это тем, что правильность расчёта реакций легко проверить. Для этого достаточно составить дополнительное уравнение равновесия, подставить все численные значения и если сумма проекций сил или сумма моментов будет #[strong равна нулю], то и реакции, значит, #[strong найдены — верно], а если нет, то ищем ошибку.
	p Составим дополнительное уравнение проекций для оси y и подставим все численные значения:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-8.png')
	p Как видишь, реакции опор найдены правильно.
	h5 Определение реакций опор для балки с распределенной нагрузкой
	p Теперь рассмотрим балку, загруженную распределенной нагрузкой:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-11.png')
	p Перед тем как посчитать реакции опор, распределенную нагрузку нужно «свернуть» до сосредоточенной силы. Если умножить интенсивность q на длину участка, на которой действует нагрузка, получим силу Q. Сила Q будет находиться ровно посередине балки, как и сила F в нашем первом примере:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-12-2.png')
	p Подробно комментировать нахождение реакций в опорах здесь, не буду. Просто приведу решение:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-13-1.png')
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-9-1.png')
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-10.png')
	h4 Расчёт реакций для консольной балки
	p Давай рассмотрим теперь пример с жёсткой заделкой – #[strong консольную балку]. Заодно посмотрим, как учесть #[strong силу, приложенную под углом] (α = 30).
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-14-2.png')
	p Силу, направленную под определённым углом, нужно #[strong разложить на две составляющие] – горизонтальную и вертикальную. А их значения найти из #[strong силового треугольника]:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-15-4.png')
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-11.png')
	p Покажем реакции в заделке и выполним расчёт:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-17.png')
	p Для этой задачи выгоднее использовать другую форму условий равновесия:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-12.png')
	p А выгодна она тем, что из каждого записанного уравнения будем сразу находить реакцию:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-13.png')
	p #[strong Не пугайся отрицательного значения реакции!] Это значит, что при указании реакции, мы не угадали с её направлением. Расчёт же показал, что M, направлена не по часовой стрелке, а против.
	p В теоретической механике, когда реакции получают с «минусом» обычно не заморачиваются и не меняют их направление на схеме, так и оставляют в ответе отрицательное значение, оговаривая, что да реакция найдена, но с учётом знака, на самом деле направлена в другую сторону. Потому что найденные реакции в задачах на статику, являются конечной точкой расчёта.
	p У нас же, в сопромате после нахождения опорных реакций, всё только начинается. Найдя реакции, мы всего лишь находим ВСЕ силы действующие на элемент конструкции, а дальше по сценарию стоит задача определить внутренние усилия, возникающие в этом элементе, расчёты на прочность и т. д. Поэтому на схеме, обязательно следует указывать истинное направление реакций. Чтобы потом, когда будут рассчитываться внутренние усилия ничего не напутать со знаками.
	p Если получили отрицательное значение, нужно отразить это на схеме:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-18.png')
	p С учётом изменений на схеме реакция будет равна:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-14.png')
	p Сделаем проверку, составив уравнение равновесие, ещё не использованное – сумму моментов относительно, скажем, точки B, которая, при правильном расчёте, конечно, должна быть равна нулю:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-15-1.png')
	p Если не менять направление реакции, то в проверочном уравнении нужно учесть этот «минус»:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-16.png')
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-17.png')
	p Можешь посмотреть еще один пример, с похожей схемой, для закрепления материала, так сказать.
	h4 Реакции опор для плоской рамы
	p Теперь предлагаю выполнить расчёт #[strong плоской рамы]. Для примера возьмём расчётную схему, загруженную всевозможными видами нагрузок:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-19.png')
	p Проводим ряд действий с расчетной схемой рамы:
	ul
		li заменяем опоры на реакции;
		li сворачиваем распределенную нагрузку до сосредоточенной силы;
		li вводим систему координат x и y.
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-20.png')
	p Выполняем расчёт реакций опор:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-18.png')
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-19.png')
	p Меняем направление реакции R:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/reaktsii-opor-21.png')
	p В итоге получили следующие реакции в опорах рамы:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-20.png')
	p Осталось проверить наши расчеты! Для этого предлагаю записать уравнение моментов, относительно точки B. И если, эта сумма будет равна нулю, то расчет выполнен верно:
	img(src='https://ssopromat.ru/wp-content/uploads/2022/07/formula-reaktsii-opor-21.png')
	p Как видим, расчет реакций выполнен правильно!
