extends ../_layout.pug
block content
    ol.useful_res 
        li #[a(href="https://youtu.be/3zRubo5fHUo") великая теорема ферма] 
        li #[a(href="https://youtu.be/0GorifJmJVM") кватернионы] 
        li #[a(href="https://youtu.be/FdHB5SXddvY") Суть алгебры]
        li #[a(href="https://youtu.be/wdMeIC95uBo") Задача Мишустина]
        li #[a(href="https://youtu.be/EYsr0DZWMCg") 10 глупых вопросов МАТЕМАТИКУ | Алексей Савватеев ]
        li #[a(href="https://youtu.be/7kR1e5BaNB0") Как мировая элита использует теорию игр (Д. Перетолчин, А. Савватеев) ]
        li #[a(href="https://youtube.com/playlist?list=PLZjXXN70PH5ilxFCrbVJyNofV0_yC2IgH") Суть матанализа]
    h1 Таблицы
    ol Интегралов
        li $\euint{}{x}$
        li $\euint{x^n}{\frac{x^{n+1}}{n+1}}$
        li $\euint{\frac 1x}{\ln x}$
        li $\euint{\cos x}{\sin x}$
        li $\euint{\sin x}{-\cos x}$
    h1 Что-то
    ul
        li.definition 
            a(href="https://www.khanacademy.org/math/multivariable-calculus/thinking-about-multivariable-function/ways-to-represent-multivariable-functions/a/parametric-functions" lang="En")
            span.name Параметрическая функция 
            span.meaning функция с одним одноразмерным входным значение и мультиразмерных выходом
            ul.relation
                li.definition 
                    span.name Параметр 
                    span.meaning входное значение параметрической функции
                li.definition 
                    span.name Параметризация кривой
                    span.meaning нахождение параметрической функции кривой заданной функцией нескольких переменных
        li.definition
            a(href="https://lms2.sseu.ru/courses/eresmat/gloss/g28.htm")
            span.name Приращение переменной $\Delta х = x_1 - x_0$
            span.meaning разность двух значений переменной $x$
        li.definition
            span.name Приращение функции $\Delta f(х) = f(x_1) - f(x_0)$ соответствующее данному приращению аргумента $\Delta х$
            span.meaning разность двух значений функции от соответствующих аргументов
    h1 Обозначения
    ol
        li.definition
            span.name $(A)$ - фигура с именем $A$
            ul.relation
                li $A$ - площадь фигуры $(A)$
        li.definition
            span.name $\Delta$ - приращение
        li.definition
            span.name $\dd$ - дифференциал
    h1 FAQ
    h3 Как запомнить что производная от $\cos x$ это $-\sin x$, а от $\sin x$ просто $\cos x$
    p Производная имеет физический смысл скорости изменения в какую либо из сторон - положительную или отрицательную - и $\cos 0 = 1,\cos \pi = 0:\cos 0 \gt \cos \pi$ из этого следует что $x\in [0;\pi]:\dd{\qty(\cos x)}\le 0$, то есть можно сказать как только косинус появляется на свет в точке 0 он сразу начинает падать в низ. И так как синус и косинус описывают скорости изменения друг друга, а $x\in [0;\pi]:\sin x \ge 0$, то нужно брать синус со знаком минус
    section
        include _series
    section 
        include _integrals
        