h3 Electrical Conductors, Insulators, and Superconductors
	a(href="https://www.wondriumdaily.com/electrical-conductors-insulators-and-superconductors/")
p The properties of materials depend on the type of atoms and the way they’re bound together by chemical bonds. A basic material property is e#[strong lectrical conductivity, which is] #[strong the ability of a material to carry an electric current. One of the most important properties of materials in modern life is their ability to control the flow of electrons, of electricity. Electrical conductors and insulators are both essential parts of this process.]
figure
	img(alt="alt string" src='https://www.wondriumdaily.com/wp-content/uploads/2021/10/Electrical-Conductivity-The-Way-Materials-Carry-an-Electric-Current_QBS_Featured.jpg')
	figcaption Levitation train is the consequence of superconductor technology.
dl
	dt Metals
	dd Have electrons that are free to move under the slightest voltage.
	dt: dfn Electrical conductors 
	dd The materials in which electrical charges flow easily; that’s electrons flowing through the material #[span.example most common are metals]. All known materials have some resistance to this electrical flow at room temperature, and that causes heating of wires and it causes a slight loss of electrical energy. Nevertheless, copper, aluminum can be used as wires, and electricity will flow through these for many, many miles; that’s why most common wires used in everyday use are formed of copper.
		figure
			img(alt="alt string" src='https://www.wondriumdaily.com/wp-content/uploads/2021/10/Electrical-Conductivity-The-Way-Materials-Carry-an-Electric-Current_QBS_Article_1.jpg')
			figcaption Wires are mostly made up of copper or aluminum.
	dt: dfn Electrical fast-ion conductors
	dd A strange kind of conductor in which, instead of electrons moving, actual atoms, charged atoms, the ions move through the material. 
		aside: p #[strong Usage] Many batteries use these kinds of conductors #[span.example lithium]
	dt: dfn Electrical Insulators
	dd The materials in which electrons don’t move, things like ionically bonded materials. The trouble is, most ionically bonded materials are very brittle; they don’t make very good wires. So scientists compromise and use covalently bonded materials, like plastics, to wrap around the wires.#[br]Typical wire, then, will have a plastic coating around a metal core, and that’s the way most wires are built. They’re amazingly flexible—you can tie wires in knots, and crush them and abuse them in all sorts of ways, and they keep on working and working.
		p Are essential because they restrict the flow of electricity. It is needed for efficiency and safety. When you plug in a wire, you don’t want to get shocked, so you need a good insulator wrapped around that wire.
	dt: dfn Superconductors
	dd A remarkable materials that conduct electricity without any resistance at all, but all of these materials require extremely cold temperatures to work.#[br]Was discovered by Dutch physicist Heike Kamerlingh-Onnes in 1911 when he measured zero resistivity in a sample of mercury at 4°K, that’s at liquid-helium temperature. New materials are being discovered, however, that keep raising the temperature limit. These new superconductors are finding many new applications.
		p Onnes was one of the world’s great authorities on extreme refrigeration; that’s temperatures near absolute zero. He found that an electrical current would flow for years without stopping once started in his mercury. Such a property suggested many practical applications, from powerful, permanent electromagnets that operated forever to no-loss electrical-power transmission over long distances.
h5: strong Use of Niobium Metal Alloy as a Superconductor
p Most of the subsequent research has focused on finding other superconductors that work at higher and higher temperatures, and most of the research focused on metals in the early years. Eventually, an alloy of the metal niobium was found that worked at about 22°K, and that’s used in many practical applications today.
p For example, an MRI, a magnetic resonance imaging scan, uses liquid-helium-cooled niobium superconductors; and there are many other applications as well.
p Although the properties of materials are the result of atomic-scale activity, superconductor behavior remains very mysterious. No one is really sure exactly how it works.
p Typically, they talk about electrons that pair and surf along, following each other through an electromagnetic wave through the material, traveling forever on that electromagnetic wave. But it’s still rather difficult for any of us to imagine how superconductors work.
p Learn more about #[a(href='https://www.wondrium.com/the-joy-of-science?utm_source=US_TGCDaily&utm_medium=TGCDaily&utm_campaign=145245') the ultimate structure of matter].
h5: strong Paul Chu and Invention of a New Superconductor
figure
	img(alt="alt string" src='https://www.wondriumdaily.com/wp-content/uploads/2021/10/Electrical-Conductivity-The-Way-Materials-Carry-an-Electric-Current_QBS_Article_2.jpg')
	figcaption Paul Chu invented the first superconductor that worked at liquid-nitrogen temperature. (Image: ktsdesign/Shutterstock)
p In February of 1987, the University of Houston scientist Paul Chu, a physicist who had been spending his life on superconductivity, invented the first superconductor that worked at liquid-nitrogen temperature. Liquid nitrogen is very cheap and can actually be used in everyday applications.
p This transformed superconductivity from something that is an esoteric and strange phenomenon to one that could be demonstrated on a tabletop.
p In order to understand how a material works, you have to know the atoms it’s made of, and you have to know its crystal structure. Paul Chu worked with others to determine the crystal structure of this new material.
p If we pour liquid nitrogen on a disk made of this material, it cools it right down, cools it down to about liquid-nitrogen temperature. As that disk cools, the superconducting begins to work. One of the properties of superconductors is that they repel a magnetic field, they push magnetic fields right out. So a magnet material levitates above the disk.
p This wonderful property of superconductors can lead to levitating trains, and other transportation techniques, where we literally lift giant objects off the ground and float them to their destination. This is a property of high-temperature superconductivity, and now we can use cheap liquid nitrogen to achieve this goal.
h5: strong Common Questions about Electrical Conductors, Insulators, and Superconductors
| #[strong: strong Q: What is electrical conductivity?]
p Some materials, such as metals, have a special property called #[a(href='https://www.wondriumdaily.com/wp-admin/post.php?post=153830&action=edit') electrical conductivity]. Electrons flow easily in materials that have electrical conductivity. Only a slight voltage is sufficient to make electrons move and transfer electricity.
| #[strong #[strong Q: What materials are most wires made up of?]]
p Copper and aluminum are among the best metals that have #[a(href='https://www.wondriumdaily.com/wp-admin/post.php?post=153830&action=edit') electrical conductivity]. These metals are used to make different kinds of wires. In order to maintain safety (from not getting shocked), electrical conductors must be wrapped up with plastic.
| #[strong #[strong Q: What is electrical insulation?]]
p Electrical insulation is the opposite of #[a(href='https://www.wondriumdaily.com/wp-admin/post.php?post=153830&action=edit') electrical conductivity]. Materials ionically or covalently bonded together are electrically insulating. Covalently bonded materials are mostly used to wrap around wires.
h5 Keep Reading#[a(href='https://www.wondriumdaily.com/x-rays-and-gamma-rays-rays-that-changed-the-world-of-science/') X-Rays and Gamma Rays: Rays That Changed the World of Science]#[a(href='https://www.wondriumdaily.com/microwaves-and-their-common-uses-in-technology/') Microwaves and Their Common Uses in Technology]#[a(href='https://www.wondriumdaily.com/infrared-visible-light-and-ultraviolet-rays-the-electromagnetic-spectrum-radiations/') Infrared, Visible Light, and Ultraviolet Rays: The Electromagnetic Spectrum Radiations]
ul: li: a(href='https://www.wondriumdaily.com/tag/professor-robert-hazen/') Professor Robert Hazen
section
h5 Related Articles
article
	figure.
		#[a(title='Building the Periodic Table' href='https://www.wondriumdaily.com/building-periodic-table/')
			img(alt="alt string" src='https://www.wondriumdaily.com/wp-content/uploads/2017/01/thumbnail-12-326x245.jpg')
			|]Chemistry
	h5: a(title='Building the Periodic Table' href='https://www.wondriumdaily.com/building-periodic-table/') Building the Periodic Table
	| January 9, 2017
	p The periodic table is the chemist’s playground—an icon of science that’s found on classroom walls around the world. It’s one of the most powerful conceptual tools in all of science, yet it didn’t spring forth all at once. #[a(title='Building the Periodic Table' href='https://www.wondriumdaily.com/building-periodic-table/') […]]
article
	figure.
		#[a(title='The Nature of Science and Its Various Disciplines' href='https://www.wondriumdaily.com/the-nature-of-science-and-its-various-disciplines/')
			img(alt="alt string" src='https://www.wondriumdaily.com/wp-content/uploads/2021/01/shutterstock_411197605-326x245.jpg')
			|]Science
	h5: a(title='The Nature of Science and Its Various Disciplines' href='https://www.wondriumdaily.com/the-nature-of-science-and-its-various-disciplines/') The Nature of Science and Its Various Disciplines
	| January 25, 2021
	p Science is different from the other ways of knowing. There are various hierarchical divisions within science but all these disciplines of are integrated in nature. #[a(title='The Nature of Science and Its Various Disciplines' href='https://www.wondriumdaily.com/the-nature-of-science-and-its-various-disciplines/') […]]
article
	figure.
		#[a(title='Scientific Literacy and Its Importance' href='https://www.wondriumdaily.com/scientific-literacy-and-its-importance/')
			img(alt="alt string" src='https://www.wondriumdaily.com/wp-content/uploads/2021/01/shutterstock_1493424641-326x245.jpg')
			|]Science
	h5: a(title='Scientific Literacy and Its Importance' href='https://www.wondriumdaily.com/scientific-literacy-and-its-importance/') Scientific Literacy and Its Importance
	| January 26, 2021
	p Everyday, there are newspaper stories related to pharmaceuticals, energy needs, and the environment. Articles that may seem political at first glance are actually related to science and the environment. As a result, there is a need for citizens to be scientifically literate to participate in the civic issues of the society and take informed decisions to improve their quality of life. #[a(title='Scientific Literacy and Its Importance' href='https://www.wondriumdaily.com/scientific-literacy-and-its-importance/') […]]
