extends ./layout.pug

block content 
    h1 Особые случаи применения симплекс метода
    .definition
        span.name #[abbr(title="Условие допустимости") УД]
        span.meaning в задаче максимизации отсутствие отрицательных коэффициентов в ЦФ, а в задаче минимизации отсутствие положительных
    .definition
        span.name #[abbr(title="Вырожденное решение") ВР]
        span.meaning БР содержащее базисную переменную равную нулю
    li 
        .definition
            span.name Вырожденность
            span.meaning случай в котором оптимальное решение - вырожденое. В ходе выполнения симплекс-метода проверка УД может привести к неоднозначному выбору исключаемой переменной, то есть $\theta$ нескольких ограничений будут одинаковы. И на следующей итерации одна или несколько базисных переменных примут нулевое значение. Тогда новое решение будет вырожденным. зам В вырожденном решении нет никакой опасности, за исключением небольших теоретических неудобств. С практической точки зрения вырожденность объясняется тем, что в исходной задаче присутствует по крайней мере одно избыточное ограничение.