extends ./layout.pug

block content 
    ul 
        span.name Виды решений ЗЛП
        li.definition
            span.name #[abbr(term="Вырожденное решение") ВР]
            span.meaning БР содержащее базисную переменную равную нулю

    h1 Симплекс метод
    .definition
        span.name #[abbr(term="Условие допустимости") УД]
        span.meaning в задаче максимизации отсутствие отрицательных коэффициентов в ЦФ, а в задаче минимизации отсутствие положительных

    h2 Особые случаи применения
    ol
        li
            .definition
                span.name Вырожденность
                span.meaning оптимальное решение - вырожденое. В ходе выполнения симплекс-метода проверка УД может привести к неоднозначному выбору исключаемой переменной, то есть $\theta$ нескольких ограничений будут одинаковы. И на следующей итерации одна или несколько базисных переменных примут нулевое значение. Тогда новое решение будет вырожденным. зам В вырожденном решении нет никакой опасности, за исключением небольших теоретических неудобств. С практической точки зрения вырожденность объясняется тем, что в исходной задаче присутствует по крайней мере одно избыточное ограничение
            details 
                summary.example
                div.
                    $$z=3x_1+9x_2 \rightarrow \max \\
                    \begin{cases}
                    x_1+4x_2 \le 8 \\
                    x_1+2x_2 \le 4 \\
                    x_1,x_2 \ge 0
                    \end{cases}$$
                    #[img.invert(src="Симплекс-таблица с оптимальным вырожденным решением.png")]
                    На начальной итерации в качестве исключаемой можно выбрать как переменную $x_3$, так и $х_4$,. Если оставить в базисе переменную $x_4$ на следующей итерации она примет значение 0, т.е. получим вырожденное базисное решение. Оптимальное решение получается на следующей итерации.
                    Что же практически приводит к вырожденности решения? В графическом представлении решении этой задачи. Точка оптимума $x_1=0, x_2=2$ - пересечение трех прямых. Поскольку данная задача двухмерна, эта точка переопределена (на плоскости для определения точки достаточно двух прямых), и, следовательно, одно из ограничений избыточно.
                    #[img.invert(src="Пример графического оптимального вырожненого решения.png")]
                    На практике информация о том, что некоторые ресурсы недефицитны, может быть полезной при интерпретации результатов решения задачи. Эти сведения также могут помочь выявить неточности и ошибки в постановке исходной задачи. К сожалению, не существует способов определить избыточное ограничение непосредственно из данных симплекс-таблиц.
                    С вычислительной и теоретической точек зрения вырожденность может привести к: 
                    1. В процессе вычислений может возникнуть зацикливание. Если в приведенной выше таблице сравнить первую и вторую итерации, то можно заметить, что значение ЦФ не изменилось ($z= 18$). Поэтому может возникнуть ситуация, когда при реализации симплекс-метода некоторая последовательность будет повторяться, не изменяя значения целевой функции и не приводя к завершению вычислительного процесса. Существуют методы, предотвращающие зацикливание, однако они значительно замедляют процесс вычислений. Поэтому в большинстве программ, реализующих симплекс-метод, отсутствуют специальные средства защиты от зацикливания, тем более, что вероятность зацикливания очень мала.
                    2. Во-вторых, последствие вырожденности решения можно обнаружить, сравнивая первую и вторую итерации в приведенной выше таблице. Хотя в этих итерациях состав базисных и небазисных переменных различен, значения всех переменных и значение целевой функции не изменяются:
                    $x_1 = 0, x_2 = 2, x_3= 0, x_4 = 0, z= 18$
                    Можно ли, несмотря на то, что оптимальное решение не достигнуто, остановить вычисления на первой итерации (когда впервые обнаруживается вырожденность)? Ответ отрицательный, так как решение может быть только временно вырожденным.
        li 
            .definition
                span.name Альтернативные оптимальные решения
                span.meaning доступен диапазон оптимальных решений. #[i На примере графического метода] Возникает когда прямая ЦФ параллельна прямой, соответствующей связывающему неравенству (которое в точке оптимума выполняется как точное равенство), ЦФ принимает одно и тоже оптимальное значение на некотором множестве точек границы пространства решений то есть имеет альтернативные оптимальные решения. Следующий пример показывает, что таких решений(если они существуют) бесконечное множество. Этот пример также проиллюстрирует практическую значимость альтернативных решений.
            details
                summary.example
                div
                    figure 
                        img(src="Альтернативные решения на графике.png" alt="" srcset="")
                        figcaption множество альтернативных оптимальных решений - следствие того, что прямая ЦФ параллельна прямой, соответствующей связывающему ограничению
                    img(src="Альтернативные решения таблица.png")

