extends ./layout.pug
block content
  h1 Что-то
  .definition 
    a(href="https://www.khanacademy.org/math/multivariable-calculus/thinking-about-multivariable-function/ways-to-represent-multivariable-functions/a/parametric-functions" lang="En")
    span.name Параметрическая функция 
    span.meaning функция с одним одноразмерным входным значение и мультиразмерных выходом
    ul.relation
      li 
        .definition 
          span.name Параметр 
          span.meaning входное значение параметрической функции
      li
        .definition 
          span.name Параметризация кривой
          span.meaning нахождение параметрической функции кривой заданной функцией нескольких переменных
  h1 Обозначения
  .definition
    span.name $(A)$ - фигура с именем $A$
    ul.relation
      li
        span.name $A$ - площадь фигуры $(A)$
  h1 FAQ
  section 
    h1 Интегральные исчисления
    span asdfasdfasdfasdfasdfasdfa 
      .equation.
        $x_2
        \begin{pmatrix}
          1 & 1 & 1 & 0 \\
          1 & 1 & 1 & 0 \\
          1 & 1 & 1 & 0 \\
        \end{pmatrix}$
    .definition
      span.name Обычный прием в интегральном исчислении
      span.meaning разложение искомой величины на элементарные части, элементарному подсчету каждой части их суммированию и последующему предельному переходу.
    h2 Криволинейный интеграл
    .equation $\int_{t_1}^{t_2}f(x,y(x))\cdot \sqrt{(x'(t))^2+(y'(t))^2} dt =$
    details
      summary.example
      .content
        ol 
          li.
            $$(L):\begin{cases}x(t)=\cos t \\ y(t)=\sin t \end{cases},\frac {pi} {2} \le t \le \pi:\int_Lxydl=
            \int_{\pi/2}^{\pi}\sin t \cos t \sqrt{(-\sin t)^2+(\cos t)^2} dt = \int_{\pi/2}^{\pi}\sin t \cos t dt =
            \begin{aligned}
            &\int_{\pi/2}^{\pi}\sin t d\sin t=\frac 12 \sin^2 t \vert_{\pi/2}^{\pi} = \frac 12 \underbrace{(\sin^2 \pi - \sin^2 \frac \pi 2)}_{-1} \\
            &\frac 12 \int_{\pi/2}^{\pi}\sin 2t dt = -\frac 14 \cos 2t \vert_{\pi/2}^{\pi} = -\frac 14 \underbrace{(\cos2\pi - \cos\pi)}_2
            \end{aligned}
            = -\frac {1}{2}
            $$

    h2 Двойные интегралы
    details 
      summary.info Задача приводящая к двойному интеграллу
      div
        figure.float
          img.invert(src='./Тело цилиндрического бруса.png' alt='' srcset='')
          figcaption Тело цилиндрического бруса
        | Найти объем тела $V$ ограниченного: сверху - поверхностью $z=f(x,y)$; с боков - цилиндрической поверхностью с образующими, параллельными оси $z$; снизу - плоской фигурой $(P)$ на плоскости $xy$.
        ol(title="Для этого")
          li разложим область $(P)$ сетью кривых на части $(P_1),(P_2),…,(P_n)$ и получим ряд цилиндрических столбиков, которые имеют своими основаниями эти частичные области и в совокупности составляют данное тело
          li Для подсчета отдельных столбиков возьмем произвольно в каждой фигуре $(P_i)$ по точке: $(\xi_i, \tau_i)$. Если приближенно принять каждый столбик за настоящий цилиндр с высотой, равной апликате $f(\xi_i, \tau_i)$, то объем отдельного столбика $\approx f(\xi_i, \tau_i)P_i$
          li Найдем объем всего тела как сумму объемов всех столбиков $V=\sum_{i=1}^n f(\xi_i, \tau_i)P_i$.
          li Для повышения точности уменьшим размеры площадок $(P_i)$, увеличивая их число. В пределе, при стремлении к нулю наибольшего их диаметров всех областей $(P_i)$, равенство делается точным ⇒ $V=\lim \sum_{I=1}^n f(\xi_i, \tau_i)P_i$
        p Такая форма предела и является двойным интегралом $V=\lim \sum_{I=1}^n f(\xi_i,\tau_i)P_i = \iint_{(P)}f(x,y)dP$

    .definition
      span.name двойной интеграл $\iint_{(P)}f(x,y)dP$ от функции $f(x,y)$ по области $(P)$
      span.meaning обобщение определенного интеграла на случай функции двух переменных
    details 
      summary.example
      div
        ol
          li.equtaion.
            $$ (D):
            \begin{aligned} 
            0 < x < 1 \\ 
            -\sqrt{x} < y < x^3 
            \end{aligned}
            ,f(x,y) = \frac 45xy+\frac {9}{11} x^2y^2: 
            \iint_{(D)} f(x,y)dxdy=\int_0^1dx\int^{x^3}_{-\sqrt x}f(x,y)dy=\int_0^1 \left(\frac 25 xy^2+\frac {3}{11} x^2 y^3 \right) \Big\vert^{x^3}_{-\sqrt x} dx = \int_0^1 \frac 25 x^7+\frac {3}{11} x^11 - \frac 25 x^2+\frac {3}{11} x^{7/2} dx = \frac{x^8}{20}+\frac{x^{12}}{44}-\frac{2x^3}{15}+\frac{2x^{9/2}}{33} \Big\vert^1_0=\frac{33+15-88+40}{3\cdot 4 \cdot 5 \cdot 11}=0 $$
    ol.algorithm(title='Изменение порядка интегрирования')
      li Нарисовать графики пределов интегрирования
      li Выразить функции через другую переменную
      li Найти на графике новые пределы интегрирования 
    .equation.
      $\Delta = \begin{pmatrix} z_{xx}’’ & z_{xy}’’ \\ z_{yx}’’ & z_{yy}’’ \\ \end{pmatrix}$ 
      $ z_{xx}’’ \begin{aligned} 
      &>0, \text{Экстремум есть} \\ 
      &<0, \text{Экстремума нету} \\ 
      &=0, \text{Продолжить исследование} \\ 
      \end{aligned}$

    br
    .condition Достаточное условие существование экстремума функции $f(x,y)$ в точке $M(x,y)$
      ul
        li $f_{xx}''$
    .definition
      span.name Дивергенция 
        .equation $\vec F = P(x,y,z)\vec i + Q(x,y,z)\vec j + R(x,y,z)\vec k:\nabla \cdot \vec F = \frac {\partial P}{\partial x}+\frac {\partial Q}{\partial y}+\frac {\partial R}{\partial z}$