extends ./layout.pug
block content
    section
        h1 Электродинамика
        h3 Диэлектрики
        .definition
            span.name Идеальные диэлектрики  
            span.meaning вещества, не содержащие свободных зарядов
        p В куске незаряженного диэлектрика, помещённого в электростатическое поле, появляются так называемые связанные заряды. В результате напряжённость поля внутри и вне диэлектрика изменяется по модулю и направлению по сравнению с тем, что было в соответствующих точках пространства до внесения диэлектрика. Природа возникновения связанных зарядов связана с явлением поляризации.
        .definition
            span.name явление поляризации
            span.meaning ориентация нейтральных молекул по полю из-за того, что молекулы были или стали под действием внешнего поля диполями
        p Связанные заряды, возникшие в поляризованном диэлектрике, создают собственное электростатическое поле, которое накладывается на внешнее, противодействуя ему и пытаясь ослабить. Результирующее поле внутри диэлектрика становится отличным от внешнего.
        .definition
            span.name диэлектрическая проницаемость $\varepsilon$
            span.meaning характеристика однородного изотропного диэлектрика, если граница такого диэлектрика перпендикулярна внешнему электрическому полю, то напряжённость поля в диэлектрике будет в  $\varepsilon$ раз меньше, чем в вакууме
        p Напряжённость поля равномерно распределённого по сфере заряда, точечного заряда и бесконечной равномерно заряженной плоскости, помещённых в диэлектрик с диэлектрической проницаемостью  $\varepsilon$, будет в  $\varepsilon$ раз меньше, чем в вакууме. Для точечного заряда и сферы (при $r>R$) вместо (2.2) и (2.3) справедливы формулы  $ E=k{\displaystyle \frac{\left|Q\right|}{\varepsilon {r}^{2}}}, {E}_{x}=k{\displaystyle \frac{Q}{\varepsilon {r}^{2}}}. $
        p Для плоскости вместо (4.1) справедливо $$ E={\displaystyle \frac{\left|\sigma \right|}{2\varepsilon {\varepsilon }_{0}}}.$$
        p В бесконечном однородном и изотропном диэлектрике вместо формулы (2.1) закона Кулона можно записать 

        h1 Законы
        p.definition
            a(href="https://online.mephi.ru/courses/physics/electricity/data/course/1/1.1.html")
            span.name.law Cохранения заряда (Уравнение непрерывности)
            span.meaning В любой электроизолированной системе заряженных тел суммарный электрический заряд сохраняется $q=\sum_iq_i=q_1=q_2=…=q_n=const$ 
            //- p Полное сохранение заряда: изменение заряда внутри некоторого объема $V$, ограниченного замкнутой поверхностью S, равно потоку заряда $\approx j$ через эту поверхность $\frac{d}{dt}q+\oint_S\vec jdS=0$ 
            //-     | $$ \frac{d}{dt}q=\frac{d}{dt}\int_VdV\rho(\vec r,t)=\int_VdV\\frac{\partial}{\partial t}\rho(\vec r,t)=-\int_S\vec jdS=\int_VdV \nabla \vec j $$
