h3 Argument of Complex Numbers
+source(links=['https://byjus.com/maths/argument-of-complex-numbers/'])
article
	p The complex plane plays an important role in Mathematics. It is also known as z-plane, which is composed of two mutually perpendicular lines called axes. The horizontal line represents real numbers and is known as the real axis. On the other hand, the vertical line denotes imaginary numbers and is termed as an imaginary axis. The complex plane is used to represent a geometric interpretation of complex numbers. This plane is similar to the Cartesian plane having real and imaginary parts of a complex number along with X and Y axes. There are two concepts related to complex numbers. They are magnitude and argument. In this article, let us discuss in detail about the definition, properties, formulas for the argument of complex numbers.
	h4 What are Complex Numbers?
	p A complex number is a number that is written as a + ib, in which “a” is a real number, and “b” is an imaginary number. The complex number contains a symbol “i” which satisfies the condition i = −1. Complex numbers can be referred to as the extension of the one-dimensional number line. In the complex plane, a complex number denoted by a + bi is represented in the form of the point (a, b). It is to be noted that a complex number with zero real part, such as – i, -5i, etc, is called purely imaginary. Also, a complex number with zero imaginary part is known as a real number.
	h4 Argument of Complex Numbers Definition
	p The argument of a complex number is defined as the angle inclined from the real axis in the direction of the complex number represented on the complex plane. It is denoted by “θ” or “φ”. It is measured in the standard unit called “radians”.
	p: img(src='https://cdn1.byjus.com/wp-content/uploads/2020/10/Argument-of-complex-numbers.png')
	p In this diagram, the complex number is denoted by the point P. The length OP is known as magnitude or the modulus of a number, while the angle at which OP is inclined from the positive real axis is said to be the argument of the point P.
	h4 Argument of Complex Numbers Formula
	p In polar form, a complex number is represented by the equation r(cos θ + i sin θ), here, θ is the argument. The argument function is denoted by arg(z), where z denotes the complex number, i.e. z = x + iy. The computation of the complex argument can be done by using the following formula:
	p: strong arg (z) = arg (x+iy) = tan(y/x)
	p Therefore, the argument θ is represented as:
	p: strong θ = tan (y/x)
	h4 Properties of Argument of Complex Numbers
	p Let us discuss a few properties shared by the arguments of complex numbers. Suppose that z be a nonzero complex number and n be some integer, then
	p #[strong arg(z]#[strong ) = n arg(z)]
	p Let us assume, z and z be the two complex numbers, the following identities are:
	ul
		li arg (z/ z) = arg ( z) – arg ( z)
		li arg ( z z) = arg ( z) + arg ( z)
	h5 How to Find the Argument of Complex Numbers?
	ol
		li Find the real and imaginary parts from the given complex number. Denote them as x and y respectively.
		li Substitute the values in the formula θ = tan (y/x)
		li Find the value of θ if the formula gives any standard value, otherwise write it in the form of tan itself.
		li This value followed by the unit “radian” is the required value of complex argument for the given complex number.
	h5 Example
	p: strong Question:
	p Find the argument of the complex number 2 + 2√3i.
	p: strong Solution:
	p Let z = 2 + 2√3i.
	p Here, the real part, x = 2
	p Imaginary part, y = 2√3
	p We know that the formula to find the argument of a complex number is
	p arg (z) = tan(y/x)
	p arg (z) = tan(2√3/2)
	p arg (z) = tan(√3)
	p arg (z) = tan(tan π/3)
	p arg (z) = π/3
	p Therefore, the argument of the complex number is π/3 radian.
