h3 Распределения вероятностей
	a(href="http://statistica.ru/theory/raspredeleniya-veroyatnostey/")
dl
	dt: dfn Случайная переменная 
	dd: p Величина, которая может принимать любое из набора взаимоисключающих значений с определенной вероятностью.
	dt: dfn Распределение вероятности
	dd: p Показывает вероятности всех возможных значений случайной переменной. Это теоретическое распределение, которое выражено математически и имеет #[i среднее] и #[i дисперсию] — аналоги среднего и дисперсии в эмпирическом распределении.
p Каждое распределение вероятности определяется некоторыми параметрами, параметры служат обобщающими величинами (например среднее, дисперсия), характеризующими данное распределение (т.e. их знание позволит подробно описать распределение).
p С помощью соответствующей статистики можно произвести оценку этих параметров в выборке В зависимости от того, является ли случайная переменная дискретной или непрерывной, распределение вероятности может быть либо дискретным, либо непрерывным.
h4 Дискретные распределения
p Моделируют вероятность наступления дискретных событий, например, выпадение герба или решки (распределение Бернулли), число выпадений герба или решки при многократном бросании монеты (биномиальное распределение), выпадения определенного числа очков при бросании игральной кости (полиномиальное или мультиномиальное распределение).
p Примеры дискретных величин самые разнообразные: число телефонных звонков за день, количество перевезенных пассажиров, количество дефектов в партии продукции, количество распавшихся атомов за определенный промежуток, число квантов света, попавших на сетчатку глаза и множество других в физике, технике, биологии, медицине, экономике, транспорте, телефонии.
p Основные дискретные распределения:
blockquote
	p: a(href='http://statistica.ru/theory/binomialnoe-raspredelenie/') Биномиальное распределение
	p: a(href='http://statistica.ru/theory/geometricheskoe-raspredelenie/') Геометрическое распределение
	p: a(href='http://statistica.ru/theory/gipergeometricheskoe-raspredelenie/') Гипергеометрическое распределение
	p: a(href='http://statistica.ru/theory/polinomialnoe-multinomialnoe-raspredelenie/') Полиномиальное (мультиномиальное) распределение
	p: a(href='http://statistica.ru/theory/raspredelenie-puassona/') Распределение Пуассона
	p: a(href='http://statistica.ru/theory/raspredeleniya-koksa/') Распределения Кокса
dl
	dt: dfn Равномерное дискретное #[+m \frac 1N, k=1, 2,...,N] 
	td: p N=1, 2,...
	tr
		td: p Бернулли
		td: p: img(src='http://statistica.ru/upload/medialibrary/6ed/2.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/ea6/3.png')
	tr
		td: p: a(href='http://statistica.ru/theory/binomialnoe-raspredelenie/') Биномиальное распределение
		td: p: img(src='http://statistica.ru/upload/medialibrary/0a7/5.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/60a/4.png')
	tr
		td: p: a(href='http://statistica.ru/theory/raspredelenie-puassona/') Распределение Пуассона
		td: p: img(src='http://statistica.ru/upload/medialibrary/cee/6.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/bb6/8.png')
	tr
		td: p: a(href='http://statistica.ru/theory/geometricheskoe-raspredelenie/') Геометрическое распределение
		td: p: img(src='http://statistica.ru/upload/medialibrary/62b/7.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/ea6/3.png')
	tr
		td: p Отрицательно-биномиальное
		td: p: img(src='http://statistica.ru/upload/medialibrary/737/10.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/b91/9.png')
h4 Непрерывные распределения
p Моделируют вероятность наступления непрерывных событий, например, длительность телефонного звонка, момент наступления телефонного звонка, уровень шума в сети, расход электроэнергии за день, местоположение дефектов в микросхеме, количество осадков за месяц, биржевые данные, расстояние, пройденное молекулой газа до следующего столкновения и т.д.
p Задавая распределение, вы строите вероятностную модель и затем оцениваете вероятности наступления более сложных событий, например, вероятность того, что количество прерванных звонков в сети превысит норму, вероятность того, что производственный процесс выйдет за допустимые пределы, количество бракованных деталей будет критическим, вероятность возникновения взрыва при ядерной реакции и т. д.
p Основные непрерывные распределения:
blockquote
	p: a(href='http://statistica.ru/theory/ravnomernoe-raspredelenie/') Равномерное распределение
	p: a(href='http://statistica.ru/theory/normalnoe-raspredelenie/') Нормальное распределение
	p: a(href='http://statistica.ru/theory/mnogomernoe-normalnoe-raspredelenie/') Многомерное нормальное распределение
	p: a(href='http://statistica.ru/theory/lognormalnoe-raspredelenie/') Логнормальное распределение
	p: a(href='http://statistica.ru/theory/eksponentsialnoe-raspredelenie/') Экспоненциальное распределение
	p: a(href='http://statistica.ru/theory/gamma-raspredelenie/') Гамма распределение
	p: a(href='http://statistica.ru/theory/raspredelenie-erlanga/') Распределение Эрланга
	p: a(href='http://statistica.ru/theory/raspredelenie-styudenta/') Распределение Стьюдента
	p: a(href='http://statistica.ru/theory/raspredelenie-fishera/') Распределение Фишера
table: tbody
	tr
		th Распределение
		th: p Плотность
		th: p Параметры
	tr
		td 
			p: a(href='http://statistica.ru/theory/ravnomernoe-raspredelenie/') Равномерное на [a,b]
		td: p: img(src='http://statistica.ru/upload/medialibrary/b9b/11.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/2ed/12.png')
	tr
		td 
			p: a(href='http://statistica.ru/theory/normalnoe-raspredelenie/') Нормальное (гауссовское)
		td: p: img(src='http://statistica.ru/upload/medialibrary/935/image002.gif')
		td: p: img(src='http://statistica.ru/upload/medialibrary/130/13.png')
	tr
		td: p: a(href='http://statistica.ru/theory/gamma-raspredelenie/') Гамма
		td: p: img(src='http://statistica.ru/upload/medialibrary/bac/17.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/54a/14.png')
	tr
		td: p Бета
		td: p: img(src='http://statistica.ru/upload/medialibrary/33b/18.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/543/15.png')
	tr
		td 
			p: a(href='http://statistica.ru/theory/eksponentsialnoe-raspredelenie/') Экспоненциальное
			p: img(src='http://statistica.ru/upload/medialibrary/88f/25.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/a91/19.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/5f4/16.png')
	tr
		td: p Двусторонне-экспоненциальное
		td: p: img(src='http://statistica.ru/upload/medialibrary/36d/21.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/5f4/16.png')
	tr
		td
			p Хи-квадрат
			p: img(src='http://statistica.ru/upload/medialibrary/b93/30.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/06d/29.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/43c/22.png')
	tr
		td: p: a(href='http://statistica.ru/theory/raspredelenie-styudenta/') Стьюдента
		td: p: img(src='http://statistica.ru/upload/medialibrary/717/28.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/43c/22.png')
	tr
		td: p F
		td: p: img(src='http://statistica.ru/upload/medialibrary/075/27.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/cee/23.png')
	tr
		td: p Коши
		td: p: img(src='http://statistica.ru/upload/medialibrary/bcc/26.png')
		td: p: img(src='http://statistica.ru/upload/medialibrary/2d6/24.png')
