h1 Интегральные исчисления
h2 Интеграл Римана функции $f$ на отрезке $[a; b]$ #[a(href="https://kpfu.ru/docs/F2109211871/Nasyrov.SR.Integral.Rimana.na.otrezke.i.ego.prilozheniya.pdf")]
p Пусть $f$ некоторая числовая функция на $[a; b]$. Пусть $τ = {x_0, x_1, …, x_{N−1}, x_N}$  некоторое разбиение $[a; b]$ и $T_τ = (ξ_n)_{1≤n≤N}$ семейство промежуточных точек, отвечающих $τ$. 
dl 
  dt Интегральная сумма $S(f,τ,T_τ) = \Nseries f(ξ_n)Δx_n$ для функции $f$, отвечающей разбиению $τ$ и семейству промежуточных точек $T_τ$
details
  summary Геометрический смысл интегральных сумм Римана
  p Пусть функция $f$ непрерывна и положительна на $[a; b]$. Рассмотрим криволинейную трапецию Δ, ограниченную сверху графиком функции $f$, снизу осью $OX$ , а сбоку прямыми $x_1 = a, x_2 = b$. Как приближенно вычислить ее площадь? Площадь $S$ криволинейной трапеции равна $\Nseries S_n$ , где $S_n$  площадь криволинейной трапеции, ограниченной снизу осью $OX$ , сверху  графиком функции $f$ и с боков прямыми $x = x_{n-1}$ и $x = x_n$. Заменим $S_n$ на площадь прямоугольника, имеющего то же основание, что и последняя трапеция, и высоту $f(ξ_n)$. Тогда получим $S = \Nseries S_n ≈ \Nseries f (ξ_n)Δx_n = S(f, τ, T_τ)$.
  p Таким образом, интегральная сумма Римана равна площади многоугольника со сторонами параллельными координатным осям, аппроксимирующего (приближающего) криволинейную трапецию $∆$.
  figure
    img(src="Интегральные суммы.webp")
    figcaption.title Интегральные суммы
dl 
  dt предел интегральных сумм Римана $I$ при $d(τ) → 0$ 
  +tip("$I ∈ R, ∀ ε &gt; 0, ∃𝛅 &gt; 0, d(∀ τ) &lt; 𝛅, ∀ T_τ: |S(f, τ, T_τ) − I| &lt; ε$").meaning число $I ∈ R$, которое для любого $ε &gt; 0$ существует $𝛅 &gt; 0$ такое, что для любого разбиения $τ$ с диаметром $d(τ)$, меньшим $δ$, и для любого семейства промежуточных точек $T_τ$ выполняется неравенство $|S(f,τ,T_τ) − I| &lt; ε$
dl
  dt интеграл Римана $I = ∫_b^a f(x)\dd x$ от функции $f$ на отрезке $[a; b]$
  dd число $I$ если существует предел $I = \lim_{d(τ)→0} S(f, τ, T_τ)$ и пишут $I = ∫_b^a f(x)\dd x$. При этом говорят, что функция $f$ интегрируема на $[a; b]$ по Риману. #[+collapse.where Числа $a,b$ - нижний и верхний предел интегрирования соответсвенно, $f$ - подинтегральной функцией, $x$ - переменная интегрирования]
p Интеграл $∫_b^a f(x)\dd x$ зависит от $a$, $b$ и от $f$, но не зависит от $x$: $∫_b^a f(x)\dd x = ∫_b^a f(t)\dd t$
p Теорема 1.4.1 Постоянная функция $f ≡ c$ интегрируема на $[a; b]$ и $∫_b^a c\dd x = c(b-a)$
  span.proof Для любых $τ$ и $T_τ$ имеем $n = \overline{1, N}: f (ξ_n) = c$. Поэтому интегральная сумма $S(f, τ, T_τ) = \Nseries f(ξ_n) Δx_n = \Nseries cΔx_n = c\Nseries Δ_n = c(b − a)$ не зависит ни от $τ$, ни от $T_τ$. Следовательно, $∃ \lim_{d(τ)→ 0} S(f, τ, T_τ) = c(b−a)$. Итак, $f ≡ c$ интегрируема и $∫_b^a f(x)\dd x = c(b − a)$.
p Теорема 1.4.2 Число $I$ является пределом интегральных сумм Римана $S(f, τ, T_τ)$ при $d(τ) → 0$ тогда и только тогда, когда для любой последовательности $\{τ_n\}$ и для любой последовательности $\{T_{τ_n}\}$ таких, что $d(τ_n) → 0, n → ∞$, существует $\lim_{n→∞} S(f, τ_n, T_{τ_n} ) = I$. 
  //- TODO: Доказать самостоятельно (идея доказательства  как и в теореме Гейне о пределе функции).
p Теорема 1.4.3 (Необходимое условие интегрируемости). Если функция $f$ интегрируема по Риману на $[a; b]$, то $f$ ограничена на $[a; b]$.
  details
    summary.proof
    div
      p Пусть функция $f$ интегрируема, но не ограничена на $[a; b]$. Докажем, что такого быть не может. Рассмотрим любое разбиение $τ = \{x_0, …, x_n\}$ и докажем, что существует семейство промежуточных точек $T_τ$ такое, что $|S(f, τ, T_τ)| &gt; M$, где $M$ - любое наперед заданное число. Так как функция $f$ не ограничена на $[a; b]$, существует $n$ такое, что функция $f$ не ограничена на отрезке $[x_{n−1}; x_n]$. Рассмотрим любое семейство $T_τ = \{ξ_0,… , ξ_n\}$. Обозначим $x′ = ξ_n$. Тогда интегральная сумма Римана $S(f, τ, T_τ) = ∑^N_{l=1} f (ξ_l) Δx_l = f(x′) Δx_n + S′$, где $S′ = ∑_{1≤l≤N,l\ne n} f(ξ_l)Δx_l$.
      p Фиксируем точки $ξ_1, …, ξ_{n−1}, ξ_{n+1}, …, ξ_n$. Так как функция $f$ неограничена на $[x_{n−1}; x_n]$, то $∃x′ ∈ [x_{n−1}; x_n]: |f(x′)| &gt; \frac{M + |S′|}{Δx_n}$. Тогда можно оценить интегральную сумму: $|S(f, τ, T_τ)| \overset{\text{нер-во Δ}}{≥} |f(x′)||Δx_n| − |S′| ≥ \frac{M + |S′|} {Δx_n} Δx_n − |S′| = M$. Следовательно, не существует конечного предела $\lim_{d(τ)→0} S(f, τ, T_τ)$ интегральных сумм и функция $f$ не интегрируема на $[a; b]$, что противоречит условию теоремы.
details
  summary Пример ограниченной функции, не интегрируемой по Риману.
  p Рассмотрим функцию Дирихле $f(x) = \begin{cases} 1, \if x ∈ \mathbb{Q} \\ 0, \if x \notin \mathbb{Q} \end{cases}$. Рассмотрим любое разбиение $τ = \{x_0, x_1, …, x_{n−1}, x_n\}$ отрезка $[a; b]$. Для любого $n$ существуют такие точки $ξ′, ξ′′ ∈ [x_{n−1}, x_n]$, что $ξ′_n$ - рациональная точка, $ξ′′_n$ - иррациональная. Пусть $T′_{τ}$ состоит из точек $ξ′_n , T′′_τ$  из точек $ξ′′_n$. Тогда $\Nseries S(f, τ, T′_τ) = \Nseries f (ξ′_n)Δx_n = \Nseries Δx_n = b − a$, так как $f(ξ′_n) = 1$ для любого $n$, $\Nseries S(f, τ, T′′_τ) = \Nseries f(ξ′′_n) Δx_n = 0$,так как $f(ξ′′_n) = 0$ для любого $n$. Следовательно, можно указать последовательности $τ_n$ и $T′_{τ_n}$ такие, что $S(f, τ_n, T′_{τ_n})→ b − a, d(τ_n) → 0$, и другую последовательность $T′′_{τ_n}$ такую, что $S(f, τ_n, T′’_{τ_n}) → 0, d(τ_n) → 0$. Итак, не существует предела интегральной сумм, поэтому функция $f$ не интегрируема на $[a; b]$
h3 Теоремы о среднем для интегралов
p Теорема 1.9.1 Если $m ≤ f(x) ≤ M$ и функция $f$ интегрируема на $[a; b]$, то существует константа μ такая, что $m ≤ μ ≤ M$ и $∫_a^b f(x) \dd x = μ(b − a)$ .Более того, если функция $f$ непрерывна на $[a; b]$, то существует такая точка $c$ ∈ $[a; b]$, что $∫_a^b f(x) \dd x = f(c)(b − a)$. 	    Имеем $m(b − a) = ∫_a^b m \dd x ≤ ∫_a^b f(x) \dd x ≤ ∫_a^b M \dd x = M (b − a)$. Обозначим $μ = ∫_a^b f(x) \dd x/(b − a)$, тогда $m ≤ μ ≤ M$ и первое утверждение доказано. Пусть функция $f$ непрерывна на $[a; b]$ и $M = \sup_{[a;b]} f , m = \inf_{[a;b]} f$. Так как $μ ∈ [m, M]$, то по теореме Больцано-Коши о промежуточном значении $∃c ∈ [a; b] : f(c) = μ$. Следовательно, $f(c) = \frac{∫_a^b f(x) \dd x}{(b − a)}$, откуда следует второе утверждение теоремы.
p Теорема 1.9.2 Пусть функции $f$ и $g$ интегрируемы на $[a; b], g ≥ 0$ и $m ≤ f(x) ≤ M$ на $[a; b]$. Тогда существует константа $μ ∈ [m, M]$ такая, что $∫_a^b f(x)g(x) \dd x = μ ∫_a^b g(x) \dd x$. Более того, если функция $f$ непрерывна на $[a; b]$, то $∃c ∈ [a; b]: ∫_a^b f(x)g(x) \dd x = f(c) ∫_a^b g(x) \dd x$. (Теорема 1.9.1 получается из теоремы 1.9.2, если взять $g(x) ≡ 1$.) Имеем $m ≤ f(x) ≤ M$. Следовательно, в силу неотрицательности функции $g , mg(x) ≤ f(x)g(x) ≤ M$, откуда $m ∫_a^b g(x) \dd x ≤ ∫_a^b f(x)g(x) \dd x ≤ M ∫_a^b g(x) \dd x$. Если $∫_a^b g(x) \dd x = 0$, то $∫_a^b f(x)g(x) \dd x = 0$ и тогда формула $∫_a^b f(x)g(x) \dd x = μ ∫_a^b g(x) \dd x$ справедлива для любого $μ$. Если $∫_a^b g(x) \dd x \ne 0$, то $∫_a^b g(x) \dd x &gt; 0$ и тогда $m ≤ \frac{∫_a^b f(x)g(x) \dd x}{∫_a^b g(x) \dd x} = μ ≤ M$, откуда следует $∫_a^b f(x)g(x) \dd x = μ ∫_a^b g(x) \dd x$. Если функция $f$ непрерывна, то можно считать, что $m = \inf_{[a;b]} f, M = \sup_{[a;b]} f$. Если $∫_a^b g(x) \dd x = 0$, то формула $∃c ∈ [a; b]: ∫_a^b f(x)g(x) \dd x = f(c) ∫_a^b g(x) \dd x$ справедлива для любого $c$. Если $∫_a^b g(x) \dd x &gt; 0$, то в силу $m ≤ \frac{∫_a^b f(x)g(x) \dd x}{∫_a^b g(x) \dd x} = μ ≤ M$ и теоремы Больцано-Коши существует $c$ такое, что $f(c) = μ$, откуда следует $∃c ∈ [a; b]: ∫_a^b f(x)g(x) \dd x = f(c) ∫_a^b g(x) \dd x$
h2 Ступенчатая функция #[a(href="http://vyshka.math.ru/pspdf/0910/calculus-1/l26_27.pdf")]
h3 Определенный интеграл (по Коши)
p.designation $B[a; b]$ - пространство ограниченных функций на отрезке $[a;b]$. 
p На пространстве $B[a; b]$ задана $\sup$-норма $||f|| = \sup_{x ∈ [a;b]} |f(x)|$ со следующими свойствами:
ol
  li $||f|| &gt; 0$, причем $||f|| = 0$ только для нулевой функции $f$ (положительность);
  li $||\lambda f|| = |\lambda||f|$ (однородность);
  li $||f + g|| ≤ ||f|| + ||g||$ (неравенство треугольника).
p Отметим на будущее, что функция $||*||$ на векторном пространстве называется нормой тогда и только тогда, когда она положительна, однородна и удовлетворяет неравенству треугольника.Поскольку в ближайшее время других норм нам не встретится, мы будем называть sup-норму просто нормой.Легко видеть, что наличие нормы на пространстве $B[a; b]$ позволяет рассматривать его как метрическое пространство с метрикой $\dd (f, g) = ||f - g||$. Сходимость последовательности в этой метрике - не что иное, как равномерная сходимость.
dl
  dt Кусочно-непрерывная функция $f ∈ B[a; b]$
  dd функция у которой отрезок $[a;b]$ может быть так разбит точками $a_1,a_2,…,a_{n-1}$ #[+collapse.where $a=a_0&lt;a_1&lt;a_2&lt;…&lt;a_{n-1}&lt;a_n=b$], что на каждом интервале $(a_{n-1};a_n)$ функция $f$ непрерывна и имеет односторонние пределы $\lim_{x→ a_{n-1}+0}$ и $\lim_{x→ a_{n-1}-0}$. Значения, принимаемые функцией $f$ в точках $a_n$, роли не играют.
dl
  dt Ступенчатая(Кусочно-постоянная) на отрезке $[a;b]$ функция $f$
  dd функция которая является кусочно-непрерывной на отрезке $[a;b]$ и постоянной на каждом интервале непрерывности $(a_{n-1};a_n)$
p.designation $PC[a;b]$ - пространство кусочно-непрерывных функций на отрезке $[a;b]$; $S[a;b]$ - пространство ступенчатых функций на $[a;b]$
p Предложение 1. Замыкание $\overline{S[a; b]}$ пространства $S[a; b]$ в $B[a; b]$ содержит пространство $PC[a; b]$. Доказательство. Достаточно доказать, что любая непрерывная функция может быть равномерно приближена ступенчатой с точностью до сколь угодно малого положительного числа $Е$.
p Докажем это. Пусть $f ∈ С[a; b]$. Поскольку любая непрерывная функция на отрезке равномерно непрерывна, существует такое положительное число $𝛅$, что $|f(x_1) - f(x_2)| &lt; \varepsilon$ для любых $x_1,x_2 ∈ [a; b]$ таких, что $|x_1 - x_2| &lt; 𝛅$. Разобьем отрезок $[a; b]$, точками $a_1,a_2,…,a_{N-1}$ на отрезки длины, не превосходящей $2𝛅$. Обозначим через $b_1,b_2,…,b_N$ середины этих отрезков: $b_n = (a_{n-1} + a_n)/2$. Положим $g(x)=\begin{cases} f(x), \if x = a_n, n=0,..., N \\ f(b_n), \if a_{n-1} &lt; x&lt;a_n, n=1,…, N \end{cases}$
p Легко видеть, что $||f - g|| &lt; \varepsilon$.
p Определим для функций $f ∈ S[a;b]$ определенный интеграл $∫_a^b f(x) \dd x$ формулой $∫_a^b f(x)\dd x = \Nseries c_n(a_n-a_{n-1})$, где $a = a_0 a_1 &lt; a_2 &lt; … &lt; a_{N-1} &lt; a_N = b$ - разбиение отрезка $[a;b]$ на интервалы, на которых функция $f$ постоянна, а $c_k$ - значение функции $f$ на интервале $(a_{n-1};a_n)$. Очевидно, что значение $∫_a^b f(x)\dd x$ не зависит от выбора разбиения отрезка $[a;b]$ на интервалы постоянства функции $f$.
p При $b ≤ a$ полагают, по определению, $∫_a^b f(x)\dd x = -∫_b^a f(x)\dd x$. Кроме того, естественно считать $∫_a^a f(x) = 0$.
p Предложение 2. Определенный интеграл от ступенчатой функции удовлетворяет следующим свойствам:
ol
  li линейность: $∫_a^b (\lambda f(x)+μg(x))\dd x + μ ∫_a^b g(x) \dd x$
  li аддитивность: $∫_a^c f(x) \dd x = ∫_a^b f (x) \dd x + ∫_b^c f(x) \dd x$
  li ограниченность: $\left| ∫_a^b f(x) \dd x \right| ≤ ||f|| |b-a|$
p Доказательство. Очевидно.


dl
  dt Обычный прием в интегральном исчислении
  dd разложение искомой величины на элементарные части, элементарному подсчету каждой части их суммированию и последующему предельному переходу.
h2 Неопределенный интеграл
toggle(target="example")
example
  ol
    li $$∫ \frac {\sin^2 x}{\cos^4 x} \dd x = ∫ \qty(\frac {\sin x}{\cos x})^2 \frac 1{\cos^2 x}\dd x = \qty{\begin{aligned} u &=\frac {\sin x}{\cos x}\\ \dd u &= \frac {\cos^2 x + \sin^2 x}{\cos^2 x} \dd x = \frac 1{\cos^2 x}\dd x \\ \dd x &= \cos^2 x\dd u\end{aligned}} = ∫ \qty(\frac {\sin x}{\cos x})^2 \frac {\cos^2 x}{\cos^2 x}\dd {\frac {\sin x}{\cos x}} = ∫ \qty(\frac {\sin x}{\cos x})^2 \dd {\frac {\sin x}{\cos x}} = \frac 13 \qty(\frac {\sin x}{\cos x})^3 + \const$$
    li $$∫ \frac {\sin^2 x}{\cos^6 x} \dd x = ∫ \qty(\frac {\sin x}{\cos x})^2 \frac 1{\cos^2 x} \frac 1{\cos^2 x}\dd x = \qty{\begin{aligned} u &=\frac {\sin x}{\cos x}\\ \dd u &= \frac {\cos^2 x + \sin^2 x}{\cos^2 x} \dd x = \frac 1{\cos^2 x}\dd x \\ \dd x &= \cos^2 x\dd u\end{aligned}} = ∫ \qty(\frac {\sin x}{\cos x})^2 \frac 1{\cos^2 x} \frac {\cos^2 x}{\cos^2 x}\dd {\frac {\sin x}{\cos x}} = \qty[\frac 1{\cos^2 x}=\frac{\sin^2 x + \cos^2 x}{\cos^2 x}=\qty(\frac {\sin x}{\cos x})^2+1] = ∫ \qty(\frac {\sin x}{\cos x})^2 \qty[\qty(\frac {\sin x}{\cos x})^2+1] \dd {\frac {\sin x}{\cos x}} = ∫ \qty(\frac {\sin x}{\cos x})^4 + \qty(\frac {\sin x}{\cos x})^2 \dd {\frac {\sin x}{\cos x}} = \frac{\qty(\frac {\sin x}{\cos x})^5}5 + \frac{\qty(\frac {\sin x}{\cos x})^3}3 + \const$$
h2 Криволинейный интеграл #[a(href="https://kvm.gubkin.ru/vip3p2/g6.pdf")]
h3 Криволинейный интеграл Ⅰ-го рода
span $∫_{t_1}^{t_2}f(x,y(x))· \sqrt{(x'(t))^2+(y'(t))^2} dt =$
toggle(target="example")
example
  ol
    li.
      $$(L):\begin{cases}x(t)=\cos t \\ y(t)=\sin t \end{cases},\frac π2 ≤ t ≤ π:∫_L xy \dd l=
      ∫_{π/2}^{π}\sin t \cos t \sqrt{(-\sin t)^2+(\cos t)^2} dt = ∫_{π/2}^{π}\sin t \cos t dt =
      \begin{aligned}
      &∫_{π/2}^{π}\sin t \dd\sin t=\frac 12 \sin^2 t \vert_{π/2}^{π} = \frac 12 \underbrace{(\sin^2 π - \sin^2 \frac π 2)}_{-1} \\
      &\frac 12 ∫_{π/2}^{π}\sin 2t \dd t = -\frac 14 \cos 2t \vert_{π/2}^{π} = -\frac 14 \underbrace{(\cos2π - \cosπ)}_2
      \end{aligned}
      = -\frac {1}{2}
      $$

p Рассмотрим в трехмерном пространстве с заданной декартовой системой координат $OXYZ$ некоторую кривую $G$. Декартовы координаты точек кривой будем обозначать через $(x,y,z)$. Непрерывная кусочно-гладкая кривая $a ≤ t ≤ b:\vec r(t)=x(t)\vec i + y(t)\vec j + z(t)\vec k$ - если функции $x(t) , y(t), z(t)$ непрерывны на отрезке $[a; b]$, и отрезок $[a; b]$ может быть разбит точками $a = t_0 \lt t_1 \lt … \lt t_m = b$ на конечное число отрезков таким образом, что на каждом из этих частичных отрезков функции $x(t) , y(t), z(t)$ имеют непрерывные производные, не обращающиеся одновременно в 0.
img(src="К определению кривой.webp")
p Пусть на кривой $G = A∪B$ задана непрерывная функция $f(M)$ #[+collapse.where $\bvec {OA} = \vec r (a), \bvec {OB} = \vec r (b)$; $M(х, у, z)$ – точка на кривой.]
img(src="Разбиение кривой G.webp" alt="alt")
p Зададим разбиение $T$ кривой $G$ точками $A = N_0, N_1, N_2, …, N_n = B$. На каждой из дуг $∪N_kN_{k+1}$ выберем по произвольной точке $M_k$ с координатами $(ξ_k, η_k, ζ_k)$ и составим интегральную сумму: $S_T = ∑_{k=0}^{n-1} f(M_k)Δs_k = ∑_{k=0}^{n-1} f(ξ_k, η_k, ζ_k)Δs_k$, где $Δs_k$ – длина дуги $∪N_kN_{k+1}$
p Криволинейным интегралом Ⅰ-го рода $∫_G f(x,y,z)\dd s = ∫_G f(M) \dd s = \lim_{\max_k Δs_k → 0} ∑_{k=0}^{n-1} f(M_k) Δs_k$ от функции $f(M)$ по кривой $G$ - предел интегральной суммы $S_T = ∑_{k=0}^{n-1} f(M_k)Δs_k = ∑_{k=0}^{n-1} f(ξ_k, η_k, ζ_k)Δs_k$, где $Δs_k$ – длина дуги $N_k∪N_{k+1}$ при бесконечном увеличении числа $n$ точек деления $N_k$ и бесконечном уменьшении длин дуг $N_k∪N_{k+1}$, если этот предел существует и не зависит ни от способа разбиения $T$, ни от выбора точек $M$$k$ на дугах.
p Для криволинейного интеграла по замкнутой кривой $G$ используется иное обозначение $\oint_G f(M) \dd s = \oint_G f(x,y,z) \dd s$
p Существование криволинейного интеграла устанавливает следующая теорема:
p Теорема 1. Если $G$ – непрерывная кусочно-гладкая кривая и функция $f(M)$ непрерывна на ней, то криволинейный интеграл $I$-го рода от функции $f(M)$ существует и определен однозначно.
p Теорема 2. Если кривая $G$ задана уравнениями $a≤ t ≤ b:\vec r(t)=x(t)\vec i + y(t)\vec j + z(t)\vec k$, а функция $f(M)$ непрерывна на этой кривой, то криволинейный интеграл Ⅰ-го рода от функции $f(M)$ находится по формуле $∫_G f(M) \dd s = ∫_G f(x,y,z) \dd s = ∫_a^b f(x(t),y(t),z(t))\sqrt{x’^2(t)+y’^2(t)+z’^2(t)} \dd t$
  note При использовании формулы $∫_G f(M) \dd s = ∫_G f(x,y,z) \dd s = ∫_a^b f(x(t),y(t),z(t))\sqrt{x’^2(t)+y’^2(t)+z’^2(t)} \dd t$ следует обращать внимание на то, чтобы при изменении параметра $t$ от $a$ до $b$ дифференциалы $\dd s$ и $\dd t$ были неотрицательными, поскольку выражение $\dd s = \sqrt{x’^2(t)+y’^2(t)+z’^2(t)}\dd t$ задает элемент длины дуги, который отрицательным быть не может.

toggle(target="example")
example
  p Найти интеграл $∫_{\cup AB}\qty(x^2+y^2) \dd s$, где кривая $G$ – дуга окружности с центром в начале координат и радиуса 1 между точками $A(0, 1)$ и $В(1, 0)$. Введем на кривой $G$ параметризацию: $x=\cos t, y=\sin t, t ∈ [0;π/2]$. Тогда $x’(t)=-\sin t, y’(t) = \cos t, \dd s =  \left| \sqrt{\sin^2 t + \cos^2 t} \dd t \right| = -\dd t$. Здесь модуль раскрывается со знаком «–» поскольку при интегрировании от точки $A$ до точки $B$ параметр $t$ изменяется в интервале от $π /2$ до $0$ и, следовательно, $\dd t &lt; 0$. Применяя формулу $∫_G f(M) \dd s = ∫_G f(x,y,z) \dd s = ∫_a^b f(x(t),y(t),z(t))\sqrt{x’^2(t)+y’^2(t)+z’^2(t)} \dd t$, получим: $∫_{\cup AB}\qty(x^2 + y^2) \dd s = ∫_{π/2}^0 \qty(\cos^2 t + \sin^2 t)(-\dd t) = ∫_0^{π/2} \dd t = \frac π 2$
  img(src="Пример дуги.webp" alt="")

h2 Двойные интегралы
details 
  summary.info Задача приводящая к двойному интеграллу
  figure
    img(src='./Тело цилиндрического бруса.webp' alt='' srcset='')
    figcaption.title Тело цилиндрического бруса
    figcaption Найти объем тела $V$ ограниченного: сверху - поверхностью $z=f(x,y)$; с боков - цилиндрической поверхностью с образующими, параллельными оси $z$; снизу - плоской фигурой $(P)$ на плоскости $xy$.
  ol(title="Для этого")
    li разложим область $(P)$ сетью кривых на части $(P_1),(P_2),…,(P_n)$ и получим ряд цилиндрических столбиков, которые имеют своими основаниями эти частичные области и в совокупности составляют данное тело
    li Для подсчета отдельных столбиков возьмем произвольно в каждой фигуре $(P_n)$ по точке: $(ξ_n, τ_n)$. Если приближенно принять каждый столбик за настоящий цилиндр с высотой, равной апликате $f(ξ_n, τ_n)$, то объем отдельного столбика $\approx f(ξ_n, τ_n)P_n$
    li Найдем объем всего тела как сумму объемов всех столбиков $V=\Nseries f(ξ_n, τ_n)P_n$.
    li Для повышения точности уменьшим размеры площадок $(P_n)$, увеличивая их число. В пределе, при стремлении к нулю наибольшего их диаметров всех областей $(P_n)$, равенство делается точным ⇒ $V=\lim \Nseries f(ξ_n, τ_n)P_n$
  p Такая форма предела и является двойным интегралом $V=\lim ∑_{I=1}^n f(ξ_n,τ_n)P_n = \iint_{(P)}f(x,y)dP$

dl
  dt двойной интеграл $\iint_{(P)}f(x,y)dP$ от функции $f(x,y)$ по области $(P)$
  dd обобщение определенного интеграла на случай функции двух переменных
details 
  summary.example
  ol
    li.
      $$ (D): \begin{aligned} 0 &lt; x &lt; 1 \\ -\sqrt{x} &lt; y &lt; x^3 \end{aligned},f(x,y) = \frac 45xy+\frac {9}{11} x^2y^2: 
      \iint_{(D)} f(x,y)dxdy=∫_0^1dx∫^{x^3}_{-\sqrt x}f(x,y)dy=∫_0^1 \left(\frac 25 xy^2+\frac {3}{11} x^2 y^3 \right) \Big\vert^{x^3}_{-\sqrt x} dx = ∫_0^1 \frac 25 x^7+\frac {3}{11} x^11 - \frac 25 x^2+\frac {3}{11} x^{7/2} dx = \frac{x^8}{20}+\frac{x^{12}}{44}-\frac{2x^3}{15}+\frac{2x^{9/2}}{33} \Big\vert^1_0=\frac{33+15-88+40}{3· 4 · 5 · 11}=0 $$
ol.algorithm(title='Изменение порядка интегрирования')
  li Нарисовать графики пределов интегрирования
  li Выразить функции через другую переменную
  li Найти на графике новые пределы интегрирования 
.
  $Δ = \begin{pmatrix} z_{xx}’’ & z_{xy}’’ \\ z_{yx}’’ & z_{yy}’’ \\ \end{pmatrix}$ 
  $ z_{xx}’’ \begin{aligned} 
  &>0, \text{Экстремум есть} \\ 
  &&lt;0, \text{Экстремума нету} \\ 
  &=0, \text{Продолжить исследование} \\ 
  \end{aligned}$

br
.condition Достаточное условие существование экстремума функции $f(x,y)$ в точке $M(x,y)$
  ul
    li $f_{xx}''$
dl
  dt Дивергенция $\vec F = P(x,y,z)\vec i + Q(x,y,z)\vec j + R(x,y,z)\vec k:\nabla · \vec F = \frac {\partial P}{\partial x}+\frac {\partial Q}{\partial y}+\frac {\partial R}{\partial z}$

