h2 Complex numbers

h4 Square Root of #[i i]
	a(href="http://www.milefoot.com/math/complex/squarerootofi.htm")
p Do you remember the imaginary number $i$, which stands for $\sqrt{-1}$ ? We couldn't describe $\sqrt{-1}$ with a real number, since the square of a positive number is positive, and the square of a negative number is positive. There is no real number whose square is negative. The square root of a real number is not always a real number. It turns out that $\sqrt{-1}$ is a rather curious number, which you can read about in #[a(href='http://www.milefoot.com/math/complex/imagnumbers.htm') Imaginary Numbers].
p But have you ever thought about $\sqrt{i}$ ? Won't we need a $j$, or some other invention to describe it? Actually, no. It turns out that $\sqrt{i}$ is another complex number. We won't need a $j$.
p When we first encountered the number $i$, we also learned about complex numbers, or numbers of the form $a+bi$. It turns out that square roots of complex numbers are always other complex numbers.
p Consider $2+3i$ for the moment. We can square that number:
| \begin{equation*} (2+3i)^2 = (2+3i)(2+3i) = 4+6i+6i+9i^2 = 4+12i-9 = -5+12i \end{equation*} 
p Therefore, the square root of $-5+12i$ is $2+3i$. So now we have demonstrated one case where the square root of a complex number is another complex number.
h5 An algebraic derivation
p So let's assume that there is a number $a+bi$ which represents $\sqrt{i}$. Since
| \begin{equation*} (a+bi)^2 = a^2+2abi+b^2 i^2 = (a^2-b^2)+(2ab)i \end{equation*} 
p and since this result should equal the number $i$, we obtain the following system of equations:
table: tr: td $ \left\{ \begin{align} a^2-b^2 &=0 \\ 2ab &=1 \end{align} \right. $
p When the first equation is solved for the variable $a$, we learn that the variables $a$ and $b$ are either equal or opposites. From the second equation, we know that the product is a positive one-half, so the variables $a$ and $b$ must be equal. (If they were opposite, the product would have been negative.) Therefore, the second equation becomes $2a^2=1$, whose solution is $a = \pm \dfrac{\sqrt{2}}{2}$.
p Therefore, the number $i$ has two square roots (just like positive numbers do). They are $\dfrac{\sqrt{2}}{2} + \dfrac{\sqrt{2}}{2} i$ and $-\dfrac{\sqrt{2}}{2} - \dfrac{\sqrt{2}}{2} i$. (You can check them both. They both work!)
h5 Epilogue
p Once you become accustomed to the idea that $i$ is just another number, then it becomes easy to accept the idea that we could use the number $i$, or any other imaginary number, in (almost) any operation that we could use a real number. You can read more about finding #[a(href='http://www.milefoot.com/math/complex/sqrootsimag.htm') Square Roots of Imaginary Numbers, Using Algebra]. Or read more about finding all manner of roots using the relationship between #[a(href='http://www.milefoot.com/math/complex/imagandtrig.htm') Imaginary Numbers and Trigonometry].


h4 Square Roots of Imaginary Numbers, Using Algebra
	a(href="http://www.milefoot.com/math/complex/sqrootsimag.htm")
p So we actually found $\sqrt{i}$, the #[a(href='http://www.milefoot.com/math/complex/squarerootofi.htm') square root of #[i i]]. In fact, the number $i$ had two square roots, $\dfrac{\sqrt{2}}{2} + \dfrac{\sqrt{2}}{2} i$ and $-\dfrac{\sqrt{2}}{2} - \dfrac{\sqrt{2}}{2} i$. So can we find square roots of other imaginary numbers? Sure.
h5 First example
p Let's try to find the square roots of $3+4i$. Since
| \begin{equation*} (a+bi)^2 = a^2+2abi+b^2 i^2 = (a^2-b^2)+(2ab)i \end{equation*} 
p we need to solve the system of equations
table: tr: td $ \left\{ \begin{align} a^2-b^2 &=3 \\ 2ab &=4 \end{align} \right. $
p We can't solve this system as quickly as we did when we found the square root of $i$, but it still can be done. Solving the second equation for the variable $b$, we get $b=\dfrac2a$. Substituting this quantity into the first equation, we get $a^2-\dfrac{4}{a^2}=3$. Clearing the fractions gives $a^4-3a^2-4=0$. This can be solved by factoring, so $a^2=4$ or $a^2=-1$. But we want real values for the variable $a$, so we discard $-1$. Therefore, $a^2=4$, and the values of $a$ are $2$ and $-2$. Using $b=\dfrac2a$, we find $b=\pm 1$. So the two square roots of $3+4i$ are $2+i$ and $-2-i$.
h5 Second example
p Let's try to find the square roots of $2+3i$. Once again, since
| \begin{equation*} (a+bi)^2 = a^2+2abi+b^2 i^2 = (a^2-b^2)+(2ab)i \end{equation*} 
p we need to solve the system of equations
table: tr: td $ \left\{ \begin{align} a^2-b^2 &=2 \\ 2ab &=3 \end{align} \right. $
p Solving the second equation for the variable $b$, we get $b=\dfrac{3}{2a}$. Substituting this quantity into the first equation, we get $a^2 - \dfrac{9}{4a^2} = 2$. Clearing the fractions gives $4a^4-8a^2-9=0$. This can be solved using the quadratic formula, and we get $a^2 = 1 \pm \dfrac{\sqrt{13}}{2}$. But we want real values for the variable $a$, so we discard the negative sign. Therefore, we get $a = \pm \sqrt{1+\dfrac{\sqrt{13}}{2}} = \pm \dfrac12 \sqrt{4+2\sqrt{13}}$. (Messy, but true!) Using $b=\dfrac{3}{2a}$, we find $b= \pm \dfrac{3}{\sqrt{4+2\sqrt{13}}}$. So the two square roots of $2+3i$ are $\dfrac12 \sqrt{4+2\sqrt{13}} + \dfrac{3}{\sqrt{4+2\sqrt{13}}} i$ and $ -\dfrac12 \sqrt{4+2\sqrt{13}} - \dfrac{3}{\sqrt{4+2\sqrt{13}}} i$.
h5 Calculator
p A #[a(href='http://math.jccc.net:8180/webMathematica/MSP/swilson/sqrtcplx') Square Root Calculator] is also available. It gives the square roots of complex numbers in radical form, as discussed on this page.
h5 Epilogue
p There is another way to find roots, using trigonometry. You can read more about this relationship in #[a(href='http://www.milefoot.com/math/complex/imagandtrig.htm') Imaginary Numbers and Trigonometry].






h4 Imaginary Numbers and Trigonometry
	a(href="http://www.milefoot.com/math/complex/imagandtrig.htm")
p In our earlier discussion of #[a(href='http://www.milefoot.com/math/complex/imagnumbers.htm') imaginary numbers], we learned how a picture of the complex number $2+3i$ can be drawn.
img(src='http://www.milefoot.com/math/complex/images/argand.gif')
p If we draw a right triangle in the picture, then we have:
img(src='http://www.milefoot.com/math/complex/images/argand2.gif')
p The parts of the complex number $2+3i$ are shown by the horizontal and vertical sides of the triangle. The hypotenuse of the right triangle has length $\sqrt{13}$, found by using the Pythagorean Theorem or the distance formula.
p In the triangle, if we use $P$ for the name of the angle at the origin, then we can rewrite the number $2+3i$ by using its trigonometric components. The horizontal component is $\sqrt{13}\cos P$, the vertical component is $\sqrt{13}(\sin P)i$, so the number $2+3i$ is the same as $\sqrt{13}(\cos P + i \sin P)$. Basically, every complex number can be written in the form
| \begin{equation*} a+bi= r (\cos P + i \sin P) \end{equation*} 
h5 Multiplying and dividing
p There are many identities in trigonometry, and they are the key to multiplying and dividing complex numbers. Suppose we have the two complex numbers $r (\cos P + i \sin P)$ and $s (\cos Q + i \sin Q)$. When we multiply them using distributive property, we obtain $rs (\cos P \cos Q + i \cos P \sin Q + i \sin P \cos Q - \sin P \sin Q)$. But the formulas for the sine and cosine of a sum allow us to rewrite this result as
| \begin{equation*} [r (\cos P + i \sin P)][s (\cos Q + i \sin Q)] = rs[\cos(P+Q)+i\sin(P+Q)] \end{equation*} 
p In words, multiplying complex numbers involves multiplying their distances from the origin, and adding their angles.
p We can derive a similar formula for dividing complex numbers. That formula is
| \begin{equation*} \frac{r (\cos P + i \sin P)}{s (\cos Q + i \sin Q)} = \frac{r}{s}[\cos(P-Q)+i\sin(P-Q)] \end{equation*} 
h5 Powers and roots
p Since exponents represent repeated multiplication, we can derive a formula for powers of complex numbers. That formula is known as #[b DeMoivre's Theorem]:
| \begin{equation*} \left[r(\cos P+i\sin P) \right]^n = r^n (\cos nP + i \sin nP) \end{equation*} 
p We can also use this formula to do roots, by using fractions for the variable $n$. However, roots are not unique, since the trigonometric functions are periodic. The formula which gives the $n$th roots is
| \begin{equation*} [r (\cos P + i \sin P)]^{\frac{1}{n}} = r^\frac{1}{n} \left( \cos \frac{P+2k\pi}{n}+i\sin \frac{P+2k\pi}{n} \right) \end{equation*} 
p Notice that this formula not only does square roots, but all kinds of roots.
p So what is the square root of $2+3i$? In trigonometric form, the original number is $\sqrt{13}(\cos P + i\sin P)$, where the angle $P = \arctan \frac32$. Therefore, the square roots are $\sqrt{\sqrt{13}}\left( \cos\frac12\arctan\frac32+i\sin\frac12\arctan\frac32\right)$ and $\sqrt{\sqrt{13}}\left( \cos(\pi+\frac12\arctan\frac32)+i\sin(\pi+\frac12\arctan\frac32)\right)$.
h5 Epilogue
p Of course, now we can simply ask some hand held calculators to do our complex number arithmetic. Unfortunately, the calculator doesn't tell us why the answers are the way they are. This discussion was intended to help our understanding.
p Now, if you have mastered square roots of imaginary numbers, are you ready for imaginary numbers as exponents? If so, read #[a(href='http://www.milefoot.com/math/complex/exponentofi.htm') Using #[i i] as an Exponent].
p Back to #[a(href='http://www.milefoot.com/math/complex/index.htm') introduction].



h4 Using $i$ as an Exponent
	a(href="http://www.milefoot.com/math/complex/exponentofi.htm")
p Since we can find the #[a(href='http://www.milefoot.com/math/complex/squarerootofi.htm') square root of $i$], can we do other operations with $i$? For instance, can we use $i$ as an exponent? We sure can.
p There is a relationship between #[a(href='http://www.milefoot.com/math/complex/imagandtrig.htm') imaginary numbers and trigonometry], which produces the multiplication formula
| \begin{equation*} \left[r(\cos P+i\sin P)\right]\left[s(\cos Q+i\sin Q)\right]= rs\left[\cos(P+Q)+i\sin(P+Q)\right] \end{equation*} 
p This formula basically states that multiplication of complex numbers is related to addition of angles.
p There is another situation in which multiplication turns into addition, which you may call from your beginning algebra days. Exponent rules have the property that $a^x a^y = a^{x+y}$. So we might expect a connection between complex numbers and exponential functions. And such a connection does exist! It is not normally studied until calculus, because of the difficulties in the details. But we won't let that stop us...
h5 A definition
p In a (usually second semester) calculus course, relationships between functions and "infinite degree polynomials" are studied. Such relationships are called series representations of the functions. For our purpose, the important series representations are:
| \begin{equation*} e^x = 1+x+\frac{x^2}{2!}+\frac{x^3}{3!}+\frac{x^4}{4!}+\frac{x^5}{5!}+\ldots \end{equation*} \begin{equation*} \cos x = 1-\frac{x^2}{2!}+\frac{x^4}{4!}-\frac{x^6}{6!}+\ldots \end{equation*} \begin{equation*} \sin x = x-\frac{x^3}{3!}+\frac{x^5}{5!}-\frac{x^7}{7!}+\ldots \end{equation*} 
p You should immediately notice that if the terms of the sine and cosine series were combined, and certain signs changed, that the exponential series would result. In fact, by introducing the number $i$ into the mix, we can get the following result:
| \begin{equation*} e^{ix} = 1+ix-\frac{x^2}{2!}-\frac{ix^3}{3!}+\frac{x^4}{4!}+\frac{ix^5}{5!}-\ldots = \cos x + i\sin x \end{equation*} 
p This result is often used as a the beginning of a definition of complex number exponents.
h5 Some examples
p Let's substitute some numbers.
p Using a value of 1 for $x$, we get $e^i = \cos 1 + i\sin 1 \approx 0.5403+0.8415i$.
p Using $\pi$ for the value of $x$, we get $e^{i\pi} = \cos\pi + i\sin\pi =-1+0i=-1$. This result is often written as $e^{i\pi}+1=0$. It is considered a quite remarkable relationship between five important numbers of mathematics: the additive identity 0, the multiplicative identity 1, the imaginary unit $i$, and the constants $e$ and $\pi$.
h5 Different bases
p What if we want to raise other numbers to the power $i$? We can use the following relationship: $a^x = (e^{\ln a})^x = e^{x \ln a}$.
p Using base $2$ and exponent $i$, we get $2^i = e^{i\ln 2} = \cos\ln 2+i\sin\ln 2 \approx 0.7692+0.6390i$. (This is actually the principal value of $2$ to the $i$ power, there are other values which are possible.)
p Using base $i$ and exponent $i$, we get: $i^i = e^{i\ln i} = e^{i\ln\left(\cos\frac{\pi}{2}+i\sin\frac{\pi}{2}\right)} = e^{i\ln e^{\frac{i\pi}{2}}} = e^{\frac{-\pi}{2}}$. This is another amazing result. An imaginary number to an imaginary power is a real number! In this case, the number is approximately $0.2079$. (Although this is also the principal value, one of many possible values.)
h5 General formula
p Let's get a general formula for a complex number to a complex power. (In the process, we will see why powers can have many answers.) We begin with $(a+bi)^{c+di} = e^{(c+di)\ln(a+bi)}$. Then we can rewrite $a+bi$ in trigonometric form, say $r(\cos P+i\sin P)$. But we found a relationship between trigonometry and complex exponentials, so this number also has a complex exponential form, $re^{iP}$. Substituting this form into the exponent of our original equation, we have $(a+bi)^{c+di} = e^{(c+di)\ln re^{iP}}$. This can be simplified to obtain $(a+bi)^{c+di} = e^{(c\ln r-dP)+i(d\ln r+cP)}$. The real and imaginary parts of this exponent can be simplified separately, to obtain the result:
| \begin{equation*} (a+bi)^{c+di} = r^c e^{-dP}\left[\cos(d\ln r+cP)+i\sin(d\ln r+cP)\right] \end{equation*} 
p So why can this formula give many answers? Because there are many ways to describe the angle $P$. So we allow the variable $P$ in the above formula to vary by multiples of $2\pi$. This gives our final result:
| \begin{equation*} (a+bi)^{c+di} = r^c e^{-dP}\left[\cos(d\ln r+cP+2ck\pi)+i\sin(d\ln r+cP+2ck\pi)\right] \end{equation*} 
h5 Epilogue
p Once you have mastered imaginary exponents, you can do almost any function involving imaginary numbers. Read on in #[a(href='http://www.milefoot.com/math/complex/functionsofi.htm') Functions of Complex Numbers], where you will learn how to do logarithms, trigonometric, and hyperbolic functions, and their inverses.






h4 Functions of Complex Numbers
	a(href="http://www.milefoot.com/math/complex/functionsofi.htm")
p Once we have mastered #[a(href='http://www.milefoot.com/math/complex/exponentofi.htm') using #[i i] as an exponent], we can advance to functions of complex numbers. Exponential functions, of course, are simply functions which use $i$ as an exponent.
h5 Logarithm functions
p Since a complex number can be written in exponential form as $re^{iP}$, a logarithm is almost immediate. We get $\ln re^{iP} = \ln r + \ln e^{iP} = \ln r + iP$, which gives the principal value of the natural logarithm. But the angle $P$ is not unique, as it can vary by multiples of $2\pi$. Therefore, the formula for the natural logarithm of a complex number is $\ln re^{iP} = \ln r + iP + 2k\pi i$.
p For example, we can find the natural logarithm of $i$. Its principal value is $\ln i = \ln \left(1e^{\frac{i\pi}{2}}\right) = \dfrac{\pi}{2} i$.
p Another interesting example is the natural logarithm of negative one. Its principal value is $\ln (-1) = \ln \left(1e^{i\pi}\right) = \pi i$. (And you thought you couldn't take logarithms of negative numbers! You can, but the answers are not real numbers.)
p We can use the change-of-base formula to find other base logarithms (including complex bases). For example, $\log_i{e} = \dfrac{\ln e}{\ln i} = \dfrac{1}{\frac{\pi}{2}i} = \dfrac{-2}{\pi} i$.
h5 Trigonometric Functions
p Because of the formula $e^{ix}=\cos x+i\sin x$, we can immediately obtain some formulas for the sine and cosine functions, in terms of complex exponentials. These formulas are often used as definitions of the trigonometric functions for complex numbers.
| \begin{equation*} \cos{x} = \frac{e^{ix}+e^{-ix}}{2}, \qquad \sin{x} = \frac{e^{ix}-e^{-ix}}{2i} \end{equation*} 
p Substituting the quantity $ix$ in place of the variable $x$, we can produce formulas for pure imaginary numbers. Notice that the results are related to the hyperbolic functions.
| \begin{equation*} \cos{ix} = \frac{e^x+e^{-x}}{2} = \cosh x, \qquad \sin{ix} = \frac{e^{-x}-e^{x}}{2i} = i\sinh x \end{equation*} 
p Then, using the formulas for the sine and cosine of the sum of two angles, we can obtain formulas for the sine and cosine of complex numbers.
| \begin{equation*} \cos(a+bi) = \cos a \cosh b - i\sin a \sinh b \end{equation*} \begin{equation*} \sin(a+bi) = \sin a \cosh b + i\cos a \sinh b \end{equation*} 
p As an example, consider the cosine of $i$. We get $\cos i = \cos 0 \cosh 1 - i\sin 0 \sinh 1 = \cosh 1 = \frac{e^1+e^{-1}}{2} \approx 1.5431 $.
h5 Hyperbolic Functions
p Using the connection between hyperbolic functions and trigonometric functions, the results for hyperbolic functions are almost immediate.
| \begin{equation*} \cosh(a+bi) = \cosh a \cos b + i\sinh a \sin b \end{equation*} \begin{equation*} \sinh(a+bi) = \sinh a \cos b + i\cosh a \sin b \end{equation*} 
p As an example, consider the hyperbolic cosine of $i$. We get $\cosh i = \cosh 0 \cos 1 + i\sinh 0 \sin 1 = \cos 1 \approx 0.5403 $.
h5 Inverse Trigonometric Functions
p Since $\cos x = \dfrac{e^{ix}+e^{-ix}}{2}$, we can find the inverse by replacing the function with the variable $y$, swapping $x$ and $y$, then solving for $y$. After the variable swap, we have $x = \dfrac{e^{iy}+e^{-iy}}{2}$. Multiplying both sides by $2e^{iy}$ gives the equation $0 = e^{2iy} - 2xe^{iy} + 1$. This can be solved using the quadratic formula, to get $e^{iy} = \dfrac{2x \pm \sqrt{4x^2-4}}{2}$. After simplifying, we can take the natural logarithm of both sides and divide by $i$. Then, the result is
| \begin{equation*} \cos^{-1} x = -i\ln\left[x\pm i\sqrt{1-x^2}\right] \end{equation*} 
p (A factor of $i$ typically appears as the coefficient of the square root so that the similarities between the inverse cosine and inverse sine formulas are more apparent.)
p By similar arguments, the inverse sine formula is found to be
| \begin{equation*} \sin^{-1} x = -i\ln\left[ix\pm \sqrt{1-x^2}\right] \end{equation*} 
p and the inverse tangent formula is
| \begin{equation*} \tan^{-1} x = \frac{i}{2} \ln\frac{i+x}{i-x} \end{equation*} 
p As an example, consider the inverse cosine of $i$. We shall find only one of its many values, by using the plus sign in the formula. We get: $\cos^{-1} i = -i\ln\left[i+i\sqrt{1-i^2}\right] = -i\ln\left[(1+\sqrt{2})i\right]$. Then we use the logarithm formula to continue: $-i\ln\left[(1+\sqrt{2})i\right] = -i\ln\left[(1+\sqrt{2})e^{\frac{i\pi}{2}}\right] = -i\left[\ln(1+\sqrt{2}) +\dfrac{\pi}{2}i \right]$. This can be simplified, and we get $-i\left[\ln(1+\sqrt{2}) +\dfrac{\pi}{2}i \right] = \dfrac{\pi}{2} -i\ln(1+\sqrt{2}) \approx 1.57-0.88i$.
h5 Inverse Hyperbolic Functions
p The formulas are identical to those previously found for inverse hyperbolic functions:
| \begin{equation*} \cosh^{-1} x = \ln\left[x\pm \sqrt{x^2-1}\right] \end{equation*} \begin{equation*} \sinh^{-1} x = \ln\left[x\pm \sqrt{x^2+1}\right] \end{equation*} 
p For example, one of the values of the inverse hyperbolic cosine of $i$ (using the plus sign in the formula) is: $\cosh^{-1} x = \ln\left[i+ \sqrt{i^2-1}\right] = \ln\left[(1+\sqrt{2})i\right]$. Then using the logarithm formula, we get: $\ln\left[(1+\sqrt{2})i\right] =\ln(1+\sqrt{2})+\dfrac{\pi}{2}i \approx 0.88+1.57i$.
