extends ../_layout.pug

block content 
  article: include _introduction
  ul #[dt Виды решений ЗЛП]
    dl
      dt #[abbr(term="Вырожденное решение") ВР]
      dd БР содержащее базисную переменную равную нулю
  article: include _simplex_method