extends ../_layout.pug

block content 
    article: include _introduction
    ul #[span.name Виды решений ЗЛП]
        li.definition
            span.name #[abbr(term="Вырожденное решение") ВР]
            span.meaning БР содержащее базисную переменную равную нулю
    article: include _simplex_method