doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='../styles.css')
        script(src="../script.js") 
        script.
            MathJax = {
            loader: {load: ['[tex]/physics']},
            tex: {
                packages: {'[+]': ['physics']},
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                macros : {
                    //- dvp: ["{ \\dfrac{\\partial{#1}}{\\partial{#2}} }",2],
                    dbd: ["{ \\frac{\\Delta{#1}}{\\Delta{#2}}}",2],
                    const: ["{\\operatorname{const}}"],
                    oiint: ["{\\unicode{x222F}}"],
                    oiiint: ["{\\unicode{x2230}}"],
                    EMF: ["{\\mathscr{E}}"],
                }
            },
            };
        script(type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js")
        script document.addEventListener("touchstart", function() {}, true);
        title University document
        block scripts
    body 
        header 
            nav
                a(href="../engineering_graphics/engineering_graphics.html") Инженерная графика
                a(href="../math_analysis/math_analysis.html") Математический анализ
                a(href="../physics/physics.html") Физика 
                a(href="../linear_programing/linear_programing.html") Линейное программирование
        block content