#svg-1 {
  #animated-circle {
    transition: all linear 1s, stroke ease-in 3s, fill ease-out 1.5s;
    stroke-dasharray: 10 30;
    fill: var(--text-color);
    stroke: var(--background-color);
    stroke-width: 0.3rem;
  }

  &:hover {
    #animated-circle {
      stroke-width: 1rem;
      stroke-dasharray: 10 0;
      fill: var(--background-color);
      stroke: var(--text-color);
    }
  }
}

.wavy-text span {
  display: inline-block;
  animation: wavy-text 0.7s ease-in-out forwards;
}

$radius: 0.5rem;

@keyframes wavy-text-wait {

  0%,
  50% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-$radius);
  }
}

@keyframes wavy-text {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-$radius);
  }
}


.dots {
  letter-spacing: 0.1rem;
  font-weight: 900;
}


span.collapse[open]:not(:hover) span:not(.summary) {
  animation: blink 1s linear 2s infinite;
}