@import "variables_and_mixins";

#switch-theme {
  border: none;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: none;
  overflow: visible;
  z-index: $index-toolbar;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;

  a {
    padding: 0.5rem;
    display: inline-block;
  }
}

body {
  padding-right: 0.2rem;
  background-color: var(--background-color);
}

@media screen and (0px <=width <=1000px) {
  html {
    word-break: break-all;
  }
}