@import "variables";
html {
  font-family: "Source Sans Pro";
  word-break: keep-all;
  font-size: 21px;
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Baskerville;
}
section > h1:first-of-type {
  border-top: 5rem solid var(--text-color);
  display: block;
  margin-top: 10rem;
  text-align: right;
  font-weight: bold;
  &:first-letter {
    font-size: 1.5em;
    font-family: Forum;
  }
}
h1 {
  font-size: 4rem;
  border-top: 2rem solid var(--text-color);
  font-family: Oswald;
}
h2,
h3 {
  text-shadow: 1rem 1rem 0.4rem gray;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
  padding-left: 1rem;
  border-left: 0.3rem solid var(--text-color);
}

ul,
ol {
  h1 {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  &.columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 3rem;
  }
  &.laws,
  &.teorems {
    h2 {
      text-align: right;
      a {
        float: left;
      }
    }
    padding-left: 0;
    &::before {
      font-size: 5rem;
      border-top: 5rem solid var(--text-color);
      display: block;
      margin-top: 10rem;
      text-align: right;
      font-weight: bold;
      display: block;
      border-width: 1rem;
      margin-top: 3rem;
      font-family: Georgia, "Times New Roman", Times, serif;
      border-top: 0.5rem solid var(--text-color);
    }
    &::first-letter {
      font-size: 1.5em;
      font-family: Forum;
    }
  }

  &.laws {
    &::before {
      content: "Законы";
    }
    > .definition > .name {
      &::before {
        content: "Закон";
      }
    }
  }
  &.teorems {
    &::before {
      content: "Теоремы";
    }
    .definition .name {
      &::before {
        content: "Теорема";
      }
    }
  }
}
p {
  &.designation {
    &::before {
      content: "Обозначение";
      font-style: italic;
      padding-right: $space * 2;
    }
  }
}
p,
span {
  &.intro {
    font-family: $font-PD;
    font-size: larger;
    font-style: italic;
  }
  &.note {
    &::before {
      content: "!";
      padding-right: 0.6rem;
      padding-left: 0.6rem;
      font-weight: bold;
    }
    .equation {
      background-color: var(--note-color);
    }
    background-color: var(--note-color);
    border-radius: 0.2rem;
  }
  &.important {
    background-color: darkred;
    border-radius: 0.2rem;
    font-weight: 600;
    padding-left: $space;
    &::after {
      content: "‼️";
      font-size: larger;
    }
  }
  &.remark {
    font-weight: normal;
    border-radius: $space;
    padding-left: $space;
    padding-right: $space;
    background-color: darkslategrey;
  }
}
span {
  &.equation {
    display: inline-block;
    max-width: 100%;
    width: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    vertical-align: middle;
    position: relative;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &.if {
    span.if {
      padding-right: 0;
      padding-left: $space * 3;
      &::before {
        content: "при";
        font-style: italic;
        padding-right: $space;
      }
      &::after {
        content: "";
        padding-right: 0;
      }
    }
    span.vice_versa::before {
      content: "Наоборот";
      font-style: italic;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    padding-left: 0.2em;
    &::before {
      content: "Если";
      font-style: italic;
      padding-right: 0.5rem;
    }
    &::after {
      content: ";";
      font-size: larger;
      font-weight: bold;
      padding: {
        left: 0.1rem;
        right: 1rem;
      }
    }
  }
  &.where {
    padding-left: $space * 2;
    font-weight: normal;
    font-size: small;
    li {
      display: inline;
    }
    &::before {
      content: "где";
      background-color: #c99e00;
      padding-left: $space;
      padding-right: $space;
      margin-right: $space;
      border-radius: 0.2rem;
    }
  }
  &.tip {
    text-decoration: underline;
    text-decoration-style: dashed;
    > span {
      display: none;
    }
    &:hover > span {
      position: fixed;
      top: 50%;
      left: 50%;
      word-break: keep-all;
      transform: translateX(-50%) translateY(-50%);
      padding: 0.5rem;
      font-weight: 400;
      font-size: larger;
      background-color: $color-dark-gray;
      border: 0.05rem solid var(--text-color);
      z-index: 1;
      display: block;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  &.collapse {
    &:hover {
      &:not([open]) {
        span.summary {
          &::after {
            content: "…";
            background-color: $color-dark-gray;
            border-radius: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }
      }
      &[open] {
        background-color: $color-dark-gray;
        border-radius: 0.2rem;
      }
    }
    &[open] {
      span {
        display: inline;
      }
      span.summary {
        &::after {
          content: "";
        }
      }
    }
    span.summary {
      display: inline;
      &::after {
        content: "…";
        transition: background-color 0.2s linear 0s;
        transition: padding 0.2s linear 0s;
      }

      padding-right: 0.2rem;
    }
    span {
      display: none;
    }
  }
  &.follow {
    &::before {
      content: "⇒";
    }
  }
  &.unit {
    font-family: "LMRoman10";
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
}

.definition {
  display: block;
  a {
    float: right;
    padding: 0;
    margin: 0;
  }
  .name {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0;

    &::before {
      padding-right: 1rem;
      font-weight: bolder;
      color: #c99e00;
      font-size: 1.5rem;
    }
  }
  &::first-letter {
    text-transform: uppercase;
  }
  > .meaning {
    &::before {
      content: "－";
      font-weight: 900;
      padding-left: $space;
      padding-right: $space * 3;
    }
  }
  > ul {
    > li {
      padding-left: 5px;
      &::marker {
        content: "└";
      }
    }
  }
  > ul.for {
    > li {
      &::before {
        content: "Для";
        padding-right: $space * 2;
        font-style: italic;
      }
    }
  }
}

@media (pointer: none), (pointer: coarse) {
  .definition {
    abbr[term] {
      &::after {
        display: inline;
      }
    }
  }
}

@media screen and (0px <= width <= 500px) {
  html {
    font-size: 18px;
  }
  .definition {
    .name {
      font-size: 1.1rem;
    }
  }
  @for $i from 1 through 4 {
    h#{$i} {
      font-size: #{3 - $i * 0.5}rem;
    }
  }
}
