@use "fonts";
@use "animations";
@use "docs_specific";
@use "html_structure";
@import "text_dynamic";
@import "text_static";
@import "variables_and_mixins";

p,
li {
  &::first-letter {
    text-transform: capitalize;
  }
}

abbr[term] {
  text-decoration: underline dotted;

  &:hover,
  &:active {
    &::after {
      content: "(" attr(term) ")";
      padding-left: 0wh3rem;
      padding-right: 0.3rem;
    }

    cursor: help;
  }
}

.expression {
  display: inline-block;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  position: relative;

  span.meaning {
    display: none;
  }

  &:hover span.meaning {
    position: absolute;
    top: -100%;
    left: -100%;
    width: max-content;
    max-width: 100vw;
    padding: 0.5rem;
    font-weight: 200;
    font-size: small;
    background-color: rgb(57, 57, 57);
    border: 0.05rem solid var(--text-color);
    transform: translateY(-50%) translateX(25%);
    display: block;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

a {
  color: var(--link-color);
  text-transform: capitalize;

  &:empty::before {
    content: "#";
  }

  &[book] {
    &::before {
      content: "§";
    }

    &:hover {

      // &:empty::before {
      //   display: none;
      // }
      &::after {
        content: attr(book);
      }
    }
  }

  &[lang] {
    &::after {
      content: "(" attr(lang) ")";
    }
  }
}

ul.condition {
  padding: 0;
  margin: 0;
  display: inline;

  &::before {
    content: ":";
  }

  li {
    display: inline;
    padding-left: 0.2em;

    &::before {
      content: "Если";
      font-style: italic;
      padding-right: 0.5rem;
    }

    &::after {
      content: ";";
      font-size: larger;
      font-weight: bold;

      padding: {
        left: 0.1rem;
        right: 1rem;
      }
    }
  }
}

iframe {
  filter: invert(var(--invert));
  margin-left: 50%;
  transform: translateX(-50%);
}

img {
  margin: auto;
  max-width: 100%;
  display: block;
  filter: invert(var(--invert));

  &.no-invert {
    filter: invert(0);
  }
}

figure {
  margin: auto;

  .group {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
  }

  &.float {
    width: min-content;

    img {
      width: max-content;
      margin: 0;
      padding: 0;
    }

    float: right;
  }

  figcaption {
    &.title {
      text-align: center;
      font-weight: 600;
      font-size: 2rem;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    text-align: center;
  }
}

details {
  &[open] {
    display: block;
    overflow-x: scroll;
    border-left: 0.1rem solid var(--text-color);
    border-bottom: 0.1rem solid var(--text-color);
    padding: 0.5rem;
    padding-left: $space;
    padding-top: 0;
  }

  summary {
    padding-left: 1rem;

    &:hover {
      background-color: rgba(gray, 0.5);
      border-radius: 1rem;
    }

    &.example {
      &::before {
        content: "Примеры";
        padding: 0.5rem;
      }
    }

    &.conclusion {
      &::before {
        content: "Вывод";
        padding: 0.5rem;
      }
    }

    &.proof {
      &::before {
        content: "Доказательство";
        padding: 0.5rem;
      }
    }

    &.info {
      &::before {
        content: "ℹ️";
        margin-right: 1em;
      }
    }
  }
}

table,
th,
td {
  border: 0.5px solid var(--text-color);
  border-radius: 2px;
}

ul {
  &.algorithm {
    .name {
      &::before {
        content: "❖";
      }
    }
  }
}

ol.inline {
  display: inline;
  counter-reset: inline-list;

  span.part {
    &::after {
      content: "-";
      padding-right: 0.5rem;
    }
  }

  &.custom {
    padding: 0;

    li {
      &::before {
        display: none;
      }
    }
  }

  li {
    display: inline;
    counter-increment: inline-list;

    &::before {
      content: counter(inline-list) " -";
      padding-right: 0.5rem;
    }

    &::after {
      content: ";";
      padding-right: 2rem;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}