@import url("https://fonts.googleapis.com/css2?family=Forum&family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

html {
  font-family: "Source Sans Pro";
  word-break: break-all;
  font-size: 16px;
  color: white;
}
@media screen and (0px <= width <= 500px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
}
abbr[title] {
  position: relative;
  &:hover {
    cursor: none;
    &::after {
      content: "(" attr(title) ")";
    }
  }
}
body {
  padding-right: 0.2rem;
  background-color: black;
}
section > h1:first-of-type {
  font-size: 5rem;
  border-top: 5rem solid white;
  display: block;
  margin-top: 10rem;
  text-align: right;
  font-weight: bold;
  &:first-letter {
    font-size: 1.5em;
    font-family: Forum;
  }
}
.equation {
  display: inline-block;
  max-width: 100%;
  width: fit-content;
  overflow: scroll;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Baskerville;
}
h1 {
  font-size: 5rem;
  border-top: 2rem solid white;
  font-family: Oswald;
}
h2,
h3 {
  text-shadow: 0 1rem 0.5rem rgba(yellow, 0.3);
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
a {
  color: #6ee4ff;
  text-transform: capitalize;
  &[lang] {
    &::after {
      content: "(" attr(lang) ")";
    }
  }
}
.condition {
  ul {
    padding: 0;
    margin: 0;
    display: inline;
    &::before {
      content: ":";
    }
    li {
      display: inline;
      padding-left: 0.2em;
      &::before {
        content: "Если";
        font-style: italic;
        padding-right: 0.5rem;
      }
      &::after {
        content: ";";
        font-size: larger;
        font-weight: bold;
        padding: {
          left: 0.1rem;
          right: 1rem;
        }
      }
    }
  }
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.definition {
  display: block;
  a {
    float: right;
    padding: 0;
    margin: 0;
    &:empty::before {
      content: "#";
    }
  }
  .name {
    font-weight: bold;
    font-size: larger;
    padding: 0;
  }
  .law {
    &::before {
      content: "Закон";
      padding-right: 1rem;
      font-weight: bolder;
      color: #c99e00;
      font-size: 1.5rem;
    }
  }
  &::first-letter {
    text-transform: uppercase;
  }
  .meaning {
    &::before {
      content: " － ";
    }
    &::after {
      content: ".";
    }
  }
  > ul {
    > li {
      padding-left: 5px;
      &::marker {
        content: "└";
      }
    }
  }
}
figure {
  margin: auto;
  &.float {
    float: right;
  }
  img {
    margin: auto;
    max-width: 100%;
    display: block;
  }
  figcaption {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2rem;
  }
}
.invert {
  filter: invert(1);
}

span {
  .follow {
    &::before {
      content: "⇒";
    }
  }
}
details[open] {
  div {
    overflow: scroll;
    border-left: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
    padding: 0.5rem;
  }
}
summary {
  padding-left: 1rem;
  &:hover {
    background-color: rgba(gray, 0.5);
    border-radius: 1rem;
  }
  &.example {
    &::before {
      content: "Примеры";
      padding: 0.5rem;
    }
  }
  &.info {
    &::before {
      content: "ℹ️";
      margin-right: 1em;
    }
  }
}
.important {
  padding: 8px;
  background-color: #400202;
  border-radius: 10px;
  font-weight: 600;
  font-size: larger;
  &::before {
    content: "❗️";
    font-size: larger;
  }
}
#table-of-content {
  max-width: 1000px;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  margin: auto;
  li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . ";
  }
  span {
    font-family: Menlo;
  }
  span:first-child {
    padding-right: 0.45em;
    background: black;
  }
  span + span {
    float: right;
    padding-left: 0.44em;
    background: black;
  }
}
li {
  &::first-letter {
    text-transform: uppercase;
  }
}
table,
th,
td {
  border: 0.5px solid black;
  border-radius: 2px;
}
.algorithm {
  .name {
    font-family: "Times new Roman";
    &::before {
      content: "❖";
    }
  }
}
ul[title],
ol[title] {
  &.algorithm {
    &::before {
      content: "❖ " attr(title);
      font-family: "Times New Roman", Times, serif;
    }
  }
  &::before {
    content: attr(title);
    display: block;
    font-weight: bold;
    padding: 4px;
  }
}

$highlight-color: rgba(255, 255, 0, 0.3);

#GOST-font {
  margin: auto;
  td {
    text-align: center;
    padding: 0.3rem;
  }
  th {
    border-top: 0.1rem solid white;
    padding: 0.3rem;
  }
  tr:not(:nth-child(4)) {
    td:nth-last-child(-n + 8) {
      border: 0.1rem solid white;
    }
  }

  border-collapse: collapse;
  overflow: hidden;
  td,
  th {
    position: relative;
  }
  tr:hover {
    background-color: $highlight-color;
  }
  td:hover::after {
    content: "";
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
  }

  td:hover::after,
  th:hover::after {
    background-color: $highlight-color;
  }
}
