mixin tip(v)
	span&attributes(attributes).tip_for!= v
	span.tip 
		block
mixin collapse
	span.collapsible_toggle&attributes(attributes)
	span.collapsible
		block
mixin folder(type="dots")
	if type == "dots"
		span.folder.wavy-text.dots ...
	span.folder-content
		block
mixin math
	- var oldBuf = pug_html;
	- pug_html = '';
	Math
		block
	- pug_html = oldBuf + pug_html.replace(/\${1,2}[^$]+\${1,2}/g,(body)=>body.replaceAll('{','&lcub;').replaceAll('{','&rcub;'));