
figure
	ol
		li: +m.block \int x^n \dd x = \frac{x^{n+1}}{n+1} + C; \quad n \ne -1;\\\quad \int \dd x = x + C; 
		li: +m.block \int \frac{\dd x}x = \ln |x| + C
		li: +m.block \int e^x \dd x = e^x + C
		li: +m.block \int a^x \dd x = \frac{a^x}{\ln{a}} + C \quad (a \gt 0, a \ne 1)
		li: +m.block \int \sin x \dd x = - \cos{x} + C
		li: +m.block \int \cos x \dd x = \sin{x} + C
		li: +m.block \int \frac{\dd x}{\cos^2 x}= \tg x + C
		li: +m.block \int \frac{\dd x}{\sin^2 x} = - \ctg x + C
		li: +m.block a \gt 0: \int \frac{\dd x}{\sqrt{a^2 - x^2}} = \left\{\arcsin \frac xa = \frac{\pi}2 - \arccos \frac xa\right\} + C
		li: +m.block \int\frac{\dd x}{\sqrt{x^2 \pm a^2}} = \ln \left| x+\sqrt{x^2 \pm a^2} \right| + C
		li: +m.block \int\frac{\dd x}{x^2 + a^2} = \frac 1a \arctg\frac xa + C
		li: +m.block \int\frac{\dd x}{x^2 - a^2} = \frac 1{2a} \ln \left|\frac{x - a}{x+a}\right| + C
	figcaption: h2 Таблица неопределенных интегралов
figure
	ol
		li: +m.block \int\sh x \dd x = \ch x + C
		li: +m.block \int\ch x \dd x = \sh x + C
		li: +m.block \int\frac{\dd x}{\ch^2 x} = \th x + C
		li: +m.block \int\frac{\dd x}{\sh^2 x} = - \cth x + C
		li: +m.block a \gt 0: \int\frac{\dd x}{\sqrt{x^2 + a^2}} = \arsh \frac xa + C;
		li: +m.block a \gt 0, x \ge a: \int\frac{\dd x}{\sqrt{x^2 - a^2}} = \arch \frac xa + C;
		li: +m.block \int\frac{\dd x}{\sqrt{x^2 - a^2}} = -\arch \left(-\frac xa\right) + C; \quad (a \gt 0, x \leqslant -a)
		li: +m.block \int\frac{\dd x}{x^2 - a^2} = - \frac 1a \arth \frac xa + C; \quad a \gt 0, |x| \lt a
		li: +m.block a \gt 0, |x| \gt a : \int\frac{\dd x}{x^2 - a^2} = - \frac 1a \arcth \frac xa + C;
	figcaption: h2 Интегралы, связанные с гиперболическими функциями
h4 Таблица интегралов в дифференциальной форме
p В математическом анализе большое значение имеет преобразование дифференциалов. Задачей интегрирования является сведение функции за знак дифференциала. Ниже приводится таблица интегралов в дифференциальной форме, устанавливающая связь между дифференциалами – бесконечно малыми приращениями.
ol
	li: +m.block x^n \dd x = \frac 1{n+1} d x^{n+1}; \quad n \ne -1
	li: +m.block \frac{\dd x}x = d \ln |x|
	li: +m.block e^x \dd x = d e^x
	li: +m.block a^x \dd x = \frac{1}{\ln{a}}d a^x \quad (a \gt 0, a \ne 1)
	li: +m.block \sin x \dd x = - d\cos{x}
	li: +m.block \cos x \dd x = d\sin{x}
	li: +m.block \frac{\dd x}{\cos^2 x}= d\tg x
	li: +m.block \frac{\dd x}{\sin^2 x} = - d\ctg x
	li: +m.block \frac{\dd x}{\sqrt{a^2 - x^2}} = d\arcsin \frac xa \quad (a \gt 0)
	li: +m.block \frac{\dd x}{\sqrt{x^2 \pm a^2}} = d\ln \left| x+\sqrt{x^2 \pm a^2} \right|
	li: +m.block \frac{\dd x}{x^2 + a^2} = \frac 1a d\arctg\frac xa
	li: +m.block \frac{\dd x}{x^2 - a^2} = \frac 1{2a} d\ln \left|\frac{x - a}{x +a}\right|
p Формулы, связанные с гиперболическими функциями: 
ol
	li: +m.block \sh x \dd x = d\ch x
	li: +m.block \ch x \dd x = d\sh x
	li: +m.block \frac{\dd x}{\ch^2 x} = d\th x
	li: +m.block \frac{\dd x}{\sh^2 x} = - d\cth x
	li: +m.block \frac{\dd x}{\sqrt{x^2 + a^2}} = d\arsh \frac xa; \quad (a \gt 0)
	li: +m.block \frac{\dd x}{\sqrt{x^2 - a^2}} = d\arch \frac xa ; \quad (a \gt 0, x \geqslant a)
	li: +m.block \frac{\dd x}{\sqrt{x^2 - a^2}} = -d\arch \left(-\frac xa\right) ; \quad (a \gt 0, x \leqslant -a)
	li: +m.block \frac{\dd x}{x^2 - a^2} = - \frac 1a d\arth \frac xa; \quad a \gt 0, |x| \lt a
	li: +m.block \frac{\dd x}{x^2 - a^2} = - \frac 1a d\arcth \frac xa; \quad a \gt 0, |x| \gt a
figure
	ol
		li: +m.block \int d\Bigl(f(x) \Bigr) = f(x) + C
		li: +m.block \int (u \pm v) \dd x = \int u \dd x \pm \int v \dd x
		li: +m.block \int c u \dd x = c \int u \dd x
		li: +m.block \int u dv = uv - \int v du
		li: +m.block \int f(x) \dd x = \int f(\varphi(t))\varphi'(t) dt,\quad x = \varphi(t)
	figcaption 
		h2 Основные методы интегрирования
		p Где #[+m f, u, v] – это функции от #[+m x] #[+m c] – постоянная.
figure
	ol
		li: +m.block \int \frac{\dd x}{x(\ln x - 1)} = \int \frac{\dd {\same{\ln |x|} {\ln |x|-1}}} {\ln x - 1} = \ln{\left|\ln|x| - 1\right|} + C
	figcaption: h2 Примеры(Заковыристые)








//- section 
	hgroup 
		h4 Hyperbolic Functions
		+source(links=['https://courses.lumenlearning.com/calculus1/chapter/hyperbolic-functions/'])
	h5 Learning Outcomes
	ul: li Identify the hyperbolic functions, their graphs, and basic identities
	p The #[strong hyperbolic functions] are defined in terms of certain combinations of #[+m e^x] and #[+m e^{−x}]. These functions arise naturally in various engineering and physics applications, including the study of water waves and vibrations of elastic membranes. Another common use for a hyperbolic function is the representation of a hanging chain or cable, also known as a catenary. If we introduce a coordinate system so that the low point of the chain lies along the #[+m y]-axis, we can describe the height of the chain in terms of a hyperbolic function. First, we define the hyperbolic functions.
	h5 Definition
	ol
		li Hyperbolic cosine #[+m \cosh x=\large \frac{e^x+e^{−x}}{2}]
		li Hyperbolic sine #[+m \sinh x=\large \frac{e^x-e^{−x}}{2}]
		li Hyperbolic tangent #[+m \tanh x=\large \frac{\sinh x}{\cosh x} \normalsize = \large \frac{e^x-e^{−x}}{e^x+e^{−x}}]
		li Hyperbolic cosecant #[+m \text{csch} \, x=\large \frac{1}{\sinh x} \normalsize = \large \frac{2}{e^x-e^{−x}}]
		li Hyperbolic secant #[+m \text{sech} \, x=\large \frac{1}{\cosh x} \normalsize = \large \frac{2}{e^x+e^{−x}}]
		li Hyperbolic cotangent #[+m \coth x=\large \frac{\cosh x}{\sinh x} \normalsize = \large \frac{e^x+e^{−x}}{e^x-e^{−x}}]
	p The name #[em cosh] rhymes with “gosh,” whereas the name #[em sinh] is pronounced “cinch.” #[em Tanh], #[em sech], #[em csch], and #[em coth] are pronounced “tanch,” “seech,” “coseech,” and “cotanch,” respectively.
	p Using the definition of #[+m \cosh(x)] and principles of physics, it can be shown that the height of a hanging chain, such as the one in Figure 6, can be described by the function #[+m h(x)=a \cosh(x/a)+c] for certain constants #[+m a] and #[+m c].
	p But why are these functions called #[em hyperbolic functions]? To answer this question, consider the quantity #[+m \cosh^2 t-\sinh^2 t]. Using the definition of #[+m \cosh] and #[+m \sinh], we see that  #[+m \cosh^2 t-\sinh^2 t=\large \frac{e^{2t}+2+e^{-2t}}{4}-\frac{e^{2t}-2+e^{-2t}}{4} \normalsize =1]
	p This identity is the analog of the trigonometric identity #[+m \cos^2 t+\sin^2 t=1]. Here, given a value #[+m t], the point #[+m() (x,y)=(\cosh t,\sinh t)] lies on the unit hyperbola #[+m x^2-y^2=1] (Figure 7).  #[img(src='https://s3-us-west-2.amazonaws.com/courses-images/wp-content/uploads/sites/2332/2018/01/11202702/CNX_Calc_Figure_01_05_007.jpg')]
	p Figure 7. The unit hyperbola #[+m \cosh^2 t-\sinh^2 t=1].
	h5 Graphs of Hyperbolic Functions
	p To graph #[+m \cosh x] and #[+m \sinh x], we make use of the fact that both functions approach #[+m \left(\frac{1}{2}\right)e^x] as #[+m x \to \infty], since #[+m e^{−x} \to 0] as #[+m x \to \infty]. As #[+m x \to −\infty, \, \cosh x] approaches #[+m \frac{1}{2}e^{−x}], whereas #[+m \sinh x] approaches #[+m -\frac{1}{2}e^{−x}]. Therefore, using the graphs of #[+m \frac{1}{2}e^x, \, \frac{1}{2}e^{−x}], and #[+m −\frac{1}{2}e^{−x}] as guides, we graph #[+m \cosh x] and #[+m \sinh x]. To graph #[+m \tanh x], we use the fact that #[+m \tanh(0)=0, \, -1<\tanh(x)&LT1] for all #[+m x, \, \tanh x \to 1] as #[+m x \to \infty], and #[+m \tanh x \to −1] as #[+m x \to −\infty]. The graphs of the other three hyperbolic functions can be sketched using the graphs of #[+m \cosh x, \, \sinh x], and #[+m \tanh x] (Figure 8).  #[img(src='https://s3-us-west-2.amazonaws.com/courses-images/wp-content/uploads/sites/2332/2018/01/11202706/CNX_Calc_Figure_01_05_011.jpg')]
	p Figure 8. The hyperbolic functions involve combinations of #[+m e^x] and #[+m e^{−x}].
	h5 Identities Involving Hyperbolic Functions
	p The identity #[+m \cosh^2 t-\sinh^2 t], shown in Figure 7, is one of several identities involving the hyperbolic functions, some of which are listed next. The first four properties follow easily from the definitions of hyperbolic sine and hyperbolic cosine. Except for some differences in signs, most of these properties are analogous to identities for trigonometric functions.
	h5 Identities Involving Hyperbolic Functions
	ol
		li #[+m \cosh(−x)=\cosh x]
		li #[+m \sinh(−x)=−\sinh x]
		li #[+m \cosh x+\sinh x=e^x]
		li #[+m \cosh x-\sinh x=e^{−x}]
		li #[+m \cosh^2 x-\sinh^2 x=1]
		li #[+m 1-\tanh^2 x=\text{sech}^2 x]
		li #[+m \coth^2 x-1=\text{csch}^2 x]
		li #[+m \sinh(x \pm y)=\sinh x \cosh y \pm \cosh x \sinh y]
		li #[+m \cosh (x \pm y)=\cosh x \cosh y \pm \sinh x \sinh y]
	h5 Example: Evaluating Hyperbolic Functions
	ol
		li Simplify #[+m \sinh(5 \ln x)].
		li If #[+m \sinh x=\frac{3}{4}], find the values of the remaining five hyperbolic functions.  Show Solution
	ol
		li Using the definition of the #[+m \sinh] function, we write #[+m \sinh(5 \ln x)=\large \frac{e^{5 \ln x}-e^{-5 \ln x}}{2} \normalsize = \large \frac{e^{\ln(x^5)}-e^{\ln(x^{-5})}}{2} \normalsize =\large \frac{x^5-x^{-5}}{2}].
		li Using the identity #[+m \cosh^2 x-\sinh^2 x=1], we see that #[+m \cosh^2 x=1+\big(\frac{3}{4}\big)^2=\frac{25}{16}]. 
			p Since #[+m \cosh x \ge 1] for all #[+m x], we must have #[+m \cosh x=5/4]. Then, using the definitions for the other hyperbolic functions, we conclude that #[+m \tanh x=3/5, \, \text{csch} \, x=4/3, \, \text{sech} \, x=4/5], and #[+m \coth x=5/3].
	p Watch the following video to see the worked solution to Example: Evaluating Hyperbolic Functions
	p: center: iframe(title='YouTube video player' src='https://www.youtube.com/embed/tOkk_pSFpzk?controls=0&start=1498&end=1738&autoplay=0')  Closed Captioning and Transcript Information for VideoFor closed captioning, open the video on its original page by clicking the Youtube logo in the lower right-hand corner of the video display. In YouTube, the video will begin at the same starting point as this clip, but will continue playing until the very end. 
	p You can view the #[a(href='https://oerfiles.s3-us-west-2.amazonaws.com/Calculus/Calculus1+Videos/1.5ExponentialAndLogarithmicFunctions1498to1738_transcript.txt') transcript for this segmented clip of “1.5 Exponential and Logarithmic Functions” here (opens in new window)].
	h5 Try It
	p Simplify #[+m \cosh(2 \ln x)].  Hint
	p Use the definition of the cosh function and the power property of logarithm functions.  Show Solution
	p #[+m \frac{(x^2+x^{-2})}{2}]
	h5 Inverse Hyperbolic Functions
	p From the graphs of the hyperbolic functions, we see that all of them are one-to-one except #[+m \cosh x] and #[+m \text{sech} \, x]. If we restrict the domains of these two functions to the interval #[+m [0,\infty)], then all the hyperbolic functions are one-to-one, and we can define the #[strong inverse hyperbolic functions]. Since the hyperbolic functions themselves involve exponential functions, the inverse hyperbolic functions involve logarithmic functions.
	h5 Definition
	p Inverse Hyperbolic Functions:  #[+m \begin{array}{cccc}\sinh^{-1} x=\text{arcsinh } x=\ln(x+\sqrt{x^2+1})\hfill & & & \cosh^{-1} x=\text{arccosh } x=\ln(x+\sqrt{x^2-1})\hfill \\ \tanh^{-1} x=\text{arctanh } x=\frac{1}{2}\ln\big(\frac{1+x}{1-x}\big)\hfill & & & \coth^{-1} x=\text{arccot } x=\frac{1}{2}\ln\big(\frac{x+1}{x-1}\big)\hfill \\ \text{sech}^{-1} x=\text{arcsech } x=\ln\big(\frac{1+\sqrt{1-x^2}}{x}\big)\hfill & & & \text{csch}^{-1} x=\text{arccsch } x=\ln\big(\frac{1}{x}+\frac{\sqrt{1+x^2}}{|x|}\big)\hfill \end{array}]
	p Let’s look at how to derive the first equation. The others follow similarly. Suppose #[+m y=\sinh^{-1} x]. Then, #[+m x=\sinh y] and, by the definition of the hyperbolic sine function, #[+m x=\frac{e^y-e^{−y}}{2}]. Therefore,  #[+m e^y-2x-e^{−y}=0]
	p Multiplying this equation by #[+m e^y], we obtain  #[+m e^{2y}-2xe^y-1=0]
	p This can be solved like a quadratic equation, with the solution  #[+m e^y=\large \frac{2x \pm \sqrt{4x^2+4}}{2} \normalsize =x \pm \sqrt{x^2+1}]
	p Since #[+m e^y>0], the only solution is the one with the positive sign. Applying the natural logarithm to both sides of the equation, we conclude that  #[+m y=\ln(x+\sqrt{x^2+1})]
	h5 Example: Evaluating Inverse Hyperbolic Functions
	p Evaluate each of the following expressions
	p #[+m \sinh^{-1}(2)] #[+m \tanh^{-1}\left(\frac{1}{4}\right)]  Show Solution
	p #[+m \sinh^{-1}(2)=\ln(2+\sqrt{2^2+1})=\ln(2+\sqrt{5}) \approx 1.4436]
	p #[+m \tanh^{-1}(\frac{1}{4})=\frac{1}{2}\ln(\frac{1+1/4}{1-1/4})=\frac{1}{2}\ln(\frac{5/4}{3/4})=\frac{1}{2}\ln(\frac{5}{3}) \approx 0.2554]
	h5 Try It
	p Evaluate #[+m \tanh^{-1}\left(\frac{1}{2}\right)].  Hint
	p Use the definition of #[+m \tanh^{-1} x] and simplify.  Show Solution
	p #[+m \frac{1}{2}\ln(3) \approx 0.5493].
