	.
hgroup 
	h2  § 1. Основные формулы комбинаторики
	+source(links=['https://tvims.nsu.ru/chernova/tv/lec/node3.html'])
| В данном разделе мы займёмся подсчётом числа «шансов». О числе шансов говорят, когда возможно несколько результатов какого-либо действия (извлечение карты из колоды, подбрасывание кубика или монетки). Число шансов — это число способов проделать это действие или, что то же самое, число возможных результатов этого действия.
h3 Теорема о перемножении шансов
| Пусть одно действие можно проделать пятью способами, а другое — двумя. Каким числом способов можно проделать пару этих действий?#[b Теорема 1.] Пусть множество #[img(src='img1.gif')] состоит из #[img(src='img2.gif')] элементов: #[img(src='img3.gif')], а множество #[img(src='img4.gif')] — из #[img(src='img5.gif')] элементов: #[img(src='img6.gif')]. Тогда можно образовать ровно #[img(src='img7.gif')] пар #[img(src='img8.gif')], взяв первый элемент из множества #[img(src='img1.gif')], а второй — из множества #[img(src='img4.gif')].#[b Замечание 1.]Можно сформулировать утверждение #[a(href='node3.html#th1') теоремы 1] так: если первый элемент можно выбрать #[img(src='img2.gif')] способами, а второй элемент — #[img(src='img5.gif')] способами, то пару элементов можно выбрать #[img(src='img7.gif')] способами.#[b Доказательство.] С элементом #[img(src='img9.gif')] мы можем образовать #[img(src='img5.gif')] пар: #[img(src='img10.gif')]. Столько же пар можно составить с элементом #[img(src='img11.gif')], столько же — с элементом #[img(src='img12.gif')] и с любым другим из #[img(src='img2.gif')] элементов множества #[img(src='img1.gif')]. Т.е. всего возможно #[img(src='img7.gif')] пар, в которых первый элемент выбран из множества #[img(src='img1.gif')], а второй — из множества #[img(src='img4.gif')].
p QED
| #[b Упражнение 1.]С помощью теоремы #[a(href='node3.html#th1') 1] доказать, что: 
dl
	dt а)
	dd при подбрасывании трёх монет возможно 2·2·2=8 различных результатов;
	dt б)
	dd бросая дважды игральную кость, получим 6·6=36 различных результатов;
	dt в)
	dd трёхзначных чисел бывает 9·10·10=900;
	dt г)
	dd трёхзначных чисел, все цифры которых различны, существует 9·9·8;
	dt д)
	dd чётных трёхзначных чисел возможно 9·10·5.
h3 Урны и шарики
| Есть урна (ящик), содержащая #[img(src='img18.gif')] пронумерованных объектов (шаров). Мы выбираем из этой урны #[img(src='img2.gif')] шаров; результатом выбора является набор из #[img(src='img2.gif')] шаров. Нас интересует, сколькими способами можно выбрать #[img(src='img2.gif')] шаров из #[img(src='img18.gif')], или сколько различных результатов может получиться. На этот вопрос нельзя дать однозначный ответ, пока мы не определимся: а) с тем, как организован выбор (можно ли шары возвращать в урну), и б) с тем, что понимается под различными результатами выбора. 
p Рассмотрим следующие возможные способы выбора.
dl
	dt 1.
	dd Выбор #[i с возвращением]: каждый вынутый шар возвращается в урну, каждый следующий шар выбирается из полной урны. В полученном наборе из #[img(src='img2.gif')] номеров шаров могут встречаться одни и те же номера.
	dt 2.
	dd Выбор #[i без возвращения]: вынутые шары в урну не возвращаются, и в полученном наборе не могут встречаться одни и те же номера.
p Условимся, какие результаты выбора (наборы из #[img(src='img2.gif')] номеров шаров) мы будем считать различными. Есть ровно две возможности.
dl
	dt 1.
	dd Выбор #[i с учётом порядка]: два набора номеров шаров считаются различными, если они отличаются составом или порядком номеров. Так, при выборе трёх шаров из урны, содержащей 5 шаров, наборы (1, 5, 2), (2, 5, 1) и (4, 4, 5) различны, если порядок учитывается.
	dt 2.
	dd Выбор #[i без учёта порядка]:  два набора номеров шаров считаются различными, если они отличаются составом. Наборы, отличающиеся лишь порядком следования номеров, считаются одинаковыми. 
		p Так, наборы (1, 5, 2) и (2, 5, 1) не различаются и образуют один и тот же результат выбора, если порядок не учитывается.
p Подсчитаем, сколько возможно различных результатов для каждой из четырёх схем выбора (выбор с возвращением или без, и в каждом из этих случаев — с учётом порядка или без).
| #[b Упражнение 2.] Перечислить все возможные результаты в каждой из четырёх схем при выборе двух шаров из четырёх. Например, при выборе с возвращением и без учёта порядка: (1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4).
h3 Выбор без возвращения, с учётом порядка
| #[b Теорема 2.]Общее количество различных наборов при выборе #[img(src='img2.gif')] элементов из #[img(src='img18.gif')] без возвращения и с учётом порядка равняется 
p: img(src='img32.gif')
|  и называется #[i числом размещений] из #[img(src='img18.gif')] элементов по #[img(src='img2.gif')] элементов.#[b Доказательство.] Первый шар можно выбрать #[img(src='img18.gif')] способами, его номер — любой из #[img(src='img18.gif')] возможных. При любом выборе первого шара есть #[img(src='img33.gif')] способ выбрать второй шар. По #[a(href='node3.html#th1') теореме 1], число возможных пар 
p: img(src='img34.gif')
p равно #[img(src='img35.gif')]. Для каждой такой пары есть #[img(src='img36.gif')] способа выбрать третий шар. По теореме #[a(href='node3.html#th1') 1], число возможных троек
p: img(src='img37.gif')
p равно произведению числа пар #[img(src='img35.gif')] и числа способов выбора третьего шара, т.е. равно #[img(src='img38.gif')]. Продолжая рассуждения, получим, что общее число возможных наборов из #[img(src='img2.gif')] шаров равно #[img(src='img39.gif')]. В этом произведении #[img(src='img2.gif')] сомножителей последний множитель #[img(src='img40.gif')] есть число способов выбора #[img(src='img2.gif')]-го шара, когда уже выбраны предыдущие.
p QED
| #[b Следствие 1.]Если в множестве #[img(src='img18.gif')] элементов, то существует ровно #[img(src='img41.gif')]#[i перестановок] этих элементов.#[b Доказательство.] Перестановка — результат выбора без возвращения и с учётом порядка #[img(src='img18.gif')] элементов из #[img(src='img18.gif')]. Поэтому общее число перестановок равно #[img(src='img42.gif')]
p QED
| #[b Упражнение 3.]Найти, сколько всего возможно различных результатов в следующих экспериментах: 
dl
	dt а)
	dd из колоды в 36 карт без возвращения, с учётом порядка вынимают три карты;
	dt б)
	dd Вася, Петя, Оля и Лена занимают какие-то четыре из десяти мест в классе;
	dt в)
	dd из русского алфавита выбирают четыре разные буквы и составляют слово;
	dt г)
	dd из различных цифр, не равных нулю, составляется трёхзначное число.
h3  Выбор без возвращения и без учёта порядка
| #[b Теорема 3.]Общее количество различных наборов при выборе #[img(src='img2.gif')] элементов из #[img(src='img18.gif')] без возвращения и без учёта порядка равняется 
p: img(src='img44.gif')
p и называется #[i числом сочетаний] из #[img(src='img18.gif')] элементов по #[img(src='img2.gif')] элементов.
| #[b Доказательство.] Согласно #[a(href='node3.html#co1') следствию 1], #[img(src='img2.gif')] различных номеров шаров можно упорядочить #[img(src='img45.gif')] способами. Поэтому из каждого набора, выбранного без возвращения и без учёта порядка, можно образовать #[img(src='img45.gif')] наборов, отличающихся друг от друга порядком следования номеров. Т.е. при выборе без возвращения и с учётом порядка возможно в #[img(src='img45.gif')] раз больше наборов, чем при выборе без учёта порядка. Поэтому число наборов при выборе без учёта порядка равно #[img(src='img46.gif')]
p QED
| #[b Упражнение 4.]Найти, сколько всего возможно различных результатов в следующих экспериментах: 
dl
	dt а)
	dd из колоды в 36 карт без возвращения, без учёта порядка вынимают три карты;
	dt б)
	dd из русского алфавита выбрасывают четыре буквы.
h3  Выбор с возвращением и с учётом порядка
| #[b  Теорема 4.] Общее количество различных наборов при выборе #[img(src='img2.gif')] элементов из #[img(src='img18.gif')] с возвращением и с учётом порядка равняется #[img(src='img47.gif')].#[b Доказательство.] Первый шар можно выбрать #[img(src='img18.gif')] способами. При каждом из этих способов второй шар можно выбрать также #[img(src='img18.gif')] способами, и так #[img(src='img2.gif')] раз. Общее число наборов равно #[img(src='img48.gif')].
p QED
| #[b Упражнение 5.]Найти, сколько всего возможно различных результатов в следующих экспериментах: 
dl
	dt а)
	dd из колоды в 36 карт тянут три раза карту с учётом порядка и с возвращением;
	dt б)
	dd пятизначное число составляется из одних нечётных цифр;
	dt в)
	dd обезьяна напечатала на машинке слово из десяти букв.
h3  Выбор с возвращением и без учёта порядка
| Рассмотрим урну с двумя пронумерованными шарами и перечислим результаты выбора двух шариков из этой урны при выборе с возвращением. 
p
	table: tbody
		tr
			td с учётом порядка
			td без учёта порядка
		tr
			td (1,1)
			td (1,1)
		tr
			td (2,2)
			td (2,2)
		tr
			td (1,2) (2,1)
			td       (1,2)
	p Видим, что в схеме «без учёта порядка» получилось три различных результата, в отличие от четырёх результатов в схеме «с учётом порядка». Заметим также, что никаким делением на «число каких-нибудь перестановок», которое помогло избавиться от учёта порядка при выборе без возвращения, число 3 из числа 4 получить не удастся.
| #[b   Теорема 5.] Общее количество различных наборов при выборе #[img(src='img2.gif')] элементов из #[img(src='img18.gif')] с возвращением и без учёта порядка равняется 
p: img(src='img49.gif')
| #[b Упражнение 6.]Проверить, что при #[img(src='img50.gif')] и #[img(src='img51.gif')] получается ровно 3.#[b Доказательство.] Рассмотрим подробно, чем отличаются друг от друга два разных результата такой схемы выбора. Нам не важен порядок номеров, т.е. мы учитываем только, сколько раз в нашем наборе из #[img(src='img2.gif')] номеров шаров появился каждый номер. Поэтому результат выбора можно представить набором чисел #[img(src='img52.gif')], в котором #[img(src='img53.gif')] — число появлений шара номер #[img(src='img54.gif')] в наборе, и #[img(src='img55.gif')]. Числа #[img(src='img53.gif')] принимают значения из #[img(src='img56.gif')]. Два результата выбора в схеме выбора с возвращением и без учёта порядка различаются, если соответствующие им наборы #[img(src='img52.gif')] не совпадают (порядок следования элементов #[img(src='img53.gif')] учитывается). 
p Представим себе другой эксперимент, имеющий точно такие же результаты, и посчитаем их количество. Есть #[img(src='img18.gif')] ящиков, в которых размещаются #[img(src='img2.gif')] шаров. Нас интересует только число шаров в каждом ящике. Результатом эксперимента снова является набор чисел #[img(src='img52.gif')], где #[img(src='img53.gif')] равно числу шаров в ящике с номером #[img(src='img54.gif')], и #[img(src='img55.gif')]. Числа #[img(src='img53.gif')] принимают натуральные значения или равны нулю.
p А теперь изобразим результат такого размещения в виде схемы, в которой вертикальные линии обозначают перегородки между ящиками, а точки — находящиеся в ящиках шары:
p: img(src='img17.gif')
p Мы видим результат размещения девяти шаров по семи ящикам. Первый ящик содержит три шара, второй и шестой ящики пусты, третий ящик содержит один шар, в четвёртом и пятом ящиках лежит по два шара. Переложим один шар из первого ящика во второй и изобразим таким же образом ещё два результата размещения:
p #[img(src='img16.gif')] #[img(src='img15.gif')]
p Видим, что все размещения можно получить, меняя между собой шары и перегородки, или расставляя #[img(src='img2.gif')] шаров на #[img(src='img57.gif')] местах. Число #[img(src='img57.gif')] получается так: у #[img(src='img18.gif')] ящиков есть ровно #[img(src='img58.gif')] перегородка, считая крайние, но из них перемещать можно лишь #[img(src='img33.gif')] внутреннюю перегородку. Таким образом, имеется #[img(src='img57.gif')] мест, которые можно занять шарами либо внутренними перегородками. Перебрав все возможные способы расставить #[img(src='img2.gif')] шаров на этих #[img(src='img57.gif')] местах (заполняя оставшиеся места перегородками), переберем все нужные размещения.
p Осталось заметить, что способов расставить #[img(src='img2.gif')] шаров на #[img(src='img57.gif')] местах существует
p: img(src='img49.gif')
| Именно столько есть способов выбрать из #[img(src='img57.gif')] номеров мест #[img(src='img2.gif')] номеров мест для шаров.#[b Упражнение 7.]
dl
	dt а)
	dd Найти количество способов разложить натуральное число #[img(src='img2.gif')] в сумму #[img(src='img18.gif')] целых неотрицательных слагаемых, если важен порядок следования этих слагаемых.
	dt б)
	dd Найти число различных производных порядка #[img(src='img2.gif')] функции #[img(src='img18.gif')] переменных.
	dt в)
	dd Найти число возможных результатов подбрасывания двух игральных костей, если кости считаются неразличимыми. То же самое для трёх игральных костей.